    
 
    <mat-horizontal-stepper [linear]="isLinear" #stepper *ngIf="!spinner">
      
      
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>codigo de verificación</ng-template>
          <mat-form-field>
            <input matInput placeholder="Este código llega al correo que registraste" 
                   formControlName="firstCtrl"
                   [(ngModel)]="codeVerify" name="codeVerify" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Pago de subscripción anual</ng-template>

              <div class="row">
                <mat-form-field class="col-md-12">
                    <input matInput placeholder="Número de la tarjeta" formControlName="secondCtrl" [(ngModel)]="card.number" name="number">
                </mat-form-field>
              </div>

              <div class="row">
                  <mat-form-field class="col-md-4">
                      <mat-select placeholder="Año Expiración" formControlName="secondCtrl" [(ngModel)]="card.exp_year" name="exp_year">
                      <mat-option value="2019">2019</mat-option>
                      <mat-option value="2020">2020</mat-option>
                      <mat-option value="2021">2021</mat-option>
                      <mat-option value="2022">2022</mat-option>
                      <mat-option value="2023">2023</mat-option>
                      <mat-option value="2024">2024</mat-option>
                      <mat-option value="2025">2025</mat-option>
                      <mat-option value="2026">2026</mat-option>
                      <mat-option value="2027">2027</mat-option>
                      <mat-option value="2028">2028</mat-option>
                      <mat-option value="2029">2029</mat-option>
                      <mat-option value="2030">2030</mat-option>
                      <mat-option value="2031">2031</mat-option>
                      <mat-option value="2032">2032</mat-option>
                      <mat-option value="2033">2033</mat-option>
                      <mat-option value="2034">2034</mat-option>
                      <mat-option value="2035">2035</mat-option>
                      <mat-option value="2036">2036</mat-option>
                      <mat-option value="2037">2037</mat-option>
                      <mat-option value="2038">2038</mat-option>
                      <mat-option value="2039">2039</mat-option>
                      <mat-option value="2040">2040</mat-option>
                      <mat-option value="2041">2041</mat-option>
                      <mat-option value="2042">2042</mat-option>
                      </mat-select>
                  </mat-form-field>

                  <mat-form-field class="col-md-4">
                      <mat-select placeholder="Mes Expiración" [(ngModel)]="card.exp_month" formControlName="secondCtrl" name="exp_month">
                      <mat-option value="01">01</mat-option>
                      <mat-option value="02">02</mat-option>
                      <mat-option value="03">03</mat-option>
                      <mat-option value="04">04</mat-option>
                      <mat-option value="05">05</mat-option>
                      <mat-option value="06">06</mat-option>
                      <mat-option value="07">07</mat-option>
                      <mat-option value="08">08</mat-option>
                      <mat-option value="09">09</mat-option>
                      <mat-option value="10">10</mat-option>
                      <mat-option value="11">11</mat-option>
                      <mat-option value="12">12</mat-option>
                      </mat-select>
                  </mat-form-field>

                  <mat-form-field class="col-md-4">
                      <input matInput placeholder="Código de Seguridad" formControlName="secondCtrl" [(ngModel)]="card.cvc" name="cvc">
                  </mat-form-field>
              </div>

              <p class="note-pay">
                  Al ingresar los datos de pago estás autorizando a Start a realizar una transacción recurrente de acuerdo
                  al plan seleccionado. Cada que se realice el cobro, tambien podras cancelar el plan cuando lo requieras y
                  recibirás una notificación con la transacción realizada.
              </p>
       
          <div>
            <button mat-button matStepperPrevious>Anterior</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>


      <mat-step>
        <ng-template matStepLabel>Enviar</ng-template>
        Listo para empezar!.
        <div>
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button (click)="sendActiveUser()">Enviar</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

    <div *ngIf="spinner">
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </div>
