@font-face {
	font-family: 'alico';
	src:url('../fonts/alico.eot?w8drmx');
	src:url('../fonts/alico.eot?w8drmx#iefix') format('embedded-opentype'),
		url('../fonts/alico.ttf?w8drmx') format('truetype'),
		url('../fonts/alico.woff?w8drmx') format('woff'),
		url('../fonts/alico.svg?w8drmx#alico') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'alico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mobile4:before {
	content: "\e000";
}
.icon-laptop4:before {
	content: "\e001";
}
.icon-desktop2:before {
	content: "\e002";
}
.icon-tablet4:before {
	content: "\e003";
}
.icon-phone5:before {
	content: "\e004";
}
.icon-document:before {
	content: "\e005";
}
.icon-documents:before {
	content: "\e006";
}
.icon-search4:before {
	content: "\e007";
}
.icon-clipboard7:before {
	content: "\e008";
}
.icon-newspaper2:before {
	content: "\e009";
}
.icon-notebook2:before {
	content: "\e00a";
}
.icon-book-open:before {
	content: "\e00b";
}
.icon-browser:before {
	content: "\e00c";
}
.icon-calendar6:before {
	content: "\e00d";
}
.icon-presentation2:before {
	content: "\e00e";
}
.icon-picture2:before {
	content: "\e00f";
}
.icon-pictures:before {
	content: "\e010";
}
.icon-video2:before {
	content: "\e011";
}
.icon-camera5:before {
	content: "\e012";
}
.icon-printer6:before {
	content: "\e013";
}
.icon-toolbox:before {
	content: "\e014";
}
.icon-briefcase5:before {
	content: "\e015";
}
.icon-wallet3:before {
	content: "\e016";
}
.icon-gift4:before {
	content: "\e017";
}
.icon-bargraph:before {
	content: "\e018";
}
.icon-grid:before {
	content: "\e019";
}
.icon-expand2:before {
	content: "\e01a";
}
.icon-focus:before {
	content: "\e01b";
}
.icon-edit2:before {
	content: "\e01c";
}
.icon-adjustments:before {
	content: "\e01d";
}
.icon-ribbon:before {
	content: "\e01e";
}
.icon-hourglass3:before {
	content: "\e01f";
}
.icon-lock3:before {
	content: "\e020";
}
.icon-megaphone3:before {
	content: "\e021";
}
.icon-shield5:before {
	content: "\e022";
}
.icon-trophy5:before {
	content: "\e023";
}
.icon-flag3:before {
	content: "\e024";
}
.icon-map3:before {
	content: "\e025";
}
.icon-puzzle5:before {
	content: "\e026";
}
.icon-basket2:before {
	content: "\e027";
}
.icon-envelope3:before {
	content: "\e028";
}
.icon-streetsign:before {
	content: "\e029";
}
.icon-telescope:before {
	content: "\e02a";
}
.icon-gears2:before {
	content: "\e02b";
}
.icon-key6:before {
	content: "\e02c";
}
.icon-paperclip3:before {
	content: "\e02d";
}
.icon-attachment3:before {
	content: "\e02e";
}
.icon-pricetags:before {
	content: "\e02f";
}
.icon-lightbulb:before {
	content: "\e030";
}
.icon-layers2:before {
	content: "\e031";
}
.icon-pencil3:before {
	content: "\e032";
}
.icon-tools:before {
	content: "\e033";
}
.icon-tools-2:before {
	content: "\e034";
}
.icon-scissors4:before {
	content: "\e035";
}
.icon-paintbrush:before {
	content: "\e036";
}
.icon-magnifying-glass:before {
	content: "\e037";
}
.icon-circle-compass:before {
	content: "\e038";
}
.icon-linegraph:before {
	content: "\e039";
}
.icon-mic2:before {
	content: "\e03a";
}
.icon-strategy2:before {
	content: "\e03b";
}
.icon-beaker:before {
	content: "\e03c";
}
.icon-caution:before {
	content: "\e03d";
}
.icon-recycle2:before {
	content: "\e03e";
}
.icon-anchor2:before {
	content: "\e03f";
}
.icon-profile-male:before {
	content: "\e040";
}
.icon-profile-female:before {
	content: "\e041";
}
.icon-bike2:before {
	content: "\e042";
}
.icon-wine:before {
	content: "\e043";
}
.icon-hotairballoon:before {
	content: "\e044";
}
.icon-globe2:before {
	content: "\e045";
}
.icon-genius:before {
	content: "\e046";
}
.icon-map-pin2:before {
	content: "\e047";
}
.icon-dial:before {
	content: "\e048";
}
.icon-chat:before {
	content: "\e049";
}
.icon-heart5:before {
	content: "\e04a";
}
.icon-cloud6:before {
	content: "\e04b";
}
.icon-upload2:before {
	content: "\e04c";
}
.icon-download2:before {
	content: "\e04d";
}
.icon-target4:before {
	content: "\e04e";
}
.icon-hazardous:before {
	content: "\e04f";
}
.icon-piechart:before {
	content: "\e050";
}
.icon-speedometer:before {
	content: "\e051";
}
.icon-global:before {
	content: "\e052";
}
.icon-compass4:before {
	content: "\e053";
}
.icon-lifesaver:before {
	content: "\e054";
}
.icon-clock2:before {
	content: "\e055";
}
.icon-aperture:before {
	content: "\e056";
}
.icon-quote:before {
	content: "\e057";
}
.icon-scope:before {
	content: "\e058";
}
.icon-alarmclock:before {
	content: "\e059";
}
.icon-refresh2:before {
	content: "\e05a";
}
.icon-happy:before {
	content: "\e05b";
}
.icon-sad:before {
	content: "\e05c";
}
.icon-facebook4:before {
	content: "\e05d";
}
.icon-twitter4:before {
	content: "\e05e";
}
.icon-googleplus:before {
	content: "\e05f";
}
.icon-rss2:before {
	content: "\e060";
}
.icon-tumblr2:before {
	content: "\e061";
}
.icon-linkedin3:before {
	content: "\e062";
}
.icon-dribbble4:before {
	content: "\e063";
}
.icon-7:before {
	content: "\e064";
}
.icon-296:before {
	content: "\e128";
}
.icon-297:before {
	content: "\e129";
}
.icon-298:before {
	content: "\e12a";
}
.icon-299:before {
	content: "\e12b";
}
.icon-300:before {
	content: "\e12c";
}
.icon-301:before {
	content: "\e12d";
}
.icon-302:before {
	content: "\e12e";
}
.icon-303:before {
	content: "\e12f";
}
.icon-304:before {
	content: "\e130";
}
.icon-305:before {
	content: "\e131";
}
.icon-307:before {
	content: "\e133";
}
.icon-308:before {
	content: "\e134";
}
.icon-309:before {
	content: "\e135";
}
.icon-311:before {
	content: "\e137";
}
.icon-314:before {
	content: "\e13a";
}
.icon-317:before {
	content: "\e13d";
}
.icon-322:before {
	content: "\e142";
}
.icon-323:before {
	content: "\e143";
}
.icon-324:before {
	content: "\e144";
}
.icon-325:before {
	content: "\e145";
}
.icon-326:before {
	content: "\e146";
}
.icon-327:before {
	content: "\e147";
}
.icon-328:before {
	content: "\e148";
}
.icon-329:before {
	content: "\e149";
}
.icon-330:before {
	content: "\e14a";
}
.icon-331:before {
	content: "\e14b";
}
.icon-337:before {
	content: "\e151";
}
.icon-338:before {
	content: "\e152";
}
.icon-339:before {
	content: "\e153";
}
.icon-340:before {
	content: "\e154";
}
.icon-341:before {
	content: "\e155";
}
.icon-342:before {
	content: "\e156";
}
.icon-343:before {
	content: "\e157";
}
.icon-344:before {
	content: "\e158";
}
.icon-345:before {
	content: "\e159";
}
.icon-346:before {
	content: "\e15a";
}
.icon-347:before {
	content: "\e15b";
}
.icon-348:before {
	content: "\e15c";
}
.icon-349:before {
	content: "\e15d";
}
.icon-350:before {
	content: "\e15e";
}
.icon-351:before {
	content: "\e15f";
}
.icon-352:before {
	content: "\e160";
}
.icon-353:before {
	content: "\e161";
}
.icon-355:before {
	content: "\e163";
}
.icon-356:before {
	content: "\e164";
}
.icon-357:before {
	content: "\e165";
}
.icon-358:before {
	content: "\e166";
}
.icon-359:before {
	content: "\e167";
}
.icon-361:before {
	content: "\e169";
}
.icon-363:before {
	content: "\e16b";
}
.icon-367:before {
	content: "\e16f";
}
.icon-368:before {
	content: "\e170";
}
.icon-369:before {
	content: "\e171";
}
.icon-370:before {
	content: "\e172";
}
.icon-371:before {
	content: "\e173";
}
.icon-377:before {
	content: "\e179";
}
.icon-378:before {
	content: "\e17a";
}
.icon-379:before {
	content: "\e17b";
}
.icon-385:before {
	content: "\e181";
}
.icon-421:before {
	content: "\e1a5";
}
.icon-422:before {
	content: "\e1a6";
}
.icon-423:before {
	content: "\e1a7";
}
.icon-424:before {
	content: "\e1a8";
}
.icon-425:before {
	content: "\e1a9";
}
.icon-426:before {
	content: "\e1aa";
}
.icon-427:before {
	content: "\e1ab";
}
.icon-429:before {
	content: "\e1ad";
}
.icon-433:before {
	content: "\e1b1";
}
.icon-435:before {
	content: "\e1b3";
}
.icon-436:before {
	content: "\e1b4";
}
.icon-440:before {
	content: "\e1b8";
}
.icon-441:before {
	content: "\e1b9";
}
.icon-442:before {
	content: "\e1ba";
}
.icon-444:before {
	content: "\e1bc";
}
.icon-446:before {
	content: "\e1be";
}
.icon-447:before {
	content: "\e1bf";
}
.icon-450:before {
	content: "\e1c2";
}
.icon-452:before {
	content: "\e1c4";
}
.icon-453:before {
	content: "\e1c5";
}
.icon-455:before {
	content: "\e1c7";
}
.icon-464:before {
	content: "\e1d0";
}
.icon-465:before {
	content: "\e1d1";
}
.icon-466:before {
	content: "\e1d2";
}
.icon-467:before {
	content: "\e1d3";
}
.icon-468:before {
	content: "\e1d4";
}
.icon-469:before {
	content: "\e1d5";
}
.icon-470:before {
	content: "\e1d6";
}
.icon-471:before {
	content: "\e1d7";
}
.icon-472:before {
	content: "\e1d8";
}
.icon-483:before {
	content: "\e1e3";
}
.icon-485:before {
	content: "\e1e5";
}
.icon-486:before {
	content: "\e1e6";
}
.icon-488:before {
	content: "\e1e8";
}
.icon-501:before {
	content: "\e1f5";
}
.icon-504:before {
	content: "\e1f8";
}
.icon-508:before {
	content: "\e1fc";
}
.icon-509:before {
	content: "\e1fd";
}
.icon-512:before {
	content: "\e200";
}
.icon-513:before {
	content: "\e201";
}
.icon-515:before {
	content: "\e203";
}
.icon-525:before {
	content: "\e20d";
}
.icon-526:before {
	content: "\e20e";
}
.icon-527:before {
	content: "\e20f";
}
.icon-528:before {
	content: "\e210";
}
.icon-533:before {
	content: "\e215";
}
.icon-534:before {
	content: "\e216";
}
.icon-535:before {
	content: "\e217";
}
.icon-538:before {
	content: "\e21a";
}
.icon-539:before {
	content: "\e21b";
}
.icon-549:before {
	content: "\e225";
}
.icon-552:before {
	content: "\e228";
}
.icon-553:before {
	content: "\e229";
}
.icon-554:before {
	content: "\e22a";
}
.icon-555:before {
	content: "\e22b";
}
.icon-556:before {
	content: "\e22c";
}
.icon-566:before {
	content: "\e236";
}
.icon-567:before {
	content: "\e237";
}
.icon-584:before {
	content: "\e248";
}
.icon-587:before {
	content: "\e24b";
}
.icon-588:before {
	content: "\e24c";
}
.icon-599:before {
	content: "\e257";
}
.icon-604:before {
	content: "\e25c";
}
.icon-605:before {
	content: "\e25d";
}
.icon-606:before {
	content: "\e25e";
}
.icon-607:before {
	content: "\e25f";
}
.icon-608:before {
	content: "\e260";
}
.icon-616:before {
	content: "\e268";
}
.icon-619:before {
	content: "\e26b";
}
.icon-home22:before {
	content: "\e931";
}
.icon-home3:before {
	content: "\e932";
}
.icon-home5:before {
	content: "\e934";
}
.icon-home6:before {
	content: "\e935";
}
.icon-office:before {
	content: "\e939";
}
.icon-city:before {
	content: "\e93a";
}
.icon-newspaper:before {
	content: "\e93b";
}
.icon-magazine:before {
	content: "\e93c";
}
.icon-design:before {
	content: "\e93d";
}
.icon-pencil2:before {
	content: "\e93e";
}
.icon-pencil6:before {
	content: "\e943";
}
.icon-pencil7:before {
	content: "\e944";
}
.icon-eraser22:before {
	content: "\e946";
}
.icon-quill2:before {
	content: "\e949";
}
.icon-quill3:before {
	content: "\e94a";
}
.icon-pen22:before {
	content: "\e94f";
}
.icon-pen5:before {
	content: "\e952";
}
.icon-marker2:before {
	content: "\e954";
}
.icon-blog:before {
	content: "\e955";
}
.icon-blog2:before {
	content: "\e956";
}
.icon-brush:before {
	content: "\e958";
}
.icon-spray:before {
	content: "\e959";
}
.icon-palette:before {
	content: "\e95a";
}
.icon-palette2:before {
	content: "\e95b";
}
.icon-color-sampler:before {
	content: "\e95c";
}
.icon-toggle:before {
	content: "\e95d";
}
.icon-bucket:before {
	content: "\e95e";
}
.icon-bucket2:before {
	content: "\e95f";
}
.icon-eyedropper2:before {
	content: "\e961";
}
.icon-eyedropper22:before {
	content: "\e962";
}
.icon-droplet:before {
	content: "\e964";
}
.icon-color-clear:before {
	content: "\e967";
}
.icon-paint-format:before {
	content: "\e968";
}
.icon-stamp:before {
	content: "\e969";
}
.icon-image22:before {
	content: "\e96c";
}
.icon-image-compare:before {
	content: "\e96d";
}
.icon-images2:before {
	content: "\e96e";
}
.icon-image3:before {
	content: "\e96f";
}
.icon-images3:before {
	content: "\e970";
}
.icon-camera3:before {
	content: "\e974";
}
.icon-camera22:before {
	content: "\e975";
}
.icon-camera32:before {
	content: "\e976";
}
.icon-headset:before {
	content: "\e979";
}
.icon-music3:before {
	content: "\e97a";
}
.icon-music4:before {
	content: "\e97d";
}
.icon-album:before {
	content: "\e980";
}
.icon-cassette:before {
	content: "\e981";
}
.icon-tape:before {
	content: "\e982";
}
.icon-piano:before {
	content: "\e983";
}
.icon-guitar:before {
	content: "\e984";
}
.icon-trumpet:before {
	content: "\e985";
}
.icon-speakers:before {
	content: "\e986";
}
.icon-play2:before {
	content: "\e987";
}
.icon-clapboard:before {
	content: "\e98a";
}
.icon-media:before {
	content: "\e98b";
}
.icon-presentation:before {
	content: "\e98c";
}
.icon-movie:before {
	content: "\e98d";
}
.icon-film2:before {
	content: "\e98e";
}
.icon-film22:before {
	content: "\e98f";
}
.icon-film3:before {
	content: "\e990";
}
.icon-film4:before {
	content: "\e991";
}
.icon-video-camera2:before {
	content: "\e992";
}
.icon-dice:before {
	content: "\e99a";
}
.icon-chess-king:before {
	content: "\e9a2";
}
.icon-chess-queen:before {
	content: "\e9a3";
}
.icon-chess-pawn:before {
	content: "\e9a7";
}
.icon-chess:before {
	content: "\e9a8";
}
.icon-bullhorn2:before {
	content: "\e9a9";
}
.icon-megaphone2:before {
	content: "\e9aa";
}
.icon-new:before {
	content: "\e9ab";
}
.icon-connection:before {
	content: "\e9ac";
}
.icon-connection2:before {
	content: "\e9ad";
}
.icon-connection3:before {
	content: "\e9ae";
}
.icon-connection4:before {
	content: "\e9af";
}
.icon-podcast:before {
	content: "\e9b0";
}
.icon-station:before {
	content: "\e9b1";
}
.icon-station2:before {
	content: "\e9b2";
}
.icon-antenna:before {
	content: "\e9b3";
}
.icon-satellite-dish:before {
	content: "\e9b4";
}
.icon-satellite-dish2:before {
	content: "\e9b5";
}
.icon-feed2:before {
	content: "\e9b6";
}
.icon-podcast2:before {
	content: "\e9b7";
}
.icon-mic:before {
	content: "\e9b9";
}
.icon-mic4:before {
	content: "\e9be";
}
.icon-mic5:before {
	content: "\e9bf";
}
.icon-book3:before {
	content: "\e9c3";
}
.icon-bookmark2:before {
	content: "\e9c4";
}
.icon-books:before {
	content: "\e9c5";
}
.icon-archive2:before {
	content: "\e9c6";
}
.icon-reading:before {
	content: "\e9c7";
}
.icon-library:before {
	content: "\e9c8";
}
.icon-library2:before {
	content: "\e9c9";
}
.icon-graduation:before {
	content: "\e9ca";
}
.icon-file-text2:before {
	content: "\e9cb";
}
.icon-profile:before {
	content: "\e9cc";
}
.icon-file-empty:before {
	content: "\e9cd";
}
.icon-file-empty2:before {
	content: "\e9ce";
}
.icon-files-empty:before {
	content: "\e9cf";
}
.icon-files-empty2:before {
	content: "\e9d0";
}
.icon-file-check:before {
	content: "\e9d9";
}
.icon-file-check2:before {
	content: "\e9da";
}
.icon-file-eye:before {
	content: "\e9db";
}
.icon-file-eye2:before {
	content: "\e9dc";
}
.icon-file-text22:before {
	content: "\e9dd";
}
.icon-file-text3:before {
	content: "\e9de";
}
.icon-file-picture:before {
	content: "\e9df";
}
.icon-file-picture2:before {
	content: "\e9e0";
}
.icon-file-music:before {
	content: "\e9e1";
}
.icon-file-music2:before {
	content: "\e9e2";
}
.icon-file-video:before {
	content: "\e9e5";
}
.icon-file-video2:before {
	content: "\e9e6";
}
.icon-copy2:before {
	content: "\e9e7";
}
.icon-copy22:before {
	content: "\e9e8";
}
.icon-file-xml:before {
	content: "\e9eb";
}
.icon-file-xml2:before {
	content: "\e9ec";
}
.icon-file-css:before {
	content: "\e9ed";
}
.icon-file-css2:before {
	content: "\e9ee";
}
.icon-file-presentation:before {
	content: "\e9ef";
}
.icon-file-presentation2:before {
	content: "\e9f0";
}
.icon-file-stats:before {
	content: "\e9f1";
}
.icon-file-stats2:before {
	content: "\e9f2";
}
.icon-file-locked:before {
	content: "\e9f3";
}
.icon-file-locked2:before {
	content: "\e9f4";
}
.icon-file-spreadsheet:before {
	content: "\e9f5";
}
.icon-file-spreadsheet2:before {
	content: "\e9f6";
}
.icon-paste2:before {
	content: "\e9f9";
}
.icon-paste22:before {
	content: "\e9fa";
}
.icon-paste3:before {
	content: "\e9fb";
}
.icon-stack2:before {
	content: "\e9fd";
}
.icon-stack22:before {
	content: "\e9fe";
}
.icon-stack3:before {
	content: "\e9ff";
}
.icon-certificate2:before {
	content: "\ea1b";
}
.icon-cc2:before {
	content: "\ea1c";
}
.icon-price-tag:before {
	content: "\ea1d";
}
.icon-price-tag2:before {
	content: "\ea1e";
}
.icon-price-tags:before {
	content: "\ea1f";
}
.icon-price-tag3:before {
	content: "\ea20";
}
.icon-price-tags2:before {
	content: "\ea21";
}
.icon-barcode22:before {
	content: "\ea27";
}
.icon-qrcode2:before {
	content: "\ea28";
}
.icon-ticket2:before {
	content: "\ea29";
}
.icon-ticket22:before {
	content: "\ea2a";
}
.icon-theater:before {
	content: "\ea2b";
}
.icon-store:before {
	content: "\ea2c";
}
.icon-store2:before {
	content: "\ea2d";
}
.icon-cart:before {
	content: "\ea2e";
}
.icon-cart2:before {
	content: "\ea2f";
}
.icon-cart3:before {
	content: "\ea30";
}
.icon-cart4:before {
	content: "\ea31";
}
.icon-cart5:before {
	content: "\ea32";
}
.icon-cart-add:before {
	content: "\ea33";
}
.icon-cart-add2:before {
	content: "\ea34";
}
.icon-cart-remove:before {
	content: "\ea35";
}
.icon-basket:before {
	content: "\ea36";
}
.icon-bag:before {
	content: "\ea37";
}
.icon-bag2:before {
	content: "\ea38";
}
.icon-percent:before {
	content: "\ea39";
}
.icon-coins:before {
	content: "\ea3a";
}
.icon-coin-dollar:before {
	content: "\ea3b";
}
.icon-coin-euro:before {
	content: "\ea3c";
}
.icon-coin-pound:before {
	content: "\ea3d";
}
.icon-coin-yen:before {
	content: "\ea3e";
}
.icon-piggy-bank:before {
	content: "\ea3f";
}
.icon-wallet2:before {
	content: "\ea40";
}
.icon-cash:before {
	content: "\ea41";
}
.icon-cash3:before {
	content: "\ea43";
}
.icon-credit-card2:before {
	content: "\ea45";
}
.icon-credit-card22:before {
	content: "\ea46";
}
.icon-calculator2:before {
	content: "\ea47";
}
.icon-calculator22:before {
	content: "\ea48";
}
.icon-calculator3:before {
	content: "\ea49";
}
.icon-chip:before {
	content: "\ea4a";
}
.icon-lifebuoy:before {
	content: "\ea4b";
}
.icon-phone3:before {
	content: "\ea4c";
}
.icon-phone22:before {
	content: "\ea4d";
}
.icon-phone-wave:before {
	content: "\ea4f";
}
.icon-phone32:before {
	content: "\ea56";
}
.icon-phone-wave2:before {
	content: "\ea58";
}
.icon-address-book:before {
	content: "\ea5b";
}
.icon-address-book2:before {
	content: "\ea5c";
}
.icon-address-book3:before {
	content: "\ea5d";
}
.icon-notebook:before {
	content: "\ea5e";
}
.icon-at-sign:before {
	content: "\ea5f";
}
.icon-mailbox:before {
	content: "\ea65";
}
.icon-pushpin:before {
	content: "\ea66";
}
.icon-pushpin2:before {
	content: "\ea67";
}
.icon-location2:before {
	content: "\ea68";
}
.icon-location22:before {
	content: "\ea69";
}
.icon-location3:before {
	content: "\ea6a";
}
.icon-location4:before {
	content: "\ea6b";
}
.icon-location5:before {
	content: "\ea6c";
}
.icon-location6:before {
	content: "\ea6d";
}
.icon-location7:before {
	content: "\ea6e";
}
.icon-compass2:before {
	content: "\ea6f";
}
.icon-compass22:before {
	content: "\ea70";
}
.icon-compass3:before {
	content: "\ea71";
}
.icon-map2:before {
	content: "\ea75";
}
.icon-map5:before {
	content: "\ea79";
}
.icon-direction:before {
	content: "\ea7a";
}
.icon-watch:before {
	content: "\ea81";
}
.icon-watch2:before {
	content: "\ea82";
}
.icon-alarm:before {
	content: "\ea83";
}
.icon-calendar3:before {
	content: "\ea8f";
}
.icon-calendar22:before {
	content: "\ea90";
}
.icon-calendar32:before {
	content: "\ea91";
}
.icon-calendar4:before {
	content: "\ea92";
}
.icon-calendar5:before {
	content: "\ea93";
}
.icon-printer:before {
	content: "\ea94";
}
.icon-printer2:before {
	content: "\ea95";
}
.icon-printer3:before {
	content: "\ea96";
}
.icon-printer4:before {
	content: "\ea97";
}
.icon-shredder:before {
	content: "\ea98";
}
.icon-keyboard:before {
	content: "\ea9d";
}
.icon-keyboard2:before {
	content: "\ea9e";
}
.icon-typewriter:before {
	content: "\ea9f";
}
.icon-display2:before {
	content: "\eaa0";
}
.icon-display22:before {
	content: "\eaa1";
}
.icon-display3:before {
	content: "\eaa2";
}
.icon-display4:before {
	content: "\eaa3";
}
.icon-laptop2:before {
	content: "\eaa4";
}
.icon-mobile2:before {
	content: "\eaa5";
}
.icon-mobile22:before {
	content: "\eaa6";
}
.icon-tablet2:before {
	content: "\eaa7";
}
.icon-mobile3:before {
	content: "\eaa8";
}
.icon-tv3:before {
	content: "\eaa9";
}
.icon-radio:before {
	content: "\eaaa";
}
.icon-cabinet:before {
	content: "\eaab";
}
.icon-drawer3:before {
	content: "\eab0";
}
.icon-box:before {
	content: "\eab1";
}
.icon-floppy-disk:before {
	content: "\eab6";
}
.icon-floppy-disk3:before {
	content: "\eaba";
}
.icon-disk:before {
	content: "\eabb";
}
.icon-usb-stick:before {
	content: "\eabd";
}
.icon-drive:before {
	content: "\eabe";
}
.icon-server2:before {
	content: "\eabf";
}
.icon-database2:before {
	content: "\eac0";
}
.icon-database22:before {
	content: "\eac1";
}
.icon-database3:before {
	content: "\eac2";
}
.icon-angle:before {
	content: "\eae0";
}
.icon-subtract:before {
	content: "\eae3";
}
.icon-interset:before {
	content: "\eae4";
}
.icon-align-left2:before {
	content: "\eae6";
}
.icon-align-center-horizontal:before {
	content: "\eae7";
}
.icon-align-right2:before {
	content: "\eae8";
}
.icon-align-top:before {
	content: "\eae9";
}
.icon-align-center-vertical:before {
	content: "\eaea";
}
.icon-align-bottom:before {
	content: "\eaeb";
}
.icon-bubble2:before {
	content: "\eaf1";
}
.icon-bubbles:before {
	content: "\eaf2";
}
.icon-bubbles2:before {
	content: "\eaf3";
}
.icon-bubble22:before {
	content: "\eaf4";
}
.icon-bubbles3:before {
	content: "\eaf5";
}
.icon-bubbles4:before {
	content: "\eaf6";
}
.icon-bubble-notification:before {
	content: "\eaf7";
}
.icon-bubbles5:before {
	content: "\eaf8";
}
.icon-bubbles6:before {
	content: "\eaf9";
}
.icon-bubble3:before {
	content: "\eafa";
}
.icon-bubble-dots:before {
	content: "\eafb";
}
.icon-bubble-lines:before {
	content: "\eafc";
}
.icon-bubble4:before {
	content: "\eafd";
}
.icon-bubble-dots2:before {
	content: "\eafe";
}
.icon-bubble-lines2:before {
	content: "\eaff";
}
.icon-bubble6:before {
	content: "\eb01";
}
.icon-bubbles7:before {
	content: "\eb02";
}
.icon-bubble8:before {
	content: "\eb05";
}
.icon-bubble-dots3:before {
	content: "\eb06";
}
.icon-bubble-lines3:before {
	content: "\eb07";
}
.icon-bubble9:before {
	content: "\eb08";
}
.icon-bubble-dots4:before {
	content: "\eb09";
}
.icon-bubble-lines4:before {
	content: "\eb0a";
}
.icon-bubbles9:before {
	content: "\eb0b";
}
.icon-bubbles10:before {
	content: "\eb0c";
}
.icon-bubble-blocked:before {
	content: "\eb0d";
}
.icon-bubble-quote:before {
	content: "\eb0e";
}
.icon-bubble-user:before {
	content: "\eb0f";
}
.icon-bubble-smiley:before {
	content: "\eb10";
}
.icon-bubble-check:before {
	content: "\eb11";
}
.icon-bubble-video:before {
	content: "\eb12";
}
.icon-bubble-link:before {
	content: "\eb13";
}
.icon-bubble-lock:before {
	content: "\eb14";
}
.icon-bubble-star:before {
	content: "\eb15";
}
.icon-bubble-heart:before {
	content: "\eb16";
}
.icon-bubble-paperclip:before {
	content: "\eb17";
}
.icon-bubble-cancel:before {
	content: "\eb18";
}
.icon-bubble-plus:before {
	content: "\eb19";
}
.icon-bubble-minus:before {
	content: "\eb1a";
}
.icon-bubble-notification2:before {
	content: "\eb1b";
}
.icon-bubble-left:before {
	content: "\eb1c";
}
.icon-bubble-right:before {
	content: "\eb1d";
}
.icon-bubble-first:before {
	content: "\eb1e";
}
.icon-user3:before {
	content: "\eb24";
}
.icon-users2:before {
	content: "\eb25";
}
.icon-user-lock:before {
	content: "\eb2a";
}
.icon-user-check:before {
	content: "\eb2b";
}
.icon-users3:before {
	content: "\eb2e";
}
.icon-user-lock2:before {
	content: "\eb33";
}
.icon-user-check2:before {
	content: "\eb34";
}
.icon-user32:before {
	content: "\eb35";
}
.icon-user6:before {
	content: "\eb38";
}
.icon-users4:before {
	content: "\eb39";
}
.icon-user-tie:before {
	content: "\eb3a";
}
.icon-collaboration:before {
	content: "\eb3d";
}
.icon-vcard:before {
	content: "\eb3e";
}
.icon-hat:before {
	content: "\eb3f";
}
.icon-bowtie:before {
	content: "\eb40";
}
.icon-tie:before {
	content: "\eb41";
}
.icon-hanger:before {
	content: "\eb42";
}
.icon-tshirt:before {
	content: "\eb43";
}
.icon-pants:before {
	content: "\eb44";
}
.icon-shorts:before {
	content: "\eb45";
}
.icon-sock:before {
	content: "\eb46";
}
.icon-laundry:before {
	content: "\eb47";
}
.icon-quotes-left:before {
	content: "\eb48";
}
.icon-quotes-right:before {
	content: "\eb49";
}
.icon-quotes-left2:before {
	content: "\eb4a";
}
.icon-quotes-right2:before {
	content: "\eb4b";
}
.icon-hour-glass:before {
	content: "\eb4c";
}
.icon-hour-glass2:before {
	content: "\eb4d";
}
.icon-hour-glass3:before {
	content: "\eb4e";
}
.icon-spinner2:before {
	content: "\eb4f";
}
.icon-spinner22:before {
	content: "\eb50";
}
.icon-spinner3:before {
	content: "\eb51";
}
.icon-spinner4:before {
	content: "\eb52";
}
.icon-spinner5:before {
	content: "\eb53";
}
.icon-spinner6:before {
	content: "\eb54";
}
.icon-spinner7:before {
	content: "\eb55";
}
.icon-spinner8:before {
	content: "\eb56";
}
.icon-spinner9:before {
	content: "\eb57";
}
.icon-spinner10:before {
	content: "\eb58";
}
.icon-spinner11:before {
	content: "\eb59";
}
.icon-microscope:before {
	content: "\eb5a";
}
.icon-binoculars2:before {
	content: "\eb5b";
}
.icon-binoculars22:before {
	content: "\eb5c";
}
.icon-search3:before {
	content: "\eb5d";
}
.icon-search22:before {
	content: "\eb60";
}
.icon-zoom-in2:before {
	content: "\eb61";
}
.icon-zoom-out2:before {
	content: "\eb62";
}
.icon-search32:before {
	content: "\eb63";
}
.icon-search5:before {
	content: "\eb67";
}
.icon-search6:before {
	content: "\eb68";
}
.icon-enlarge:before {
	content: "\eb69";
}
.icon-key3:before {
	content: "\eb77";
}
.icon-key22:before {
	content: "\eb78";
}
.icon-key32:before {
	content: "\eb79";
}
.icon-key4:before {
	content: "\eb7a";
}
.icon-key5:before {
	content: "\eb7b";
}
.icon-keyhole:before {
	content: "\eb7c";
}
.icon-safe:before {
	content: "\eb84";
}
.icon-wrench2:before {
	content: "\eb85";
}
.icon-wrench22:before {
	content: "\eb86";
}
.icon-wrench3:before {
	content: "\eb87";
}
.icon-equalizer:before {
	content: "\eb88";
}
.icon-equalizer2:before {
	content: "\eb89";
}
.icon-equalizer3:before {
	content: "\eb8a";
}
.icon-equalizer4:before {
	content: "\eb8b";
}
.icon-cog2:before {
	content: "\eb8c";
}
.icon-cogs2:before {
	content: "\eb8d";
}
.icon-factory:before {
	content: "\eb94";
}
.icon-hammer:before {
	content: "\eb95";
}
.icon-hammer-wrench:before {
	content: "\eb96";
}
.icon-knife:before {
	content: "\eb97";
}
.icon-screwdriver:before {
	content: "\eb98";
}
.icon-screwdriver2:before {
	content: "\eb99";
}
.icon-magic-wand:before {
	content: "\eb9a";
}
.icon-magic-wand2:before {
	content: "\eb9b";
}
.icon-pulse:before {
	content: "\eb9c";
}
.icon-pulse2:before {
	content: "\eb9d";
}
.icon-aid-kit:before {
	content: "\eb9e";
}
.icon-aid-kit2:before {
	content: "\eb9f";
}
.icon-stethoscope2:before {
	content: "\eba0";
}
.icon-ambulance2:before {
	content: "\eba1";
}
.icon-alarm2:before {
	content: "\eba2";
}
.icon-pandage:before {
	content: "\eba3";
}
.icon-pandage2:before {
	content: "\eba4";
}
.icon-bug2:before {
	content: "\eba5";
}
.icon-bug22:before {
	content: "\eba6";
}
.icon-syringe:before {
	content: "\eba7";
}
.icon-syringe2:before {
	content: "\eba8";
}
.icon-pill:before {
	content: "\eba9";
}
.icon-construction:before {
	content: "\ebaa";
}
.icon-traffic-cone:before {
	content: "\ebab";
}
.icon-traffic-lights:before {
	content: "\ebac";
}
.icon-pie-chart2:before {
	content: "\ebad";
}
.icon-pie-chart22:before {
	content: "\ebae";
}
.icon-pie-chart7:before {
	content: "\ebb3";
}
.icon-stats-dots:before {
	content: "\ebb4";
}
.icon-stats-bars:before {
	content: "\ebb5";
}
.icon-pie-chart8:before {
	content: "\ebb6";
}
.icon-stats-bars2:before {
	content: "\ebb7";
}
.icon-stats-bars3:before {
	content: "\ebb8";
}
.icon-stats-bars4:before {
	content: "\ebb9";
}
.icon-stats-bars5:before {
	content: "\ebba";
}
.icon-stats-bars6:before {
	content: "\ebbb";
}
.icon-chart:before {
	content: "\ebbc";
}
.icon-stats-growth:before {
	content: "\ebbd";
}
.icon-stats-decline:before {
	content: "\ebbe";
}
.icon-stats-growth2:before {
	content: "\ebbf";
}
.icon-stats-decline2:before {
	content: "\ebc0";
}
.icon-stairs-up:before {
	content: "\ebc1";
}
.icon-stairs-down:before {
	content: "\ebc2";
}
.icon-stairs:before {
	content: "\ebc3";
}
.icon-stairs2:before {
	content: "\ebc4";
}
.icon-ladder:before {
	content: "\ebc5";
}
.icon-rating:before {
	content: "\ebc6";
}
.icon-rating2:before {
	content: "\ebc7";
}
.icon-rating3:before {
	content: "\ebc8";
}
.icon-cake:before {
	content: "\ebc9";
}
.icon-podium:before {
	content: "\ebca";
}
.icon-stars:before {
	content: "\ebcb";
}
.icon-medal-star:before {
	content: "\ebcc";
}
.icon-medal:before {
	content: "\ebcd";
}
.icon-medal2:before {
	content: "\ebce";
}
.icon-medal-first:before {
	content: "\ebcf";
}
.icon-medal-second:before {
	content: "\ebd0";
}
.icon-medal-third:before {
	content: "\ebd1";
}
.icon-crown:before {
	content: "\ebd2";
}
.icon-trophy2:before {
	content: "\ebd3";
}
.icon-trophy22:before {
	content: "\ebd4";
}
.icon-trophy3:before {
	content: "\ebd5";
}
.icon-diamond3:before {
	content: "\ebd6";
}
.icon-diamond22:before {
	content: "\ebd7";
}
.icon-trophy4:before {
	content: "\ebd8";
}
.icon-gift2:before {
	content: "\ebd9";
}
.icon-gift22:before {
	content: "\ebda";
}
.icon-balloon:before {
	content: "\ebdb";
}
.icon-pipe:before {
	content: "\ebdc";
}
.icon-mustache:before {
	content: "\ebdd";
}
.icon-mustache2:before {
	content: "\ebde";
}
.icon-glass2:before {
	content: "\ebdf";
}
.icon-glass22:before {
	content: "\ebe0";
}
.icon-glass3:before {
	content: "\ebe1";
}
.icon-glass4:before {
	content: "\ebe2";
}
.icon-bottle:before {
	content: "\ebe3";
}
.icon-bottle2:before {
	content: "\ebe4";
}
.icon-bottle3:before {
	content: "\ebe5";
}
.icon-bottle4:before {
	content: "\ebe6";
}
.icon-mug:before {
	content: "\ebe7";
}
.icon-fork-knife:before {
	content: "\ebe8";
}
.icon-spoon-knife:before {
	content: "\ebe9";
}
.icon-cook:before {
	content: "\ebea";
}
.icon-plate:before {
	content: "\ebeb";
}
.icon-steak:before {
	content: "\ebec";
}
.icon-fish:before {
	content: "\ebed";
}
.icon-chicken:before {
	content: "\ebee";
}
.icon-hamburger:before {
	content: "\ebef";
}
.icon-pizza:before {
	content: "\ebf0";
}
.icon-cheese:before {
	content: "\ebf1";
}
.icon-bread:before {
	content: "\ebf2";
}
.icon-icecream:before {
	content: "\ebf3";
}
.icon-milk:before {
	content: "\ebf4";
}
.icon-cup2:before {
	content: "\ebf5";
}
.icon-cup22:before {
	content: "\ebf6";
}
.icon-coffee-baen:before {
	content: "\ebf7";
}
.icon-coffee2:before {
	content: "\ebf8";
}
.icon-teapot:before {
	content: "\ebf9";
}
.icon-leaf2:before {
	content: "\ebfa";
}
.icon-leaf22:before {
	content: "\ebfb";
}
.icon-apple2:before {
	content: "\ebfc";
}
.icon-grapes:before {
	content: "\ebfd";
}
.icon-cherry:before {
	content: "\ebfe";
}
.icon-tree2:before {
	content: "\ebff";
}
.icon-tree22:before {
	content: "\ec00";
}
.icon-tree3:before {
	content: "\ec01";
}
.icon-tree4:before {
	content: "\ec02";
}
.icon-cactus:before {
	content: "\ec03";
}
.icon-mountains:before {
	content: "\ec04";
}
.icon-paw2:before {
	content: "\ec05";
}
.icon-footprint:before {
	content: "\ec06";
}
.icon-tent:before {
	content: "\ec07";
}
.icon-flower:before {
	content: "\ec08";
}
.icon-flower2:before {
	content: "\ec09";
}
.icon-rocket2:before {
	content: "\ec0a";
}
.icon-meter:before {
	content: "\ec0b";
}
.icon-meter2:before {
	content: "\ec0c";
}
.icon-meter-slow:before {
	content: "\ec0d";
}
.icon-meter-medium:before {
	content: "\ec0e";
}
.icon-meter-fast:before {
	content: "\ec0f";
}
.icon-meter3:before {
	content: "\ec10";
}
.icon-hammer2:before {
	content: "\ec11";
}
.icon-balance:before {
	content: "\ec12";
}
.icon-scale:before {
	content: "\ec13";
}
.icon-bomb2:before {
	content: "\ec14";
}
.icon-fire3:before {
	content: "\ec15";
}
.icon-fire22:before {
	content: "\ec16";
}
.icon-lab2:before {
	content: "\ec17";
}
.icon-atom:before {
	content: "\ec18";
}
.icon-atom2:before {
	content: "\ec19";
}
.icon-magnet2:before {
	content: "\ec1a";
}
.icon-magnet22:before {
	content: "\ec1b";
}
.icon-dumbbell:before {
	content: "\ec1c";
}
.icon-skull:before {
	content: "\ec1d";
}
.icon-skull2:before {
	content: "\ec1e";
}
.icon-lamp:before {
	content: "\ec1f";
}
.icon-lamp2:before {
	content: "\ec20";
}
.icon-lamp3:before {
	content: "\ec21";
}
.icon-spotlight:before {
	content: "\ec22";
}
.icon-lamp4:before {
	content: "\ec23";
}
.icon-lamp5:before {
	content: "\ec24";
}
.icon-lamp6:before {
	content: "\ec25";
}
.icon-lamp7:before {
	content: "\ec26";
}
.icon-lamp8:before {
	content: "\ec27";
}
.icon-broom:before {
	content: "\ec28";
}
.icon-toiletpaper:before {
	content: "\ec29";
}
.icon-bin:before {
	content: "\ec2a";
}
.icon-bin2:before {
	content: "\ec2b";
}
.icon-bin3:before {
	content: "\ec2c";
}
.icon-bin4:before {
	content: "\ec2d";
}
.icon-bin5:before {
	content: "\ec2e";
}
.icon-briefcase2:before {
	content: "\ec2f";
}
.icon-briefcase22:before {
	content: "\ec30";
}
.icon-briefcase3:before {
	content: "\ec31";
}
.icon-paperplane2:before {
	content: "\ec36";
}
.icon-car2:before {
	content: "\ec37";
}
.icon-steering-wheel:before {
	content: "\ec38";
}
.icon-car22:before {
	content: "\ec39";
}
.icon-gas:before {
	content: "\ec3a";
}
.icon-bus2:before {
	content: "\ec3b";
}
.icon-truck3:before {
	content: "\ec3c";
}
.icon-bike:before {
	content: "\ec3d";
}
.icon-road2:before {
	content: "\ec3e";
}
.icon-train2:before {
	content: "\ec3f";
}
.icon-train22:before {
	content: "\ec40";
}
.icon-ship2:before {
	content: "\ec41";
}
.icon-boat:before {
	content: "\ec42";
}
.icon-chopper:before {
	content: "\ec43";
}
.icon-chopper2:before {
	content: "\ec44";
}
.icon-cube2:before {
	content: "\ec45";
}
.icon-cube22:before {
	content: "\ec46";
}
.icon-cube3:before {
	content: "\ec47";
}
.icon-cube4:before {
	content: "\ec48";
}
.icon-pyramid:before {
	content: "\ec49";
}
.icon-pyramid2:before {
	content: "\ec4a";
}
.icon-package:before {
	content: "\ec4b";
}
.icon-puzzle:before {
	content: "\ec4c";
}
.icon-puzzle2:before {
	content: "\ec4d";
}
.icon-puzzle3:before {
	content: "\ec4e";
}
.icon-puzzle4:before {
	content: "\ec4f";
}
.icon-glasses-3d:before {
	content: "\ec50";
}
.icon-glasses-3d2:before {
	content: "\ec51";
}
.icon-glasses:before {
	content: "\ec52";
}
.icon-glasses2:before {
	content: "\ec53";
}
.icon-brain:before {
	content: "\ec54";
}
.icon-accessibility:before {
	content: "\ec55";
}
.icon-accessibility2:before {
	content: "\ec56";
}
.icon-strategy:before {
	content: "\ec57";
}
.icon-target:before {
	content: "\ec58";
}
.icon-target2:before {
	content: "\ec59";
}
.icon-target3:before {
	content: "\ec5a";
}
.icon-ammo:before {
	content: "\ec5b";
}
.icon-gun:before {
	content: "\ec5c";
}
.icon-gun-forbidden:before {
	content: "\ec5d";
}
.icon-shield2:before {
	content: "\ec5e";
}
.icon-shield-check:before {
	content: "\ec5f";
}
.icon-shield-notice:before {
	content: "\ec60";
}
.icon-shield22:before {
	content: "\ec61";
}
.icon-shield3:before {
	content: "\ec62";
}
.icon-shield4:before {
	content: "\ec63";
}
.icon-soccer:before {
	content: "\ec64";
}
.icon-football:before {
	content: "\ec65";
}
.icon-archery:before {
	content: "\ec66";
}
.icon-bow:before {
	content: "\ec67";
}
.icon-sword:before {
	content: "\ec68";
}
.icon-tennis:before {
	content: "\ec69";
}
.icon-pingpong:before {
	content: "\ec6a";
}
.icon-baseball:before {
	content: "\ec6b";
}
.icon-basketball:before {
	content: "\ec6c";
}
.icon-golf:before {
	content: "\ec6d";
}
.icon-golf2:before {
	content: "\ec6e";
}
.icon-hockey:before {
	content: "\ec6f";
}
.icon-racing:before {
	content: "\ec70";
}
.icon-finish:before {
	content: "\ec71";
}
.icon-eight-ball:before {
	content: "\ec72";
}
.icon-bowling:before {
	content: "\ec73";
}
.icon-bowling2:before {
	content: "\ec74";
}
.icon-power:before {
	content: "\ec75";
}
.icon-power2:before {
	content: "\ec76";
}
.icon-power3:before {
	content: "\ec77";
}
.icon-switch:before {
	content: "\ec78";
}
.icon-switch2:before {
	content: "\ec79";
}
.icon-power-cord:before {
	content: "\ec7a";
}
.icon-power-cord2:before {
	content: "\ec7b";
}
.icon-outlet:before {
	content: "\ec7c";
}
.icon-clipboard2:before {
	content: "\ec7d";
}
.icon-clipboard22:before {
	content: "\ec7e";
}
.icon-clipboard3:before {
	content: "\ec7f";
}
.icon-clipboard4:before {
	content: "\ec80";
}
.icon-clipboard5:before {
	content: "\ec81";
}
.icon-clipboard6:before {
	content: "\ec82";
}
.icon-playlist:before {
	content: "\ec83";
}
.icon-playlist-add:before {
	content: "\ec84";
}
.icon-list-numbered:before {
	content: "\ec85";
}
.icon-list2:before {
	content: "\ec86";
}
.icon-more:before {
	content: "\ec88";
}
.icon-more2:before {
	content: "\ec89";
}
.icon-grid6:before {
	content: "\ec8f";
}
.icon-grid7:before {
	content: "\ec90";
}
.icon-tree5:before {
	content: "\ec91";
}
.icon-tree6:before {
	content: "\ec92";
}
.icon-tree7:before {
	content: "\ec93";
}
.icon-lan:before {
	content: "\ec94";
}
.icon-lan2:before {
	content: "\ec95";
}
.icon-lan3:before {
	content: "\ec96";
}
.icon-menu:before {
	content: "\ec97";
}
.icon-menu2:before {
	content: "\ec99";
}
.icon-menu3:before {
	content: "\ec9a";
}
.icon-menu7:before {
	content: "\ec9e";
}
.icon-menu8:before {
	content: "\ec9f";
}
.icon-menu9:before {
	content: "\eca0";
}
.icon-menu10:before {
	content: "\eca1";
}
.icon-cloud4:before {
	content: "\eca2";
}
.icon-cloud-download2:before {
	content: "\eca3";
}
.icon-cloud-upload2:before {
	content: "\eca4";
}
.icon-cloud-check:before {
	content: "\eca5";
}
.icon-cloud22:before {
	content: "\eca6";
}
.icon-cloud-check2:before {
	content: "\eca9";
}
.icon-sphere:before {
	content: "\ecbe";
}
.icon-sphere2:before {
	content: "\ecbf";
}
.icon-sphere3:before {
	content: "\ecc0";
}
.icon-planet:before {
	content: "\ecc1";
}
.icon-planet2:before {
	content: "\ecc2";
}
.icon-earth:before {
	content: "\ecc3";
}
.icon-earth2:before {
	content: "\ecc4";
}
.icon-earth3:before {
	content: "\ecc5";
}
.icon-link2:before {
	content: "\ecc6";
}
.icon-unlink2:before {
	content: "\ecc7";
}
.icon-link22:before {
	content: "\ecc8";
}
.icon-unlink22:before {
	content: "\ecc9";
}
.icon-flag2:before {
	content: "\ecd1";
}
.icon-flag22:before {
	content: "\ecd2";
}
.icon-flag5:before {
	content: "\ecd5";
}
.icon-flag6:before {
	content: "\ecd6";
}
.icon-attachment:before {
	content: "\ecd9";
}
.icon-attachment2:before {
	content: "\ecda";
}
.icon-eye3:before {
	content: "\ecdb";
}
.icon-eye-blocked:before {
	content: "\ecde";
}
.icon-eye4:before {
	content: "\ece3";
}
.icon-bookmarks:before {
	content: "\ece6";
}
.icon-bookmark4:before {
	content: "\ece7";
}
.icon-spotlight2:before {
	content: "\ece8";
}
.icon-starburst:before {
	content: "\ece9";
}
.icon-snowflake:before {
	content: "\ecea";
}
.icon-temperature:before {
	content: "\eceb";
}
.icon-temperature2:before {
	content: "\ecec";
}
.icon-weather-lightning:before {
	content: "\eced";
}
.icon-weather-lightning2:before {
	content: "\ecee";
}
.icon-weather-rain:before {
	content: "\ecef";
}
.icon-weather-rain2:before {
	content: "\ecf0";
}
.icon-weather-snow:before {
	content: "\ecf1";
}
.icon-weather-snow2:before {
	content: "\ecf2";
}
.icon-weather-cloud-wind:before {
	content: "\ecf3";
}
.icon-weather-cloud-wind2:before {
	content: "\ecf4";
}
.icon-weather-cloud-sun:before {
	content: "\ecf5";
}
.icon-weather-cloud-sun2:before {
	content: "\ecf6";
}
.icon-weather-cloudy:before {
	content: "\ecf7";
}
.icon-weather-cloudy2:before {
	content: "\ecf8";
}
.icon-weather-sun-wind:before {
	content: "\ecf9";
}
.icon-weather-sun-wind2:before {
	content: "\ecfa";
}
.icon-moon:before {
	content: "\ecfd";
}
.icon-day-night:before {
	content: "\ecfe";
}
.icon-day-night2:before {
	content: "\ecff";
}
.icon-weather-windy:before {
	content: "\ed00";
}
.icon-fan:before {
	content: "\ed01";
}
.icon-umbrella2:before {
	content: "\ed02";
}
.icon-sun3:before {
	content: "\ed03";
}
.icon-contrast:before {
	content: "\ed04";
}
.icon-brightness-contrast:before {
	content: "\ed05";
}
.icon-bed2:before {
	content: "\ed09";
}
.icon-bed22:before {
	content: "\ed0a";
}
.icon-furniture:before {
	content: "\ed0b";
}
.icon-chair:before {
	content: "\ed0c";
}
.icon-star-empty:before {
	content: "\ed0d";
}
.icon-star-empty2:before {
	content: "\ed0e";
}
.icon-star-full:before {
	content: "\ed0f";
}
.icon-star-empty3:before {
	content: "\ed10";
}
.icon-star-half2:before {
	content: "\ed11";
}
.icon-star-full2:before {
	content: "\ed12";
}
.icon-star3:before {
	content: "\ed13";
}
.icon-heart3:before {
	content: "\ed14";
}
.icon-heart22:before {
	content: "\ed15";
}
.icon-heart4:before {
	content: "\ed17";
}
.icon-heart-broken:before {
	content: "\ed18";
}
.icon-heart6:before {
	content: "\ed1a";
}
.icon-heart-broken2:before {
	content: "\ed1b";
}
.icon-heart8:before {
	content: "\ed1d";
}
.icon-heart-broken3:before {
	content: "\ed1e";
}
.icon-lips:before {
	content: "\ed1f";
}
.icon-lips2:before {
	content: "\ed20";
}
.icon-thumbs-up2:before {
	content: "\ed21";
}
.icon-thumbs-up22:before {
	content: "\ed22";
}
.icon-thumbs-down2:before {
	content: "\ed23";
}
.icon-thumbs-down22:before {
	content: "\ed24";
}
.icon-thumbs-up3:before {
	content: "\ed25";
}
.icon-thumbs-down3:before {
	content: "\ed26";
}
.icon-height:before {
	content: "\ed27";
}
.icon-man:before {
	content: "\ed28";
}
.icon-woman:before {
	content: "\ed29";
}
.icon-man-woman:before {
	content: "\ed2a";
}
.icon-male2:before {
	content: "\ed2b";
}
.icon-female2:before {
	content: "\ed2c";
}
.icon-peace:before {
	content: "\ed2d";
}
.icon-pointer:before {
	content: "\ed5d";
}
.icon-reminder:before {
	content: "\ed5e";
}
.icon-touch:before {
	content: "\ed62";
}
.icon-multitouch:before {
	content: "\ed63";
}
.icon-touch-zoom:before {
	content: "\ed64";
}
.icon-touch-pinch:before {
	content: "\ed65";
}
.icon-stack-empty:before {
	content: "\ed68";
}
.icon-stack-star:before {
	content: "\ed6b";
}
.icon-stack-picture:before {
	content: "\ed6c";
}
.icon-stack-cancel:before {
	content: "\ed6f";
}
.icon-stack-check:before {
	content: "\ed70";
}
.icon-stack-text:before {
	content: "\ed71";
}
.icon-stack-user:before {
	content: "\ed76";
}
.icon-stack4:before {
	content: "\ed77";
}
.icon-stack-music:before {
	content: "\ed78";
}
.icon-stack-play:before {
	content: "\ed79";
}
.icon-move:before {
	content: "\ed7a";
}
.icon-dots:before {
	content: "\ed7b";
}
.icon-warning2:before {
	content: "\ed7c";
}
.icon-warning22:before {
	content: "\ed7d";
}
.icon-notification:before {
	content: "\ed7e";
}
.icon-notification2:before {
	content: "\ed7f";
}
.icon-question3:before {
	content: "\ed82";
}
.icon-question4:before {
	content: "\ed83";
}
.icon-question6:before {
	content: "\ed85";
}
.icon-plus22:before {
	content: "\ed88";
}
.icon-minus22:before {
	content: "\ed89";
}
.icon-plus3:before {
	content: "\ed8a";
}
.icon-minus3:before {
	content: "\ed8b";
}
.icon-plus-circle2:before {
	content: "\ed8c";
}
.icon-minus-circle2:before {
	content: "\ed8d";
}
.icon-plus-circle22:before {
	content: "\ed8e";
}
.icon-minus-circle22:before {
	content: "\ed8f";
}
.icon-info2:before {
	content: "\ed90";
}
.icon-info22:before {
	content: "\ed91";
}
.icon-cancel-circle:before {
	content: "\ed92";
}
.icon-cancel-circle2:before {
	content: "\ed93";
}
.icon-blocked:before {
	content: "\ed94";
}
.icon-cancel-square:before {
	content: "\ed95";
}
.icon-cancel-square2:before {
	content: "\ed96";
}
.icon-cancel:before {
	content: "\ed97";
}
.icon-spam:before {
	content: "\ed98";
}
.icon-cross:before {
	content: "\ed99";
}
.icon-cross2:before {
	content: "\ed9a";
}
.icon-cross3:before {
	content: "\ed9b";
}
.icon-checkmark:before {
	content: "\ed9c";
}
.icon-checkmark2:before {
	content: "\ed9d";
}
.icon-checkmark3:before {
	content: "\ed9e";
}
.icon-checkmark4:before {
	content: "\ed9f";
}
.icon-checkmark5:before {
	content: "\eda0";
}
.icon-spell-check:before {
	content: "\eda1";
}
.icon-spell-check2:before {
	content: "\eda2";
}
.icon-wall:before {
	content: "\eda9";
}
.icon-fence:before {
	content: "\edaa";
}
.icon-play3:before {
	content: "\edab";
}
.icon-pause2:before {
	content: "\edac";
}
.icon-stop2:before {
	content: "\edad";
}
.icon-previous:before {
	content: "\edae";
}
.icon-next:before {
	content: "\edaf";
}
.icon-backward2:before {
	content: "\edb0";
}
.icon-forward22:before {
	content: "\edb1";
}
.icon-play4:before {
	content: "\edb2";
}
.icon-pause22:before {
	content: "\edb3";
}
.icon-stop22:before {
	content: "\edb4";
}
.icon-eject2:before {
	content: "\edbb";
}
.icon-loop2:before {
	content: "\edd6";
}
.icon-loop3:before {
	content: "\edd7";
}
.icon-infinite-square:before {
	content: "\edd8";
}
.icon-infinite:before {
	content: "\edd9";
}
.icon-infinite2:before {
	content: "\edda";
}
.icon-loop4:before {
	content: "\eddb";
}
.icon-shuffle:before {
	content: "\eddc";
}
.icon-shuffle2:before {
	content: "\eddd";
}
.icon-wave:before {
	content: "\edde";
}
.icon-wave2:before {
	content: "\eddf";
}
.icon-split:before {
	content: "\ede0";
}
.icon-merge:before {
	content: "\ede1";
}
.icon-arrow-up22:before {
	content: "\ede5";
}
.icon-arrow-up3:before {
	content: "\ede6";
}
.icon-arrow-up4:before {
	content: "\ede7";
}
.icon-arrow-right22:before {
	content: "\ede9";
}
.icon-arrow-right3:before {
	content: "\edea";
}
.icon-arrow-right4:before {
	content: "\edeb";
}
.icon-arrow-down22:before {
	content: "\eded";
}
.icon-arrow-down3:before {
	content: "\edee";
}
.icon-arrow-down4:before {
	content: "\edef";
}
.icon-arrow-left22:before {
	content: "\edf1";
}
.icon-arrow-left3:before {
	content: "\edf2";
}
.icon-arrow-left4:before {
	content: "\edf3";
}
.icon-arrow-up5:before {
	content: "\edf4";
}
.icon-arrow-right5:before {
	content: "\edf5";
}
.icon-arrow-down5:before {
	content: "\edf6";
}
.icon-arrow-left5:before {
	content: "\edf7";
}
.icon-arrow-up7:before {
	content: "\ee01";
}
.icon-arrow-right7:before {
	content: "\ee03";
}
.icon-arrow-down7:before {
	content: "\ee05";
}
.icon-arrow-left7:before {
	content: "\ee07";
}
.icon-arrow-up8:before {
	content: "\ee09";
}
.icon-arrow-right8:before {
	content: "\ee0b";
}
.icon-arrow-down8:before {
	content: "\ee0d";
}
.icon-arrow-left8:before {
	content: "\ee0f";
}
.icon-circle-up:before {
	content: "\ee10";
}
.icon-circle-right:before {
	content: "\ee11";
}
.icon-circle-down:before {
	content: "\ee12";
}
.icon-circle-left:before {
	content: "\ee13";
}
.icon-circle-up2:before {
	content: "\ee14";
}
.icon-circle-right2:before {
	content: "\ee15";
}
.icon-circle-down2:before {
	content: "\ee16";
}
.icon-circle-left2:before {
	content: "\ee17";
}
.icon-circle-up3:before {
	content: "\ee19";
}
.icon-circle-right3:before {
	content: "\ee1b";
}
.icon-circle-down3:before {
	content: "\ee1d";
}
.icon-circle-left3:before {
	content: "\ee1f";
}
.icon-circle-up4:before {
	content: "\ee21";
}
.icon-circle-right4:before {
	content: "\ee23";
}
.icon-circle-down4:before {
	content: "\ee25";
}
.icon-circle-left4:before {
	content: "\ee27";
}
.icon-arrow-up14:before {
	content: "\ee54";
}
.icon-arrow-right14:before {
	content: "\ee55";
}
.icon-arrow-down14:before {
	content: "\ee56";
}
.icon-arrow-left14:before {
	content: "\ee57";
}
.icon-arrow-up15:before {
	content: "\ee60";
}
.icon-arrow-right15:before {
	content: "\ee61";
}
.icon-arrow-down15:before {
	content: "\ee62";
}
.icon-arrow-left15:before {
	content: "\ee63";
}
.icon-backspace:before {
	content: "\ee70";
}
.icon-backspace2:before {
	content: "\ee71";
}
.icon-key-left:before {
	content: "\ee8e";
}
.icon-ctrl:before {
	content: "\ee91";
}
.icon-opt:before {
	content: "\ee92";
}
.icon-checkbox-checked:before {
	content: "\ee93";
}
.icon-checkbox-unchecked:before {
	content: "\ee94";
}
.icon-checkbox-partial:before {
	content: "\ee95";
}
.icon-square2:before {
	content: "\ee96";
}
.icon-checkbox-checked2:before {
	content: "\ee9b";
}
.icon-toggle-on2:before {
	content: "\eea1";
}
.icon-toggle-off2:before {
	content: "\eea2";
}
.icon-checkmark-circle:before {
	content: "\eea3";
}
.icon-circles:before {
	content: "\eea6";
}
.icon-circles2:before {
	content: "\eea7";
}
.icon-crop2:before {
	content: "\eea8";
}
.icon-crop22:before {
	content: "\eea9";
}
.icon-make-group:before {
	content: "\eeaa";
}
.icon-ungroup:before {
	content: "\eeab";
}
.icon-vector:before {
	content: "\eeac";
}
.icon-vector2:before {
	content: "\eead";
}
.icon-rulers:before {
	content: "\eeae";
}
.icon-ruler:before {
	content: "\eeaf";
}
.icon-pencil-ruler:before {
	content: "\eeb0";
}
.icon-scissors2:before {
	content: "\eeb1";
}
.icon-scissors22:before {
	content: "\eeb2";
}
.icon-scissors3:before {
	content: "\eeb3";
}
.icon-haircut:before {
	content: "\eeb4";
}
.icon-comb:before {
	content: "\eeb5";
}
.icon-filter2:before {
	content: "\eeb6";
}
.icon-filter22:before {
	content: "\eeb7";
}
.icon-font2:before {
	content: "\eeba";
}
.icon-ampersand:before {
	content: "\eebb";
}
.icon-ligature:before {
	content: "\eebc";
}
.icon-ligature2:before {
	content: "\eebd";
}
.icon-font-size:before {
	content: "\eebe";
}
.icon-typography:before {
	content: "\eebf";
}
.icon-text-height2:before {
	content: "\eec0";
}
.icon-text-width2:before {
	content: "\eec1";
}
.icon-height2:before {
	content: "\eec2";
}
.icon-width:before {
	content: "\eec3";
}
.icon-bold2:before {
	content: "\eec4";
}
.icon-strikethrough3:before {
	content: "\eecd";
}
.icon-omega:before {
	content: "\eece";
}
.icon-sigma:before {
	content: "\eecf";
}
.icon-nbsp:before {
	content: "\eed0";
}
.icon-page-break:before {
	content: "\eed1";
}
.icon-page-break2:before {
	content: "\eed2";
}
.icon-superscript2:before {
	content: "\eed3";
}
.icon-subscript2:before {
	content: "\eed4";
}
.icon-highlight:before {
	content: "\eed8";
}
.icon-pagebreak:before {
	content: "\eed9";
}
.icon-clear-formatting:before {
	content: "\eeda";
}
.icon-table2:before {
	content: "\eedb";
}
.icon-table22:before {
	content: "\eedc";
}
.icon-insert-template:before {
	content: "\eedd";
}
.icon-section:before {
	content: "\eee3";
}
.icon-paragraph-left:before {
	content: "\eee4";
}
.icon-paragraph-center:before {
	content: "\eee5";
}
.icon-paragraph-right:before {
	content: "\eee6";
}
.icon-paragraph-justify:before {
	content: "\eee7";
}
.icon-paragraph-justify2:before {
	content: "\eeeb";
}
.icon-paragraph-justify3:before {
	content: "\eef1";
}
.icon-popout:before {
	content: "\eef8";
}
.icon-embed:before {
	content: "\eef9";
}
.icon-embed2:before {
	content: "\eefa";
}
.icon-code2:before {
	content: "\eefe";
}
.icon-circle-css:before {
	content: "\eeff";
}
.icon-circle-code:before {
	content: "\ef00";
}
.icon-terminal2:before {
	content: "\ef01";
}
.icon-seven-segment-0:before {
	content: "\ef03";
}
.icon-seven-segment-1:before {
	content: "\ef04";
}
.icon-seven-segment-2:before {
	content: "\ef05";
}
.icon-seven-segment-3:before {
	content: "\ef06";
}
.icon-seven-segment-4:before {
	content: "\ef07";
}
.icon-seven-segment-5:before {
	content: "\ef08";
}
.icon-seven-segment-6:before {
	content: "\ef09";
}
.icon-seven-segment-7:before {
	content: "\ef0a";
}
.icon-seven-segment-8:before {
	content: "\ef0b";
}
.icon-seven-segment-9:before {
	content: "\ef0c";
}
.icon-share3:before {
	content: "\ef0d";
}
.icon-share4:before {
	content: "\ef0e";
}
.icon-google2:before {
	content: "\ef13";
}
.icon-google-plus2:before {
	content: "\ef14";
}
.icon-google-plus22:before {
	content: "\ef15";
}
.icon-google-plus3:before {
	content: "\ef16";
}
.icon-facebook2:before {
	content: "\ef18";
}
.icon-facebook22:before {
	content: "\ef19";
}
.icon-facebook3:before {
	content: "\ef1a";
}
.icon-instagram2:before {
	content: "\ef1c";
}
.icon-twitter2:before {
	content: "\ef1d";
}
.icon-feed22:before {
	content: "\ef20";
}
.icon-feed3:before {
	content: "\ef21";
}
.icon-feed4:before {
	content: "\ef22";
}
.icon-youtube3:before {
	content: "\ef25";
}
.icon-youtube4:before {
	content: "\ef26";
}
.icon-dribbble2:before {
	content: "\ef32";
}
.icon-dribbble22:before {
	content: "\ef33";
}
.icon-dropbox2:before {
	content: "\ef3b";
}
.icon-wordpress2:before {
	content: "\ef42";
}
.icon-wordpress22:before {
	content: "\ef43";
}
.icon-blogger:before {
	content: "\ef45";
}
.icon-blogger2:before {
	content: "\ef46";
}
.icon-finder:before {
	content: "\ef4c";
}
.icon-android2:before {
	content: "\ef4d";
}
.icon-windows2:before {
	content: "\ef4e";
}
.icon-windows8:before {
	content: "\ef4f";
}
.icon-soundcloud2:before {
	content: "\ef50";
}
.icon-soundcloud22:before {
	content: "\ef51";
}
.icon-skype2:before {
	content: "\ef52";
}
.icon-reddit2:before {
	content: "\ef53";
}
.icon-linkedin2:before {
	content: "\ef54";
}
.icon-linkedin22:before {
	content: "\ef55";
}
.icon-stackoverflow:before {
	content: "\ef5b";
}
.icon-pinterest2:before {
	content: "\ef5c";
}
.icon-pinterest22:before {
	content: "\ef5d";
}
.icon-paypal2:before {
	content: "\ef62";
}
.icon-paypal22:before {
	content: "\ef63";
}
.icon-file-pdf:before {
	content: "\ef66";
}
.icon-file-openoffice:before {
	content: "\ef67";
}
.icon-file-word:before {
	content: "\ef68";
}
.icon-file-excel:before {
	content: "\ef69";
}
.icon-libreoffice:before {
	content: "\ef6a";
}
.icon-html52:before {
	content: "\ef6b";
}
.icon-html522:before {
	content: "\ef6c";
}
.icon-git2:before {
	content: "\ef6e";
}
.icon-codepen2:before {
	content: "\ef70";
}
.icon-firefox2:before {
	content: "\ef72";
}
.icon-home10:before {
	content: "\e846";
}
.icon-apartment:before {
	content: "\e847";
}
.icon-pencil8:before {
	content: "\e848";
}
.icon-magic-wand3:before {
	content: "\e849";
}
.icon-drop:before {
	content: "\e84a";
}
.icon-lighter:before {
	content: "\e84b";
}
.icon-poop:before {
	content: "\e84c";
}
.icon-sun4:before {
	content: "\e84d";
}
.icon-moon2:before {
	content: "\e84e";
}
.icon-cloud5:before {
	content: "\e84f";
}
.icon-cloud-upload3:before {
	content: "\e850";
}
.icon-cloud-download3:before {
	content: "\e851";
}
.icon-cloud-sync:before {
	content: "\e852";
}
.icon-cloud-check3:before {
	content: "\e853";
}
.icon-database5:before {
	content: "\e854";
}
.icon-lock6:before {
	content: "\e855";
}
.icon-cog8:before {
	content: "\e856";
}
.icon-trash3:before {
	content: "\e857";
}
.icon-dice2:before {
	content: "\e858";
}
.icon-heart9:before {
	content: "\e859";
}
.icon-star4:before {
	content: "\e85a";
}
.icon-star-half3:before {
	content: "\e85b";
}
.icon-star-empty4:before {
	content: "\e85c";
}
.icon-flag9:before {
	content: "\e85d";
}
.icon-envelope2:before {
	content: "\e85e";
}
.icon-paperclip2:before {
	content: "\e85f";
}
.icon-inbox2:before {
	content: "\e860";
}
.icon-eye5:before {
	content: "\e861";
}
.icon-printer5:before {
	content: "\e862";
}
.icon-file-empty3:before {
	content: "\e863";
}
.icon-file-add:before {
	content: "\e864";
}
.icon-enter7:before {
	content: "\e865";
}
.icon-exit4:before {
	content: "\e866";
}
.icon-graduation-hat:before {
	content: "\e867";
}
.icon-license:before {
	content: "\e868";
}
.icon-music-note:before {
	content: "\e869";
}
.icon-film-play:before {
	content: "\e86a";
}
.icon-camera-video:before {
	content: "\e86b";
}
.icon-camera4:before {
	content: "\e86c";
}
.icon-picture:before {
	content: "\e86d";
}
.icon-book4:before {
	content: "\e86e";
}
.icon-bookmark5:before {
	content: "\e86f";
}
.icon-user8:before {
	content: "\e870";
}
.icon-users6:before {
	content: "\e871";
}
.icon-shirt:before {
	content: "\e872";
}
.icon-store3:before {
	content: "\e873";
}
.icon-cart6:before {
	content: "\e874";
}
.icon-tag3:before {
	content: "\e875";
}
.icon-phone-handset:before {
	content: "\e876";
}
.icon-phone4:before {
	content: "\e877";
}
.icon-pushpin3:before {
	content: "\e878";
}
.icon-map-marker2:before {
	content: "\e879";
}
.icon-map6:before {
	content: "\e87a";
}
.icon-location8:before {
	content: "\e87b";
}
.icon-calendar-full:before {
	content: "\e87c";
}
.icon-keyboard3:before {
	content: "\e87d";
}
.icon-spell-check3:before {
	content: "\e87e";
}
.icon-screen:before {
	content: "\e87f";
}
.icon-smartphone:before {
	content: "\e880";
}
.icon-tablet3:before {
	content: "\e881";
}
.icon-laptop3:before {
	content: "\e882";
}
.icon-laptop-phone:before {
	content: "\e883";
}
.icon-power-switch:before {
	content: "\e884";
}
.icon-bubble10:before {
	content: "\e885";
}
.icon-heart-pulse:before {
	content: "\e886";
}
.icon-construction2:before {
	content: "\e887";
}
.icon-pie-chart9:before {
	content: "\e888";
}
.icon-chart-bars:before {
	content: "\e889";
}
.icon-gift3:before {
	content: "\e88a";
}
.icon-diamond5:before {
	content: "\e88b";
}
.icon-linearicons:before {
	content: "\e88c";
}
.icon-dinner:before {
	content: "\e88d";
}
.icon-coffee-cup:before {
	content: "\e88e";
}
.icon-leaf3:before {
	content: "\e88f";
}
.icon-paw3:before {
	content: "\e890";
}
.icon-rocket3:before {
	content: "\e891";
}
.icon-briefcase4:before {
	content: "\e892";
}
.icon-bus3:before {
	content: "\e893";
}
.icon-car3:before {
	content: "\e894";
}
.icon-train3:before {
	content: "\e895";
}
.icon-bicycle2:before {
	content: "\e896";
}
.icon-wheelchair2:before {
	content: "\e897";
}
.icon-select3:before {
	content: "\e898";
}
.icon-earth4:before {
	content: "\e899";
}
.icon-smile3:before {
	content: "\e89a";
}
.icon-sad3:before {
	content: "\e89b";
}
.icon-neutral3:before {
	content: "\e89c";
}
.icon-mustache3:before {
	content: "\e89d";
}
.icon-alarm3:before {
	content: "\e89e";
}
.icon-bullhorn3:before {
	content: "\e89f";
}
.icon-volume-high3:before {
	content: "\e8a0";
}
.icon-volume-medium4:before {
	content: "\e8a1";
}
.icon-volume-low3:before {
	content: "\e8a2";
}
.icon-volume:before {
	content: "\e8a3";
}
.icon-mic6:before {
	content: "\e8a4";
}
.icon-hourglass2:before {
	content: "\e8a5";
}
.icon-undo3:before {
	content: "\e8a6";
}
.icon-redo3:before {
	content: "\e8a7";
}
.icon-sync:before {
	content: "\e8a8";
}
.icon-history3:before {
	content: "\e8a9";
}
.icon-clock5:before {
	content: "\e8aa";
}
.icon-download11:before {
	content: "\e8ab";
}
.icon-upload11:before {
	content: "\e8ac";
}
.icon-enter-down:before {
	content: "\e8ad";
}
.icon-exit-up:before {
	content: "\e8ae";
}
.icon-bug3:before {
	content: "\e8af";
}
.icon-code3:before {
	content: "\e8b0";
}
.icon-link6:before {
	content: "\e8b1";
}
.icon-unlink6:before {
	content: "\e8b2";
}
.icon-thumbs-up4:before {
	content: "\e8b3";
}
.icon-thumbs-down4:before {
	content: "\e8b4";
}
.icon-magnifier:before {
	content: "\e8b5";
}
.icon-cross4:before {
	content: "\e8b6";
}
.icon-menu11:before {
	content: "\e8b7";
}
.icon-list3:before {
	content: "\e8b8";
}
.icon-chevron-up2:before {
	content: "\e8b9";
}
.icon-chevron-down2:before {
	content: "\e8ba";
}
.icon-chevron-left2:before {
	content: "\e8bb";
}
.icon-chevron-right2:before {
	content: "\e8bc";
}
.icon-arrow-up17:before {
	content: "\e8bd";
}
.icon-arrow-down17:before {
	content: "\e8be";
}
.icon-arrow-left17:before {
	content: "\e8bf";
}
.icon-arrow-right17:before {
	content: "\e8c0";
}
.icon-move2:before {
	content: "\e8c1";
}
.icon-warning3:before {
	content: "\e8c2";
}
.icon-question-circle2:before {
	content: "\e8c3";
}
.icon-menu-circle:before {
	content: "\e8c4";
}
.icon-checkmark-circle2:before {
	content: "\e8c5";
}
.icon-cross-circle:before {
	content: "\e8c6";
}
.icon-plus-circle3:before {
	content: "\e8c7";
}
.icon-circle-minus:before {
	content: "\e8c8";
}
.icon-arrow-up-circle:before {
	content: "\e8c9";
}
.icon-arrow-down-circle:before {
	content: "\e8ca";
}
.icon-arrow-left-circle:before {
	content: "\e8cb";
}
.icon-arrow-right-circle:before {
	content: "\e8cc";
}
.icon-chevron-up-circle:before {
	content: "\e8cd";
}
.icon-chevron-down-circle:before {
	content: "\e8ce";
}
.icon-chevron-left-circle:before {
	content: "\e8cf";
}
.icon-chevron-right-circle:before {
	content: "\e8d0";
}
.icon-crop3:before {
	content: "\e8d1";
}
.icon-frame-expand:before {
	content: "\e8d2";
}
.icon-frame-contract:before {
	content: "\e8d3";
}
.icon-layers:before {
	content: "\e8d4";
}
.icon-funnel:before {
	content: "\e8d5";
}
.icon-text-format:before {
	content: "\e8d6";
}
.icon-text-format-remove:before {
	content: "\e8d7";
}
.icon-text-size:before {
	content: "\e8d8";
}
.icon-bold3:before {
	content: "\e8d9";
}
.icon-italic3:before {
	content: "\e8da";
}
.icon-underline3:before {
	content: "\e8db";
}
.icon-strikethrough4:before {
	content: "\e8dc";
}
.icon-highlight2:before {
	content: "\e8dd";
}
.icon-text-align-left:before {
	content: "\e8de";
}
.icon-text-align-center:before {
	content: "\e8df";
}
.icon-text-align-right:before {
	content: "\e8e0";
}
.icon-text-align-justify:before {
	content: "\e8e1";
}
.icon-line-spacing:before {
	content: "\e8e2";
}
.icon-indent-increase3:before {
	content: "\e8e3";
}
.icon-indent-decrease3:before {
	content: "\e8e4";
}
.icon-pilcrow2:before {
	content: "\e8e5";
}
.icon-direction-ltr:before {
	content: "\e8e6";
}
.icon-direction-rtl:before {
	content: "\e8e7";
}
.icon-page-break3:before {
	content: "\e8e8";
}
.icon-sort-alpha-asc3:before {
	content: "\e8e9";
}
.icon-sort-amount-asc3:before {
	content: "\e8ea";
}
.icon-hand2:before {
	content: "\e8eb";
}
.icon-pointer-up:before {
	content: "\e8ec";
}
.icon-pointer-right:before {
	content: "\e8ed";
}
.icon-pointer-down:before {
	content: "\e8ee";
}
.icon-pointer-left:before {
	content: "\e8ef";
}
.icon-contentmarketing2:before {
	content: "\e800";
}
.icon-conversion2:before {
	content: "\e801";
}
.icon-conversion3:before {
	content: "\e802";
}
.icon-emailmarketing2:before {
	content: "\e803";
}
.icon-ppc2:before {
	content: "\e804";
}
.icon-reputation2:before {
	content: "\e805";
}
.icon-sem2:before {
	content: "\e806";
}
.icon-seo2:before {
	content: "\e807";
}
.icon-seolocal:before {
	content: "\e808";
}
.icon-smm2:before {
	content: "\e809";
}
.icon-affiliatemarketing:before {
	content: "\e80a";
}
.icon-analytics:before {
	content: "\e80b";
}
.icon-article:before {
	content: "\e80c";
}
.icon-bookmarking:before {
	content: "\e80d";
}
.icon-branding:before {
	content: "\e80e";
}
.icon-cart-ecomm:before {
	content: "\e80f";
}
.icon-casestudy:before {
	content: "\e810";
}
.icon-cloud:before {
	content: "\e811";
}
.icon-community:before {
	content: "\e812";
}
.icon-content:before {
	content: "\e813";
}
.icon-contentmarketing:before {
	content: "\e814";
}
.icon-conversionoptimization:before {
	content: "\e815";
}
.icon-copywriting:before {
	content: "\e816";
}
.icon-csv:before {
	content: "\e817";
}
.icon-directorysubmission:before {
	content: "\e818";
}
.icon-emailmarketing:before {
	content: "\e819";
}
.icon-engagement:before {
	content: "\e81a";
}
.icon-features:before {
	content: "\e81b";
}
.icon-flashseo:before {
	content: "\e81c";
}
.icon-geotargeting:before {
	content: "\e81d";
}
.icon-html:before {
	content: "\e81e";
}
.icon-idea:before {
	content: "\e81f";
}
.icon-keyword:before {
	content: "\e820";
}
.icon-landingpageseo:before {
	content: "\e821";
}
.icon-linkbuilding:before {
	content: "\e822";
}
.icon-mobilemarketing:before {
	content: "\e823";
}
.icon-monetizing:before {
	content: "\e824";
}
.icon-monitoring:before {
	content: "\e825";
}
.icon-online:before {
	content: "\e826";
}
.icon-pagespeed:before {
	content: "\e827";
}
.icon-partners:before {
	content: "\e828";
}
.icon-place:before {
	content: "\e829";
}
.icon-portfolio:before {
	content: "\e82a";
}
.icon-ppc:before {
	content: "\e82b";
}
.icon-pressrelease:before {
	content: "\e82c";
}
.icon-pricing:before {
	content: "\e82d";
}
.icon-promoting:before {
	content: "\e82e";
}
.icon-reputationmanagement:before {
	content: "\e82f";
}
.icon-revenues:before {
	content: "\e830";
}
.icon-scheduling:before {
	content: "\e831";
}
.icon-seo:before {
	content: "\e832";
}
.icon-seoconsulting:before {
	content: "\e833";
}
.icon-seoinnerpage:before {
	content: "\e834";
}
.icon-seopackage:before {
	content: "\e835";
}
.icon-seotags:before {
	content: "\e836";
}
.icon-services:before {
	content: "\e837";
}
.icon-setting:before {
	content: "\e838";
}
.icon-set-up:before {
	content: "\e839";
}
.icon-sharing:before {
	content: "\e83a";
}
.icon-smm:before {
	content: "\e83b";
}
.icon-social:before {
	content: "\e83c";
}
.icon-solution:before {
	content: "\e83d";
}
.icon-targeting:before {
	content: "\e83e";
}
.icon-team:before {
	content: "\e83f";
}
.icon-testimonial:before {
	content: "\e840";
}
.icon-training:before {
	content: "\e841";
}
.icon-videomarketing:before {
	content: "\e842";
}
.icon-webdevelopment:before {
	content: "\e843";
}
.icon-webocr:before {
	content: "\e844";
}
.icon-websiteoptimization:before {
	content: "\e845";
}
.icon-heart:before {
	content: "\e900";
}
.icon-cloud2:before {
	content: "\e901";
}
.icon-star:before {
	content: "\e902";
}
.icon-tv2:before {
	content: "\e903";
}
.icon-sound:before {
	content: "\e904";
}
.icon-video:before {
	content: "\e905";
}
.icon-trash:before {
	content: "\e906";
}
.icon-user:before {
	content: "\e907";
}
.icon-key:before {
	content: "\e908";
}
.icon-search:before {
	content: "\e909";
}
.icon-settings:before {
	content: "\e90a";
}
.icon-camera:before {
	content: "\e90b";
}
.icon-tag:before {
	content: "\e90c";
}
.icon-lock:before {
	content: "\e90d";
}
.icon-bulb:before {
	content: "\e90e";
}
.icon-pen:before {
	content: "\e90f";
}
.icon-diamond:before {
	content: "\e910";
}
.icon-display:before {
	content: "\e911";
}
.icon-location:before {
	content: "\e912";
}
.icon-eye:before {
	content: "\e913";
}
.icon-bubble:before {
	content: "\e914";
}
.icon-stack:before {
	content: "\e915";
}
.icon-cup:before {
	content: "\e916";
}
.icon-phone:before {
	content: "\e917";
}
.icon-news:before {
	content: "\e918";
}
.icon-mail:before {
	content: "\e919";
}
.icon-like:before {
	content: "\e91a";
}
.icon-photo2:before {
	content: "\e91b";
}
.icon-note:before {
	content: "\e91c";
}
.icon-clock:before {
	content: "\e91d";
}
.icon-paperplane:before {
	content: "\e91e";
}
.icon-params:before {
	content: "\e91f";
}
.icon-banknote:before {
	content: "\e920";
}
.icon-data:before {
	content: "\e921";
}
.icon-music:before {
	content: "\e922";
}
.icon-megaphone:before {
	content: "\e923";
}
.icon-study:before {
	content: "\e924";
}
.icon-lab:before {
	content: "\e925";
}
.icon-food:before {
	content: "\e926";
}
.icon-t-shirt:before {
	content: "\e927";
}
.icon-fire:before {
	content: "\e928";
}
.icon-clip:before {
	content: "\e929";
}
.icon-shop:before {
	content: "\e92a";
}
.icon-calendar:before {
	content: "\e92b";
}
.icon-wallet:before {
	content: "\e92c";
}
.icon-vynil:before {
	content: "\e92d";
}
.icon-truck:before {
	content: "\e92e";
}
.icon-world:before {
	content: "\e92f";
}
.icon-glass:before {
	content: "\f000";
}
.icon-music2:before {
	content: "\f001";
}
.icon-search2:before {
	content: "\f002";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-heart2:before {
	content: "\f004";
}
.icon-star2:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-user2:before {
	content: "\f007";
}
.icon-film:before {
	content: "\f008";
}
.icon-th-large:before {
	content: "\f009";
}
.icon-th:before {
	content: "\f00a";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-times:before {
	content: "\f00d";
}
.icon-search-plus:before {
	content: "\f00e";
}
.icon-search-minus:before {
	content: "\f010";
}
.icon-power-off:before {
	content: "\f011";
}
.icon-signal:before {
	content: "\f012";
}
.icon-cog:before {
	content: "\f013";
}
.icon-gear:before {
	content: "\f013";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-home:before {
	content: "\f015";
}
.icon-file-o:before {
	content: "\f016";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-road:before {
	content: "\f018";
}
.icon-download:before {
	content: "\f019";
}
.icon-arrow-circle-o-down:before {
	content: "\f01a";
}
.icon-arrow-circle-o-up:before {
	content: "\f01b";
}
.icon-inbox:before {
	content: "\f01c";
}
.icon-play-circle-o:before {
	content: "\f01d";
}
.icon-repeat:before {
	content: "\f01e";
}
.icon-rotate-right:before {
	content: "\f01e";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-list-alt:before {
	content: "\f022";
}
.icon-lock2:before {
	content: "\f023";
}
.icon-flag:before {
	content: "\f024";
}
.icon-headphones:before {
	content: "\f025";
}
.icon-volume-off:before {
	content: "\f026";
}
.icon-volume-down:before {
	content: "\f027";
}
.icon-volume-up:before {
	content: "\f028";
}
.icon-qrcode:before {
	content: "\f029";
}
.icon-barcode:before {
	content: "\f02a";
}
.icon-tag2:before {
	content: "\f02b";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-book:before {
	content: "\f02d";
}
.icon-bookmark:before {
	content: "\f02e";
}
.icon-print:before {
	content: "\f02f";
}
.icon-camera2:before {
	content: "\f030";
}
.icon-font:before {
	content: "\f031";
}
.icon-bold:before {
	content: "\f032";
}
.icon-italic:before {
	content: "\f033";
}
.icon-text-height:before {
	content: "\f034";
}
.icon-text-width:before {
	content: "\f035";
}
.icon-align-left:before {
	content: "\f036";
}
.icon-align-center:before {
	content: "\f037";
}
.icon-align-right:before {
	content: "\f038";
}
.icon-align-justify:before {
	content: "\f039";
}
.icon-list:before {
	content: "\f03a";
}
.icon-dedent:before {
	content: "\f03b";
}
.icon-outdent:before {
	content: "\f03b";
}
.icon-indent:before {
	content: "\f03c";
}
.icon-video-camera:before {
	content: "\f03d";
}
.icon-image:before {
	content: "\f03e";
}
.icon-photo:before {
	content: "\f03e";
}
.icon-picture-o:before {
	content: "\f03e";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-adjust:before {
	content: "\f042";
}
.icon-tint:before {
	content: "\f043";
}
.icon-edit:before {
	content: "\f044";
}
.icon-pencil-square-o:before {
	content: "\f044";
}
.icon-share-square-o:before {
	content: "\f045";
}
.icon-check-square-o:before {
	content: "\f046";
}
.icon-arrows:before {
	content: "\f047";
}
.icon-step-backward:before {
	content: "\f048";
}
.icon-fast-backward:before {
	content: "\f049";
}
.icon-backward:before {
	content: "\f04a";
}
.icon-play:before {
	content: "\f04b";
}
.icon-pause:before {
	content: "\f04c";
}
.icon-stop:before {
	content: "\f04d";
}
.icon-forward:before {
	content: "\f04e";
}
.icon-fast-forward:before {
	content: "\f050";
}
.icon-step-forward:before {
	content: "\f051";
}
.icon-eject:before {
	content: "\f052";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-plus-circle:before {
	content: "\f055";
}
.icon-minus-circle:before {
	content: "\f056";
}
.icon-times-circle:before {
	content: "\f057";
}
.icon-check-circle:before {
	content: "\f058";
}
.icon-question-circle:before {
	content: "\f059";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-crosshairs:before {
	content: "\f05b";
}
.icon-times-circle-o:before {
	content: "\f05c";
}
.icon-check-circle-o:before {
	content: "\f05d";
}
.icon-ban:before {
	content: "\f05e";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-arrow-up:before {
	content: "\f062";
}
.icon-arrow-down:before {
	content: "\f063";
}
.icon-mail-forward:before {
	content: "\f064";
}
.icon-share:before {
	content: "\f064";
}
.icon-expand:before {
	content: "\f065";
}
.icon-compress:before {
	content: "\f066";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-asterisk:before {
	content: "\f069";
}
.icon-exclamation-circle:before {
	content: "\f06a";
}
.icon-gift:before {
	content: "\f06b";
}
.icon-leaf:before {
	content: "\f06c";
}
.icon-fire2:before {
	content: "\f06d";
}
.icon-eye2:before {
	content: "\f06e";
}
.icon-eye-slash:before {
	content: "\f070";
}
.icon-exclamation-triangle:before {
	content: "\f071";
}
.icon-warning:before {
	content: "\f071";
}
.icon-plane:before {
	content: "\f072";
}
.icon-calendar2:before {
	content: "\f073";
}
.icon-random:before {
	content: "\f074";
}
.icon-comment:before {
	content: "\f075";
}
.icon-magnet:before {
	content: "\f076";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-retweet:before {
	content: "\f079";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-folder:before {
	content: "\f07b";
}
.icon-folder-open:before {
	content: "\f07c";
}
.icon-arrows-v:before {
	content: "\f07d";
}
.icon-arrows-h:before {
	content: "\f07e";
}
.icon-bar-chart:before {
	content: "\f080";
}
.icon-bar-chart-o:before {
	content: "\f080";
}
.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-camera-retro:before {
	content: "\f083";
}
.icon-key2:before {
	content: "\f084";
}
.icon-cogs:before {
	content: "\f085";
}
.icon-gears:before {
	content: "\f085";
}
.icon-comments:before {
	content: "\f086";
}
.icon-thumbs-o-up:before {
	content: "\f087";
}
.icon-thumbs-o-down:before {
	content: "\f088";
}
.icon-star-half:before {
	content: "\f089";
}
.icon-heart-o:before {
	content: "\f08a";
}
.icon-sign-out:before {
	content: "\f08b";
}
.icon-linkedin-square:before {
	content: "\f08c";
}
.icon-thumb-tack:before {
	content: "\f08d";
}
.icon-external-link:before {
	content: "\f08e";
}
.icon-sign-in:before {
	content: "\f090";
}
.icon-trophy:before {
	content: "\f091";
}
.icon-github-square:before {
	content: "\f092";
}
.icon-upload:before {
	content: "\f093";
}
.icon-lemon-o:before {
	content: "\f094";
}
.icon-phone2:before {
	content: "\f095";
}
.icon-square-o:before {
	content: "\f096";
}
.icon-bookmark-o:before {
	content: "\f097";
}
.icon-phone-square:before {
	content: "\f098";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-facebook-f:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
}
.icon-unlock:before {
	content: "\f09c";
}
.icon-credit-card:before {
	content: "\f09d";
}
.icon-feed:before {
	content: "\f09e";
}
.icon-rss:before {
	content: "\f09e";
}
.icon-hdd-o:before {
	content: "\f0a0";
}
.icon-bullhorn:before {
	content: "\f0a1";
}
.icon-bell-o:before {
	content: "\f0a2";
}
.icon-certificate:before {
	content: "\f0a3";
}
.icon-hand-o-right:before {
	content: "\f0a4";
}
.icon-hand-o-left:before {
	content: "\f0a5";
}
.icon-hand-o-up:before {
	content: "\f0a6";
}
.icon-hand-o-down:before {
	content: "\f0a7";
}
.icon-arrow-circle-left:before {
	content: "\f0a8";
}
.icon-arrow-circle-right:before {
	content: "\f0a9";
}
.icon-arrow-circle-up:before {
	content: "\f0aa";
}
.icon-arrow-circle-down:before {
	content: "\f0ab";
}
.icon-globe:before {
	content: "\f0ac";
}
.icon-wrench:before {
	content: "\f0ad";
}
.icon-tasks:before {
	content: "\f0ae";
}
.icon-filter:before {
	content: "\f0b0";
}
.icon-briefcase:before {
	content: "\f0b1";
}
.icon-arrows-alt:before {
	content: "\f0b2";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-users:before {
	content: "\f0c0";
}
.icon-chain:before {
	content: "\f0c1";
}
.icon-link:before {
	content: "\f0c1";
}
.icon-cloud3:before {
	content: "\f0c2";
}
.icon-flask:before {
	content: "\f0c3";
}
.icon-cut:before {
	content: "\f0c4";
}
.icon-scissors:before {
	content: "\f0c4";
}
.icon-copy:before {
	content: "\f0c5";
}
.icon-files-o:before {
	content: "\f0c5";
}
.icon-paperclip:before {
	content: "\f0c6";
}
.icon-floppy-o:before {
	content: "\f0c7";
}
.icon-save:before {
	content: "\f0c7";
}
.icon-square:before {
	content: "\f0c8";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-list-ol:before {
	content: "\f0cb";
}
.icon-strikethrough:before {
	content: "\f0cc";
}
.icon-underline:before {
	content: "\f0cd";
}
.icon-table:before {
	content: "\f0ce";
}
.icon-magic:before {
	content: "\f0d0";
}
.icon-truck2:before {
	content: "\f0d1";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-pinterest-square:before {
	content: "\f0d3";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-money:before {
	content: "\f0d6";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-columns:before {
	content: "\f0db";
}
.icon-sort:before {
	content: "\f0dc";
}
.icon-unsorted:before {
	content: "\f0dc";
}
.icon-sort-desc:before {
	content: "\f0dd";
}
.icon-sort-down:before {
	content: "\f0dd";
}
.icon-sort-asc:before {
	content: "\f0de";
}
.icon-sort-up:before {
	content: "\f0de";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-rotate-left:before {
	content: "\f0e2";
}
.icon-undo:before {
	content: "\f0e2";
}
.icon-gavel:before {
	content: "\f0e3";
}
.icon-legal:before {
	content: "\f0e3";
}
.icon-dashboard:before {
	content: "\f0e4";
}
.icon-tachometer:before {
	content: "\f0e4";
}
.icon-comment-o:before {
	content: "\f0e5";
}
.icon-comments-o:before {
	content: "\f0e6";
}
.icon-bolt:before {
	content: "\f0e7";
}
.icon-flash:before {
	content: "\f0e7";
}
.icon-sitemap:before {
	content: "\f0e8";
}
.icon-umbrella:before {
	content: "\f0e9";
}
.icon-clipboard:before {
	content: "\f0ea";
}
.icon-paste:before {
	content: "\f0ea";
}
.icon-lightbulb-o:before {
	content: "\f0eb";
}
.icon-exchange:before {
	content: "\f0ec";
}
.icon-cloud-download:before {
	content: "\f0ed";
}
.icon-cloud-upload:before {
	content: "\f0ee";
}
.icon-user-md:before {
	content: "\f0f0";
}
.icon-stethoscope:before {
	content: "\f0f1";
}
.icon-suitcase:before {
	content: "\f0f2";
}
.icon-bell:before {
	content: "\f0f3";
}
.icon-coffee:before {
	content: "\f0f4";
}
.icon-cutlery:before {
	content: "\f0f5";
}
.icon-file-text-o:before {
	content: "\f0f6";
}
.icon-building-o:before {
	content: "\f0f7";
}
.icon-hospital-o:before {
	content: "\f0f8";
}
.icon-ambulance:before {
	content: "\f0f9";
}
.icon-medkit:before {
	content: "\f0fa";
}
.icon-fighter-jet:before {
	content: "\f0fb";
}
.icon-beer:before {
	content: "\f0fc";
}
.icon-h-square:before {
	content: "\f0fd";
}
.icon-plus-square:before {
	content: "\f0fe";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-double-up:before {
	content: "\f102";
}
.icon-angle-double-down:before {
	content: "\f103";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-tablet:before {
	content: "\f10a";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-mobile-phone:before {
	content: "\f10b";
}
.icon-circle-o:before {
	content: "\f10c";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-spinner:before {
	content: "\f110";
}
.icon-circle:before {
	content: "\f111";
}
.icon-mail-reply:before {
	content: "\f112";
}
.icon-reply:before {
	content: "\f112";
}
.icon-github-alt:before {
	content: "\f113";
}
.icon-folder-o:before {
	content: "\f114";
}
.icon-folder-open-o:before {
	content: "\f115";
}
.icon-smile-o:before {
	content: "\f118";
}
.icon-frown-o:before {
	content: "\f119";
}
.icon-meh-o:before {
	content: "\f11a";
}
.icon-gamepad:before {
	content: "\f11b";
}
.icon-keyboard-o:before {
	content: "\f11c";
}
.icon-flag-o:before {
	content: "\f11d";
}
.icon-flag-checkered:before {
	content: "\f11e";
}
.icon-terminal:before {
	content: "\f120";
}
.icon-code:before {
	content: "\f121";
}
.icon-mail-reply-all:before {
	content: "\f122";
}
.icon-reply-all:before {
	content: "\f122";
}
.icon-star-half-empty:before {
	content: "\f123";
}
.icon-star-half-full:before {
	content: "\f123";
}
.icon-star-half-o:before {
	content: "\f123";
}
.icon-location-arrow:before {
	content: "\f124";
}
.icon-crop:before {
	content: "\f125";
}
.icon-code-fork:before {
	content: "\f126";
}
.icon-chain-broken:before {
	content: "\f127";
}
.icon-unlink:before {
	content: "\f127";
}
.icon-question:before {
	content: "\f128";
}
.icon-info:before {
	content: "\f129";
}
.icon-exclamation:before {
	content: "\f12a";
}
.icon-superscript:before {
	content: "\f12b";
}
.icon-subscript:before {
	content: "\f12c";
}
.icon-eraser:before {
	content: "\f12d";
}
.icon-puzzle-piece:before {
	content: "\f12e";
}
.icon-microphone:before {
	content: "\f130";
}
.icon-microphone-slash:before {
	content: "\f131";
}
.icon-shield:before {
	content: "\f132";
}
.icon-calendar-o:before {
	content: "\f133";
}
.icon-fire-extinguisher:before {
	content: "\f134";
}
.icon-rocket:before {
	content: "\f135";
}
.icon-maxcdn:before {
	content: "\f136";
}
.icon-chevron-circle-left:before {
	content: "\f137";
}
.icon-chevron-circle-right:before {
	content: "\f138";
}
.icon-chevron-circle-up:before {
	content: "\f139";
}
.icon-chevron-circle-down:before {
	content: "\f13a";
}
.icon-html5:before {
	content: "\f13b";
}
.icon-css3:before {
	content: "\f13c";
}
.icon-anchor:before {
	content: "\f13d";
}
.icon-unlock-alt:before {
	content: "\f13e";
}
.icon-bullseye:before {
	content: "\f140";
}
.icon-ellipsis-h:before {
	content: "\f141";
}
.icon-ellipsis-v:before {
	content: "\f142";
}
.icon-rss-square:before {
	content: "\f143";
}
.icon-play-circle:before {
	content: "\f144";
}
.icon-ticket:before {
	content: "\f145";
}
.icon-minus-square:before {
	content: "\f146";
}
.icon-minus-square-o:before {
	content: "\f147";
}
.icon-level-up:before {
	content: "\f148";
}
.icon-level-down:before {
	content: "\f149";
}
.icon-check-square:before {
	content: "\f14a";
}
.icon-pencil-square:before {
	content: "\f14b";
}
.icon-external-link-square:before {
	content: "\f14c";
}
.icon-share-square:before {
	content: "\f14d";
}
.icon-compass:before {
	content: "\f14e";
}
.icon-caret-square-o-down:before {
	content: "\f150";
}
.icon-toggle-down:before {
	content: "\f150";
}
.icon-caret-square-o-up:before {
	content: "\f151";
}
.icon-toggle-up:before {
	content: "\f151";
}
.icon-caret-square-o-right:before {
	content: "\f152";
}
.icon-toggle-right:before {
	content: "\f152";
}
.icon-eur:before {
	content: "\f153";
}
.icon-euro:before {
	content: "\f153";
}
.icon-gbp:before {
	content: "\f154";
}
.icon-dollar:before {
	content: "\f155";
}
.icon-usd:before {
	content: "\f155";
}
.icon-inr:before {
	content: "\f156";
}
.icon-rupee:before {
	content: "\f156";
}
.icon-cny:before {
	content: "\f157";
}
.icon-jpy:before {
	content: "\f157";
}
.icon-rmb:before {
	content: "\f157";
}
.icon-yen:before {
	content: "\f157";
}
.icon-rouble:before {
	content: "\f158";
}
.icon-rub:before {
	content: "\f158";
}
.icon-ruble:before {
	content: "\f158";
}
.icon-krw:before {
	content: "\f159";
}
.icon-won:before {
	content: "\f159";
}
.icon-bitcoin:before {
	content: "\f15a";
}
.icon-btc:before {
	content: "\f15a";
}
.icon-file:before {
	content: "\f15b";
}
.icon-file-text:before {
	content: "\f15c";
}
.icon-sort-alpha-asc:before {
	content: "\f15d";
}
.icon-sort-alpha-desc:before {
	content: "\f15e";
}
.icon-sort-amount-asc:before {
	content: "\f160";
}
.icon-sort-amount-desc:before {
	content: "\f161";
}
.icon-sort-numeric-asc:before {
	content: "\f162";
}
.icon-sort-numeric-desc:before {
	content: "\f163";
}
.icon-thumbs-up:before {
	content: "\f164";
}
.icon-thumbs-down:before {
	content: "\f165";
}
.icon-youtube-square:before {
	content: "\f166";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-xing:before {
	content: "\f168";
}
.icon-xing-square:before {
	content: "\f169";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-stack-overflow:before {
	content: "\f16c";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-flickr:before {
	content: "\f16e";
}
.icon-adn:before {
	content: "\f170";
}
.icon-bitbucket:before {
	content: "\f171";
}
.icon-bitbucket-square:before {
	content: "\f172";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-tumblr-square:before {
	content: "\f174";
}
.icon-long-arrow-down:before {
	content: "\f175";
}
.icon-long-arrow-up:before {
	content: "\f176";
}
.icon-long-arrow-left:before {
	content: "\f177";
}
.icon-long-arrow-right:before {
	content: "\f178";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-linux:before {
	content: "\f17c";
}
.icon-dribbble:before {
	content: "\f17d";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-foursquare:before {
	content: "\f180";
}
.icon-trello:before {
	content: "\f181";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-gittip:before {
	content: "\f184";
}
.icon-gratipay:before {
	content: "\f184";
}
.icon-sun-o:before {
	content: "\f185";
}
.icon-moon-o:before {
	content: "\f186";
}
.icon-archive:before {
	content: "\f187";
}
.icon-bug:before {
	content: "\f188";
}
.icon-vk:before {
	content: "\f189";
}
.icon-weibo:before {
	content: "\f18a";
}
.icon-renren:before {
	content: "\f18b";
}
.icon-pagelines:before {
	content: "\f18c";
}
.icon-stack-exchange:before {
	content: "\f18d";
}
.icon-arrow-circle-o-right:before {
	content: "\f18e";
}
.icon-arrow-circle-o-left:before {
	content: "\f190";
}
.icon-caret-square-o-left:before {
	content: "\f191";
}
.icon-toggle-left:before {
	content: "\f191";
}
.icon-dot-circle-o:before {
	content: "\f192";
}
.icon-wheelchair:before {
	content: "\f193";
}
.icon-vimeo-square:before {
	content: "\f194";
}
.icon-try:before {
	content: "\f195";
}
.icon-turkish-lira:before {
	content: "\f195";
}
.icon-plus-square-o:before {
	content: "\f196";
}
.icon-space-shuttle:before {
	content: "\f197";
}
.icon-slack:before {
	content: "\f198";
}
.icon-envelope-square:before {
	content: "\f199";
}
.icon-wordpress:before {
	content: "\f19a";
}
.icon-openid:before {
	content: "\f19b";
}
.icon-bank:before {
	content: "\f19c";
}
.icon-institution:before {
	content: "\f19c";
}
.icon-university:before {
	content: "\f19c";
}
.icon-graduation-cap:before {
	content: "\f19d";
}
.icon-mortar-board:before {
	content: "\f19d";
}
.icon-yahoo:before {
	content: "\f19e";
}
.icon-google:before {
	content: "\f1a0";
}
.icon-reddit:before {
	content: "\f1a1";
}
.icon-reddit-square:before {
	content: "\f1a2";
}
.icon-stumbleupon-circle:before {
	content: "\f1a3";
}
.icon-stumbleupon:before {
	content: "\f1a4";
}
.icon-delicious:before {
	content: "\f1a5";
}
.icon-digg:before {
	content: "\f1a6";
}
.icon-pied-piper:before {
	content: "\f1a7";
}
.icon-pied-piper-alt:before {
	content: "\f1a8";
}
.icon-drupal:before {
	content: "\f1a9";
}
.icon-joomla:before {
	content: "\f1aa";
}
.icon-language:before {
	content: "\f1ab";
}
.icon-fax:before {
	content: "\f1ac";
}
.icon-building:before {
	content: "\f1ad";
}
.icon-child:before {
	content: "\f1ae";
}
.icon-paw:before {
	content: "\f1b0";
}
.icon-spoon:before {
	content: "\f1b1";
}
.icon-cube:before {
	content: "\f1b2";
}
.icon-cubes:before {
	content: "\f1b3";
}
.icon-behance:before {
	content: "\f1b4";
}
.icon-behance-square:before {
	content: "\f1b5";
}
.icon-steam:before {
	content: "\f1b6";
}
.icon-steam-square:before {
	content: "\f1b7";
}
.icon-recycle:before {
	content: "\f1b8";
}
.icon-automobile:before {
	content: "\f1b9";
}
.icon-car:before {
	content: "\f1b9";
}
.icon-cab:before {
	content: "\f1ba";
}
.icon-taxi:before {
	content: "\f1ba";
}
.icon-tree:before {
	content: "\f1bb";
}
.icon-spotify:before {
	content: "\f1bc";
}
.icon-deviantart:before {
	content: "\f1bd";
}
.icon-soundcloud:before {
	content: "\f1be";
}
.icon-database:before {
	content: "\f1c0";
}
.icon-file-pdf-o:before {
	content: "\f1c1";
}
.icon-file-word-o:before {
	content: "\f1c2";
}
.icon-file-excel-o:before {
	content: "\f1c3";
}
.icon-file-powerpoint-o:before {
	content: "\f1c4";
}
.icon-file-image-o:before {
	content: "\f1c5";
}
.icon-file-photo-o:before {
	content: "\f1c5";
}
.icon-file-picture-o:before {
	content: "\f1c5";
}
.icon-file-archive-o:before {
	content: "\f1c6";
}
.icon-file-zip-o:before {
	content: "\f1c6";
}
.icon-file-audio-o:before {
	content: "\f1c7";
}
.icon-file-sound-o:before {
	content: "\f1c7";
}
.icon-file-movie-o:before {
	content: "\f1c8";
}
.icon-file-video-o:before {
	content: "\f1c8";
}
.icon-file-code-o:before {
	content: "\f1c9";
}
.icon-vine:before {
	content: "\f1ca";
}
.icon-codepen:before {
	content: "\f1cb";
}
.icon-jsfiddle:before {
	content: "\f1cc";
}
.icon-life-bouy:before {
	content: "\f1cd";
}
.icon-life-buoy:before {
	content: "\f1cd";
}
.icon-life-ring:before {
	content: "\f1cd";
}
.icon-life-saver:before {
	content: "\f1cd";
}
.icon-support:before {
	content: "\f1cd";
}
.icon-circle-o-notch:before {
	content: "\f1ce";
}
.icon-ra:before {
	content: "\f1d0";
}
.icon-rebel:before {
	content: "\f1d0";
}
.icon-empire:before {
	content: "\f1d1";
}
.icon-ge:before {
	content: "\f1d1";
}
.icon-git-square:before {
	content: "\f1d2";
}
.icon-git:before {
	content: "\f1d3";
}
.icon-hacker-news:before {
	content: "\f1d4";
}
.icon-y-combinator-square:before {
	content: "\f1d4";
}
.icon-yc-square:before {
	content: "\f1d4";
}
.icon-tencent-weibo:before {
	content: "\f1d5";
}
.icon-qq:before {
	content: "\f1d6";
}
.icon-wechat:before {
	content: "\f1d7";
}
.icon-weixin:before {
	content: "\f1d7";
}
.icon-paper-plane:before {
	content: "\f1d8";
}
.icon-send:before {
	content: "\f1d8";
}
.icon-paper-plane-o:before {
	content: "\f1d9";
}
.icon-send-o:before {
	content: "\f1d9";
}
.icon-history:before {
	content: "\f1da";
}
.icon-circle-thin:before {
	content: "\f1db";
}
.icon-header:before {
	content: "\f1dc";
}
.icon-paragraph:before {
	content: "\f1dd";
}
.icon-sliders:before {
	content: "\f1de";
}
.icon-share-alt:before {
	content: "\f1e0";
}
.icon-share-alt-square:before {
	content: "\f1e1";
}
.icon-bomb:before {
	content: "\f1e2";
}
.icon-futbol-o:before {
	content: "\f1e3";
}
.icon-soccer-ball-o:before {
	content: "\f1e3";
}
.icon-tty:before {
	content: "\f1e4";
}
.icon-binoculars:before {
	content: "\f1e5";
}
.icon-plug:before {
	content: "\f1e6";
}
.icon-slideshare:before {
	content: "\f1e7";
}
.icon-twitch:before {
	content: "\f1e8";
}
.icon-yelp:before {
	content: "\f1e9";
}
.icon-newspaper-o:before {
	content: "\f1ea";
}
.icon-wifi:before {
	content: "\f1eb";
}
.icon-calculator:before {
	content: "\f1ec";
}
.icon-paypal:before {
	content: "\f1ed";
}
.icon-google-wallet:before {
	content: "\f1ee";
}
.icon-cc-visa:before {
	content: "\f1f0";
}
.icon-cc-mastercard:before {
	content: "\f1f1";
}
.icon-cc-discover:before {
	content: "\f1f2";
}
.icon-cc-amex:before {
	content: "\f1f3";
}
.icon-cc-paypal:before {
	content: "\f1f4";
}
.icon-cc-stripe:before {
	content: "\f1f5";
}
.icon-bell-slash:before {
	content: "\f1f6";
}
.icon-bell-slash-o:before {
	content: "\f1f7";
}
.icon-trash2:before {
	content: "\f1f8";
}
.icon-copyright:before {
	content: "\f1f9";
}
.icon-at:before {
	content: "\f1fa";
}
.icon-eyedropper:before {
	content: "\f1fb";
}
.icon-paint-brush:before {
	content: "\f1fc";
}
.icon-birthday-cake:before {
	content: "\f1fd";
}
.icon-area-chart:before {
	content: "\f1fe";
}
.icon-pie-chart:before {
	content: "\f200";
}
.icon-line-chart:before {
	content: "\f201";
}
.icon-lastfm:before {
	content: "\f202";
}
.icon-lastfm-square:before {
	content: "\f203";
}
.icon-toggle-off:before {
	content: "\f204";
}
.icon-toggle-on:before {
	content: "\f205";
}
.icon-bicycle:before {
	content: "\f206";
}
.icon-bus:before {
	content: "\f207";
}
.icon-ioxhost:before {
	content: "\f208";
}
.icon-angellist:before {
	content: "\f209";
}
.icon-cc:before {
	content: "\f20a";
}
.icon-ils:before {
	content: "\f20b";
}
.icon-shekel:before {
	content: "\f20b";
}
.icon-sheqel:before {
	content: "\f20b";
}
.icon-meanpath:before {
	content: "\f20c";
}
.icon-buysellads:before {
	content: "\f20d";
}
.icon-connectdevelop:before {
	content: "\f20e";
}
.icon-dashcube:before {
	content: "\f210";
}
.icon-forumbee:before {
	content: "\f211";
}
.icon-leanpub:before {
	content: "\f212";
}
.icon-sellsy:before {
	content: "\f213";
}
.icon-shirtsinbulk:before {
	content: "\f214";
}
.icon-simplybuilt:before {
	content: "\f215";
}
.icon-skyatlas:before {
	content: "\f216";
}
.icon-cart-plus:before {
	content: "\f217";
}
.icon-cart-arrow-down:before {
	content: "\f218";
}
.icon-diamond2:before {
	content: "\f219";
}
.icon-ship:before {
	content: "\f21a";
}
.icon-user-secret:before {
	content: "\f21b";
}
.icon-motorcycle:before {
	content: "\f21c";
}
.icon-street-view:before {
	content: "\f21d";
}
.icon-heartbeat:before {
	content: "\f21e";
}
.icon-venus:before {
	content: "\f221";
}
.icon-mars:before {
	content: "\f222";
}
.icon-mercury:before {
	content: "\f223";
}
.icon-intersex:before {
	content: "\f224";
}
.icon-transgender:before {
	content: "\f224";
}
.icon-transgender-alt:before {
	content: "\f225";
}
.icon-venus-double:before {
	content: "\f226";
}
.icon-mars-double:before {
	content: "\f227";
}
.icon-venus-mars:before {
	content: "\f228";
}
.icon-mars-stroke:before {
	content: "\f229";
}
.icon-mars-stroke-v:before {
	content: "\f22a";
}
.icon-mars-stroke-h:before {
	content: "\f22b";
}
.icon-neuter:before {
	content: "\f22c";
}
.icon-genderless:before {
	content: "\f22d";
}
.icon-facebook-official:before {
	content: "\f230";
}
.icon-pinterest-p:before {
	content: "\f231";
}
.icon-whatsapp:before {
	content: "\f232";
}
.icon-server:before {
	content: "\f233";
}
.icon-user-plus:before {
	content: "\f234";
}
.icon-user-times:before {
	content: "\f235";
}
.icon-bed:before {
	content: "\f236";
}
.icon-hotel:before {
	content: "\f236";
}
.icon-viacoin:before {
	content: "\f237";
}
.icon-train:before {
	content: "\f238";
}
.icon-subway:before {
	content: "\f239";
}
.icon-medium:before {
	content: "\f23a";
}
.icon-y-combinator:before {
	content: "\f23b";
}
.icon-yc:before {
	content: "\f23b";
}
.icon-optin-monster:before {
	content: "\f23c";
}
.icon-opencart:before {
	content: "\f23d";
}
.icon-expeditedssl:before {
	content: "\f23e";
}
.icon-battery-4:before {
	content: "\f240";
}
.icon-battery-full:before {
	content: "\f240";
}
.icon-battery-3:before {
	content: "\f241";
}
.icon-battery-three-quarters:before {
	content: "\f241";
}
.icon-battery-2:before {
	content: "\f242";
}
.icon-battery-half:before {
	content: "\f242";
}
.icon-battery-1:before {
	content: "\f243";
}
.icon-battery-quarter:before {
	content: "\f243";
}
.icon-battery-0:before {
	content: "\f244";
}
.icon-battery-empty:before {
	content: "\f244";
}
.icon-mouse-pointer:before {
	content: "\f245";
}
.icon-i-cursor:before {
	content: "\f246";
}
.icon-object-group:before {
	content: "\f247";
}
.icon-object-ungroup:before {
	content: "\f248";
}
.icon-sticky-note:before {
	content: "\f249";
}
.icon-sticky-note-o:before {
	content: "\f24a";
}
.icon-cc-jcb:before {
	content: "\f24b";
}
.icon-cc-diners-club:before {
	content: "\f24c";
}
.icon-clone:before {
	content: "\f24d";
}
.icon-balance-scale:before {
	content: "\f24e";
}
.icon-hourglass-o:before {
	content: "\f250";
}
.icon-hourglass-1:before {
	content: "\f251";
}
.icon-hourglass-start:before {
	content: "\f251";
}
.icon-hourglass-2:before {
	content: "\f252";
}
.icon-hourglass-half:before {
	content: "\f252";
}
.icon-hourglass-3:before {
	content: "\f253";
}
.icon-hourglass-end:before {
	content: "\f253";
}
.icon-hourglass:before {
	content: "\f254";
}
.icon-hand-grab-o:before {
	content: "\f255";
}
.icon-hand-rock-o:before {
	content: "\f255";
}
.icon-hand-paper-o:before {
	content: "\f256";
}
.icon-hand-stop-o:before {
	content: "\f256";
}
.icon-hand-scissors-o:before {
	content: "\f257";
}
.icon-hand-lizard-o:before {
	content: "\f258";
}
.icon-hand-spock-o:before {
	content: "\f259";
}
.icon-hand-pointer-o:before {
	content: "\f25a";
}
.icon-hand-peace-o:before {
	content: "\f25b";
}
.icon-trademark:before {
	content: "\f25c";
}
.icon-registered:before {
	content: "\f25d";
}
.icon-creative-commons:before {
	content: "\f25e";
}
.icon-gg:before {
	content: "\f260";
}
.icon-gg-circle:before {
	content: "\f261";
}
.icon-tripadvisor:before {
	content: "\f262";
}
.icon-odnoklassniki:before {
	content: "\f263";
}
.icon-odnoklassniki-square:before {
	content: "\f264";
}
.icon-get-pocket:before {
	content: "\f265";
}
.icon-wikipedia-w:before {
	content: "\f266";
}
.icon-safari:before {
	content: "\f267";
}
.icon-chrome:before {
	content: "\f268";
}
.icon-firefox:before {
	content: "\f269";
}
.icon-opera:before {
	content: "\f26a";
}
.icon-internet-explorer:before {
	content: "\f26b";
}
.icon-television:before {
	content: "\f26c";
}
.icon-tv:before {
	content: "\f26c";
}
.icon-contao:before {
	content: "\f26d";
}
.icon-500px:before {
	content: "\f26e";
}
.icon-amazon:before {
	content: "\f270";
}
.icon-calendar-plus-o:before {
	content: "\f271";
}
.icon-calendar-minus-o:before {
	content: "\f272";
}
.icon-calendar-times-o:before {
	content: "\f273";
}
.icon-calendar-check-o:before {
	content: "\f274";
}
.icon-industry:before {
	content: "\f275";
}
.icon-map-pin:before {
	content: "\f276";
}
.icon-map-signs:before {
	content: "\f277";
}
.icon-map-o:before {
	content: "\f278";
}
.icon-map:before {
	content: "\f279";
}
.icon-commenting:before {
	content: "\f27a";
}
.icon-commenting-o:before {
	content: "\f27b";
}
.icon-houzz:before {
	content: "\f27c";
}
.icon-vimeo:before {
	content: "\f27d";
}
.icon-black-tie:before {
	content: "\f27e";
}
.icon-fonticons:before {
	content: "\f280";
}

