/*
Theme Name: The SEO
Description: Adds support for languages written in a Right To Left (RTL) direction.
It's easy, body just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

See http://codex.wordpress.org/Right_to_Left_Language_Support
*/

body { direction: rtl; unicode-bidi: embed;  }
body #page-preloader{right:0;left:0;}
body #page-preloader .bo{right:calc(50% - 24px);}
body #page-preloader .l1, body #page-preloader .l2, body #page-preloader .l3{margin:auto 2px 0 2px;float:right;}
body #page-preloader .l1{right:0;}
body #page-preloader .l2{right:15px;}
body #page-preloader .l3{right:30px;}
body h1{margin:0 0 30px 0;}
body section{padding:60px 0 60px 0;}
body blockquote{padding:20px 20px 10px 20px;}
body blockquote:before{right:15px;}
body .center-block{margin-left:auto;margin-right:auto;}
body legend{padding:40px 0 0 0;}
body #scroller{left:10%;}
body ol.squaredstyle, body .squaredstyle ol, body .widget-area ol{margin:0 0 40px 0;}
body ol.squaredstyle li,.squaredstyle ol li, body .widget-area ol li{margin:0 2em 10px 0;padding:4px 15px 4px 8px;}
body ol.squaredstyle li:before,.squaredstyle ol li:before, body .widget-area ol li:before{right:-40px;margin-left:8px;}
body ol.squaredstyle li ol,.squaredstyle ol li ol, body .widget-area ol li ol{margin:20px -10px 10px 0;padding-right:0;}
body ul.roundedstyle, body .roundedstyle ul, body .widget-area ul{margin:0 0 40px 0;list-style: none;}
body ul.roundedstyle li, body .roundedstyle ul li, body .widget-area ul li{margin:0 2em 5px 0;}
body ul.roundedstyle li:before, body .roundedstyle ul li:before, body .widget-area ul li:before{right:-20px;margin-left:8px;}
body ul.roundedstyle li ul, body .roundedstyle ul li ul, body .widget-area ul li ul{margin:0 -20px 0 0;padding-right:0;}
body ul.roundedstyle li ul li:before, body .roundedstyle ul li ul li:before, body .widget-area ul li ul li:before{right:-20px;margin-left:8px;}

body .tal{text-align:right;}
body .tar{text-align:left;}
body input[type=text], body input[type=tel], body input[type=email], body input[type=password], body input[type=url], body textarea, body textarea.form-control{border-right:0;border-left:0;padding:15px 20px 12px 20px;}
body input[type=checkbox], body input[type=radio], body .woocommerce .seoshop form .form-row .input-checkbox{margin:0 0 0 14px;}
body input[type=checkbox]:before, body input[type=radio]:before{right:-1px;}
body .form-inline input, body .custom-checkbox{margin-left:10px;}
body select.form-control, body select, body .select2-container a{border-right:0;border-left:0;}
body label{margin-left:20px;}
body table td{border-left:0 #9c9fa2 solid !important;border-right:1px #9c9fa2 solid !important;}
body table td:last-child{border-left:0 !important;}
body .header-transparent .container-fluid{padding-right:0;padding-left:0;}
body .topbartransparent{right:0;left:0;}
body .socialbartransparent li{margin:0 0 0 7px;}
body .contacttb{text-align:left;}
body .contacttb i, body .contacttb span{margin-left:5px;margin-right:35px;}
body .head3{right:0;}
body .head4{right:0;}
body .transparentmenu.default{right:0;}
body .transparentmenu .header1and5 .suppa_submenu_modern_search,#navbarwhitebox .header2 .suppa_submenu_modern_search,.head3 .header3 .suppa_submenu_modern_search{right:0;}
body .transparentmenu .header1and5 .suppa_submenu_modern_search form,#navbarwhitebox .header2 .suppa_submenu_modern_search form,.head3 .header3 .suppa_submenu_modern_search form{right:15%;}
body .transparentmenu .header1and5 .suppa_submenu_modern_search .suppa_search_modern_close,#navbarwhitebox .header2 .suppa_submenu_modern_search .suppa_search_modern_close,.head3 .header3 .suppa_submenu_modern_search .suppa_search_modern_close{padding-right:0;padding-left:0;left:16px;}
body .transparentmenu .header1and5 .suppa_menu_woocommerce_cart a.cart-contents span.ctf_suppa_fa_box{padding:10px 9px 0 9px !important;margin-left:15px;}
body .menu ul, body ul.menu{margin:0 0 40px 0;text-align:left;}
body .menu li > a{padding:10px 5px 10px 30px;}
body .menu > .menu-item-has-children:after,.menu > .page_item_has_children:after{left:10px;}
body .menu .menu-item-has-children .sub-menu,.menu .page_item_has_children .children{right:0;margin:0 0 0 0;text-align:right;}
body .menu .menu-item-has-children .sub-menu li,.menu .page_item_has_children .children li{padding:0 0 0 0;margin:0 0 0 0;}
body a.btn, body span.btn, body button.btn, body div.btn a, body div.rev-btn.btn, body div.btn button, body main input[type=submit]{padding:11px 25px 10px 25px !important;}
body .btn .fa, body .btn .icon, body .btn .iconic{margin-left:6px !important;}
body a.btn-lg, body button.btn-lg, body span.btn-lg, body div.btn-lg a, body div.btn-lg button, body div.rev-btn.btn.btn-lg{padding:18px 40px 18px 40px !important;}
body a.btn-sm, body button.btn-sm, body div.btn-sm a, body div.btn-sm button, body div.rev-btn.btn.btn-sm{padding:8px 20px 7px 20px !important;}
body a.btn.btn-info, body button.btn.btn-info, body div.btn.btn-info a, body div.btn.btn-info button{padding:12px 25px 14px 25px !important;}
body a.btn-sm.btn-info, body button.btn-sm.btn-info, body div.btn-sm.btn-info a, body div.rev-btn.btn-sm.btn-info, body div.btn-sm.btn-info button{padding:9px 22px 10px 22px !important;}
body .vc_btn3.vc_btn3-size-md.vc_btn3-icon-right:not(.vc_btn3-o-empty){padding-left:55px !important;}
body .vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty){padding-right:55px !important;}
body .fact .vc_column-inner{padding:40px 40px 20px 40px;}
body .slist{padding:20px 25px 30px 25px;}
body .slist h3{text-align:right;}
body .slist a.more, body .slist .aio-icon-read{text-align:left;}
body .slist .aio-icon-default{float:right;margin-left:30px;}
body .no-csstransforms .benefits .why{right:auto;left:auto;}
body .no-csstransforms .beniconsize1{right:auto;left:auto;}
body .no-csstransforms .beniconsize2{right:auto;left:auto;}
body .no-csstransforms .beniconsize3{right:auto;left:auto;}
body .no-csstransforms .beniconsize4{right:auto;left:auto;}
body .no-csstransforms .beniconsize5{right:auto;left:auto;}
body .no-csstransforms .imgbgr{right:-50px;}
body .team{padding:60px 0 40px 0;}
body .team .bgrshadow{right:0;}
body .customNavigation .prev, body .customNavigation .next, body #team-index .slick-prev, body #team-index .slick-next{margin:40px 5px 20px 5px;}
body #team-index .socialprofiles a, body #teammate .socialprofiles a{margin:0 0 0 5px;}
body #teammate h1, body #teammate .headinginfo, body #teammate h3{text-align:right;}
body #teammate h3{margin:35px 0 15px 0;}
body #teammate .socialprofiles a{margin:0 0 0 10px;}
body #team-index .item{padding:0 0 0 27px;margin:0 1px 0 10px;text-align:right;}
body #team-index .item img{float:right;margin-left:40px;margin-right: 0}
body #team-index .item span:after{margin:11px 302px 15px 0;}
body #team-index .item .overmember{right:0;}
body .catteam #team-index .item{margin:0 0 40px 0;padding:0 0 0 20px;}
body #team-index .slick-prev {right: calc(50% - 60px); left:auto}
body #team-index .slick-next {left: calc(50% - 50px); right:auto}
body .testimonials_box .item{float:right;}
body #testimonials-index .owl-item .bubbles .mention, body .testimonialsingle .item .bubbles .mention, body .testimonials_box .item .mention{margin-left:1px;}
body #testimonials-index .owl-item:nth-child(odd) .mention:after, body .testimonialsingle .bubbles .mention:after, body .testimonials_box .item:nth-child(odd) .mention:after{right:25%;left: auto;}
body #testimonials-index .owl-item:nth-child(even) .mention:after, body .testimonials_box .item:nth-child(even) .mention:after{left:25%;right: auto;}
body #testimonials-index .owl-item:nth-child(odd) .face, body .testimonialsingle .face, body .testimonials_box .item:nth-child(odd) .face{margin:60px 60px auto auto;text-align:right;}
body #testimonials-index .owl-item:nth-child(odd) .face img, body .testimonialsingle .face img, body .testimonials_box .item:nth-child(odd) .face img{float:right;margin-left:20px;}
body #testimonials-index .owl-item:nth-child(even) .mention, body .testimonials_box .item:nth-child(even) .mention{margin-right:-30px;}
body #testimonials-index .owl-item:nth-child(even) .face, body .testimonials_box .item:nth-child(even) .face{margin:60px auto auto 60px;text-align:left;}
body #testimonials-index .owl-item:nth-child(even) .face img, body .testimonials_box .item:nth-child(even) .face img{float:left;margin-right:20px;}
body .testimonialsingle .entry-meta{text-align:right;}
body .clientlogos{padding:100px 0 40px 0;}
body .plist h3{right:0;left:0;}
body .sticky .entry-meta .featured-post > .icon,.format-audio > .iconic, body .format-audio > .fa , body .format-audio > .icon,.format-gallery > .iconic, body .format-gallery > .fa , body .format-gallery > .icon,.format-video > .iconic, body .format-video > .fa, body .format-video > .icon,.format-link > .iconic, body .format-link > .fa, body .format-link > .icon,.format-quote > .iconic, body .format-quote > .fa, body .format-quote > .icon,.format-image > .iconic, body .format-image > .fa, body .format-image > .icon,.format-quote > [class^="icon-"], body .format-quote > [class*=" icon-"],.format-link > [class^="icon-"], body .format-link > [class*=" icon-"],.format-audio > [class^="icon-"], body .format-audio > [class*=" icon-"]{right:15px;}
body .onecolumn .format-standard .entry-header .entry-meta:after, body .onecolumn .sticky .entry-meta:after, body .onecolumn .format-chat .entry-meta:after, body .onecolumn .format-aside .entry-meta:after, body .onecolumn .format-status .entry-meta:after{margin-right:450px;}
body .entry-meta .fa.stickyicon{left:15px;}
body .format-standard.has-post-thumbnail .entry-title{text-align:right;}
body .format-standard .entry-meta, body .format-standard.post-password-required .entry-meta{text-align:right;}
body .format-standard.has-post-thumbnail .entry-meta:after, body .format-standard.has-post-thumbnail.post-password-required .entry-meta:after{margin:31px 450px 29px auto;}
body .onecolumnnsb .format-standard .entry-header .entry-meta:after, body .onecolumnnsb .sticky .entry-meta:after, body .onecolumnnsb .format-chat .entry-meta:after, body .onecolumnnsb .format-aside .entry-meta:after, body .onecolumnnsb .format-status .entry-meta:after{margin:31px 450px 29px auto;}
body .entry-meta .iconic, body .entry-meta .fa, body .entry-meta .icon{margin-left:10px;}
body .entry-meta .icon-pencil-square-o{margin-left:10px !important;margin-right:20px !important;}
body .blogpage .format-standard.has-post-thumbnail .entry-meta{text-align:right;}
body .categories-links, body .date, body .author, body .comments-link{margin-left:20px;}
body .entry-thumbnail{float:right;margin-left:50px;    margin-right: 0;}
body .format-standard.has-post-thumbnail h3.entry-title, body .post.post-password-required h3.entry-title, body .format-standard h3.entry-title{text-align:right;}
body .blog2columnpage .format-standard h3.entry-title, body .blog2columnpage .format-chat h3.entry-title, body .blog2columnpage .format-aside h3.entry-title, body .blog2columnpage .format-status h3.entry-title {text-align: center; }
body .gallery-columns-4 .gallery-item:nth-of-type(4n){margin-left:0;}
body .gallery-item{float:right;margin:0 0 4px 4px;}
body .gallery{margin-right:-4px;}
body .sticky{padding:20px 20px 20px 20px;}
body .format-gallery, body .format-image, body .format-video, body .format-audio, body .format-link, body .format-quote{padding:40px 20px 20px 20px;}
body .format-quote{padding:60px 20px 60px 20px;}
body .meta-nav{margin-left:6px;}
body .blogpagination{margin:40px auto 60px auto;}
body .nav-previous a, body .nav-next a{padding:11px 25px 11px 25px;}
body .comment-navigation .nav-previous{float:right;}
body .comment-navigation .nav-next{float:left;}
body .postfb{padding-right:0;padding-left:30px;}
body .postfb article{padding-left:25px;}
body .postfb .entry-thumbnail{margin:0 0 0 30px;float:right;}
body .postfb .entry-meta{text-align:right;}
body .postfb .entry-meta .author{margin-left:30px;}
body .postfb .more-link{text-align:left;}
body .onecolumnnsb .format-standard h3.entry-title, body .onecolumnnsb .format-standard .entry-meta{text-align:right;}
body .onecolumnnsb .format-aside h3.entry-title, body .onecolumnnsb .format-aside .entry-meta{text-align:right;}
body .onecolumnnsb .format-status h3.entry-title, body .onecolumnnsb .format-status .entry-meta{text-align:right;}
body .onecolumnnsb .format-chat h3.entry-title, body .onecolumnnsb .format-chat .entry-meta{text-align:right;}
body .blog2columnpage .post{float:right;margin:0 0 60px 60px;padding:0 20px 20px 20px;}
body .blog2columnpage .post:nth-of-type(2n){margin-left:0;}
body .blog2columnpage .format-audio .audio-content{padding-right:0;}
body .blog2columnpage .format-standard:hover .entry-content, body .blog2columnpage .format-chat:hover .entry-content, body .blog2columnpage .format-aside:hover .entry-content, body .blog2columnpage .format-status:hover .entry-content{right:0;}
body .blogsidebarspage .onecolumnnsb .format-standard .entry-header .entry-meta:after,.blogsidebarspage .onecolumnnsb .sticky .entry-meta:after,.blogsidebarspage .onecolumnnsb .format-audio .entry-meta:after,.blogsidebarspage .onecolumnnsb .format-chat .entry-meta:after,.blogsidebarspage .onecolumnnsb .format-aside .entry-meta:after,.blogsidebarspage .onecolumnnsb .format-status .entry-meta:after{margin-right:auto;}
body ul.related li{margin:0 0 20px 1.5%;}
body .blogsidebarspage ul.related li{margin-left:0;}
body ul.related li:last-child{margin-left:0;}
body ul.related li h3{right:0;left:0;}
body ul.related li .icon, body .related li .iconic{margin-left:6px;}
body ul.related li .iconic{margin-right:25px;}
body ul.related li .vanish{padding:40px 10px 0 10px;right:0;}
body h3.widget-title{text-align:right;}
body h3.widget-title:after{margin:20px 0 29px auto;}
body [id*="rss-"] h3.widget-title:before{margin-left:3px;}
body .search-form, body .woocommerce-product-search{padding:0 0 1px 0;}
body .search-form label:before{right:15px; left: auto;}
body .search-form .search-submit{padding:7px 20px 7px 20px !important;left:1px !important;}
body .search-form input[type=search]{padding:3px 44px 4px 10px;}
body .e404i .search-form input[type=search]{padding-right:0;}
body .woocommerce-product-search input[type=search]{padding:4px 14px 4px 10px;}
body .search-form .btn, body .woocommerce-product-search .btn{float:left;}
body .search-form i{right:15px;}
body .wp-caption.alignnone{margin:5px 0 20px 20px;}
body .wp-caption.alignleft{margin:5px 0 5px 10px;}
body .wp-caption.alignright{margin:5px 10px 5px 0;}
body .avatar{margin-left:30px;float:right;}
body .comment-metadata{text-align:right;}
body .comment-list li{margin:0 0 50px 0;}
body .comment-list li:nth-child(odd) .comment-content:before{right:10%;}
body .comment-list li:nth-child(even) .comment-content:before{right:10%;}
body .comment-list .children li:nth-child(odd) .comment-content:before{right:10%;}
body .comment-list .children li:nth-child(even) .comment-content:before{right:10%;}
body .comment-list .comment-content li{margin:0 0 5px 0 !important;}
body #respond label{margin:5px 0 0 0;}
body .comment-notes{margin-right:0;}
body .contactpage{padding:60px 0 80px 0;}
body .contactpage i, body .contactpage .icon, body .contactpage .iconic, body .contactpage .iconic.iconic-md:before{margin-left:12px;float:right;}
body .seochecklist i, body .seochecklist .icon, body .seochecklist .iconic{margin-left:25px;}
body .iconbox1 div{right:0;left:0;}
body .pricetable1{margin:0 0 20px 0;}
body .pricetable1 li:last-child{border-bottom-right-radius:50px;border-bottom-left-radius:50px;}
body .pricetable2, body .pricetable2caption{margin:0 0 40px 0;}
body .pricetable2caption li{text-align:right;padding:20px 40px 10px 10px;}
body .pricetable2caption li:last-child{border-bottom-right-radius:50px;border-bottom-left-radius:0;}
body .pricetable2caption li:nth-child(2) { border-top-right-radius: 50px;border-top-left-radius: 0;}
body .pricetable2{margin-right:1px;}
body .pricetable2.recommended{margin-right:1px;}
body .pricetable2 li, body .pricetable2caption li{margin:0 0 0 0;}
body .pricetable2 li{padding:20px 0 0 0;}
body .pricetable2:hover li:last-child{border-bottom-right-radius:50px;border-bottom-left-radius:50px;}
body .comment-metadata .iconic, body .comment-metadata .fa, body .comment-metadata .icon{margin-left:10px;}
body .comment-metadata:before{margin-left:6px;}
body .nav-links{margin:20px 0 0 0;}
body .skills li{margin:0 0 10px 30px;}
body .skills li img{float:right;margin-left:20px;}
body .results{margin:0 auto 50px auto;}
body .results .fa, body .results .icon, body .results .iconic{margin-left:8px;}
body .searchpage{padding:50px 0 50px 0;}
body .searchbgr{padding:40px 0 60px 0;}
body #get_report_1 .wpb_single_image img{right:-60px;}
body #get_report_2 .wpb_single_image img{right:-20px;}
body #get_report_3 .wpb_single_image img{right:-60px;}
body .vc_row.comingsoon{margin-right:0;margin-left:0;}
body #digitalti{padding-right:50px;}
body #digitalti .face img{margin:0 auto 20px auto;}
body #digitalti .slick-prev:before{left:-100px;}
body #digitalti .slick-next:before{right:-100px;}
body .digitalicon1{padding-right:30px;padding-left:30px;}
body .clientlogos2{padding:0 0 40px 0;}
body .ctaction1{text-align:right;}
body .ctaction1 h2{text-align:right;}
body .ctaction1 h2:after{margin-right:0;}
body .requestform{left:2000px;}
body .requestform.bounceInLeft{left:0;}
body .ctaction1 input[type=text], body .ctaction1 input[type=email], body .ctaction1 input[type=tel], body .ctaction1textarea{border-right:0;border-left:0;padding:12px 20px 9px 20px;}
body .alert-box{padding:14px 25px 15px 25px;}
body .calltoactionblock2{text-align:right;}
body .calltoactionblock2 .ovgreencta2{padding:60px 0 40px 0;}
body .calltoactionblock2 .biglogobgr{right:-60px;}
body .calltoactionblock2 h3{text-align:right;}
body .calltoactionblock3 h3{text-align:right;}
body .map-info .cusinfopos{padding-right:50px;text-align:right;left:0;}
body .map-info{float:left;left:0;}
body .map-info h2{text-align:right;}
body .map-info strong{margin:40px 0 30px 0;}
body #sbtn{left:500px;}
body .map-info i{margin-left:10px;}
body .map-info .icon-skype{margin-right:30px;}
body .socialbottom{text-align:right;padding:60px 60px 0 0;}
body .socialbottom a{margin:0 0 20px 40px;}
body [id*="form-wysija-"]{padding:0  15px 0 0;}
body [id*="form-wysija-"] input[type=text]{padding:0 40px 0 10px;float:right;}
body [id*="form-wysija-"] input[type=submit].wysija-submit{padding:11px 25px 11px 25px;left:2px;float:left;}
body [id*="form-wysija-"] .wysija-paragraph:before{right:20px;}
body .woocommerce .seoshop div.product p.price del, body .woocommerce .seoshop div.product span.price del{margin-left:20px;}
body .woocommerce .seoshop ul.products li.product, body .woocommerce-page ul.products li.product{float:right;margin:0 0 2.992em 3.8%;}
body .woocommerce .seoshop ul.products li.last, body .woocommerce-page ul.products li.last{margin-left:0;}
body .woocommerce table td{border-left:0 !important;}
body .woocommerce .seoshop #respond input#submit, body .woocommerce .seoshop a.button, body .woocommerce .seoshop button.button, body .woocommerce .seoshop input.button, body .woocommerce .seoshop.woocommerce-product-search input[type=submit], body .woocommerce a.button.alt, body .woocommerce-cart a.button{padding:8px 20px 7px 20px !important;}
body .woocommerce .seoshop a.button.add_to_cart_button{padding:5px 10px 4px 10px !important;}
body .woocommerce-product-search input[type=submit]{float:left;}
body .woocommerce .seoshop .woocommerce-product-search input[type=submit]{margin-left:1px;}
body .woocommerce .cart-collaterals .cart_totals, body .woocommerce-page .cart-collaterals .cart_totals{padding-right:20px;padding-left:20px;}
body .woocommerce .seoshop table.cart td.actions .input-text, body .woocommerce-page #content table.cart td.actions .input-text, body .woocommerce-page table.cart td.actions .input-text{margin-left:30px;padding:14px 20px 16px 20px;}
body .woocommerce .seoshop nav.woocommerce-pagination ul{border-left:0;}
body .woocommerce .seoshop nav.woocommerce-pagination ul li{float:right;}
body .woocommerce .seoshop nav.woocommerce-pagination ul li a,.woocommerce .seoshop nav.woocommerce-pagination ul li span{padding:18px 13px 13px 13px;}
body .woocommerce .seoshop span.onsale{right:-.5em;}
body .woocommerce .seoshop .widget_shopping_cart .cart_list li, body .woocommerce.widget_shopping_cart .cart_list li{padding-right:2em;}
body .woocommerce .seoshop a.checkout{float:left;}
body .woocommerce .seoshop .widget_shopping_cart .total, body .woocommerce.widget_shopping_cart .total{text-align:left;}
body .woocommerce .seoshop a.button.wc-forward{float:right;}
body .woocommerce .seoshop a.wc-forward.checkout{float:left;}
body .widget_shopping_cart h3.widget-title:before{margin-left:10px;}
body .woocommerce .seoshop table.cart td.actions .input-text{float:right;padding:18px 20px 16px 20px;margin-left:30px;}
body .woocommerce .seoshop .cart_totals{text-align:left;float:left;}
body .woocommerce .seoshop ul.products li.product3, body .woocommerce-page ul.products li.product3{float:right;margin:0 0 2.992em 3.8%;}
body .woocommerce .seoshop .woocommerce-error:before, body .woocommerce .seoshop .woocommerce-info:before, body .woocommerce .seoshop .woocommerce-message:before{right:1.5em;}
body .added_to_cart{padding:5px 12px 4px 12px !important;margin:5px 0 0 0;}
body .added_to_cart:before{margin-left:5px;}
body .add_to_cart_button:before{margin-left:5px;}
body .woocommerce-checkout #payment div.payment_box:after{border-left-color:transparent;border-right-color:transparent;right:0;margin:-1em 2em 0 0;}
body .woocommerce .seoshop form .form-row label.inline{margin-right:50px;}
body .woocommerce .seoshop .quantity .qty{margin-left:15px;}
body .product_meta span{margin-left:20px;}
body .woocommerce .seoshop div.product .woocommerce-tabs ul.tabs:before{right:0;}
body .woocommerce .seoshop #reviews #comments ol.commentlist li img.avatar{float:right;right:0;}
body .woocommerce .seoshop #reviews #comments ol.commentlist li .comment-text{margin:0 80px 0 0;}
body .woocommerce .seoshop div.product .woocommerce-tabs ul.tabs li:after{left:-6px;border-bottom-right-radius:4px;}
body .woocommerce .seoshop div.product .woocommerce-tabs ul.tabs{padding:0 1em 0 0;margin:0 0 0 0;}
body .woocommerce .seoshop #reviews #comments ol.commentlist li .comment-text:before{border-right-color:transparent;right:-28px;}
body .woocommerce .seoshop .widget_price_filter .price_slider_amount{text-align:left;}
body .woocommerce .seoshop .widget_price_filter .price_slider_amount .button{float:right;}
body .woocommerce .seoshop .widget_price_filter .ui-slider{text-align:right;margin-right:.5em;margin-left:.5em;}
body .woocommerce .seoshop .widget_price_filter .ui-slider .ui-slider-handle{margin-right:-.5em;}
body .woocommerce .seoshop .widget_price_filter .ui-slider-horizontal .ui-slider-range-min{right:-1px;}
body .woocommerce .seoshop .widget_price_filter .ui-slider-horizontal .ui-slider-range-max{left:-1px;}
body .woocommerce .seoshop ul.product_list_widget li img{float:left;margin-right:4px;}
body .alignleft{float:right;}
body .alignright{float:left;}
body .aligncenter{margin-right:auto;margin-left:auto;}
body figure.wp-caption.alignleft,img.alignleft{margin:5px 0 5px 30px;}
body figure.wp-caption.alignright, body img.alignright{margin:5px 30px 5px 0;}
body div.wp-caption.alignright img[class*="wp-image-"]{float:left;}
body div.wp-caption.alignright .wp-caption-text{padding-right:10px;}
body .entry-meta > span:last-child{margin-left:0;}
body .gallery-columns-1.gallery-size-medium,.gallery-columns-1.gallery-size-thumbnail,.gallery-columns-2.gallery-size-thumbnail,.gallery-columns-3.gallery-size-thumbnail{margin:0 0 20px 0;}
body .gallery-columns-1 .gallery-item:nth-of-type(1n),.gallery-columns-2 .gallery-item:nth-of-type(2n),.gallery-columns-3 .gallery-item:nth-of-type(3n),.gallery-columns-4 .gallery-item:nth-of-type(4n),.gallery-columns-5 .gallery-item:nth-of-type(5n),.gallery-columns-6 .gallery-item:nth-of-type(6n),.gallery-columns-7 .gallery-item:nth-of-type(7n),.gallery-columns-8 .gallery-item:nth-of-type(8n),.gallery-columns-9 .gallery-item:nth-of-type(9n){margin-left:0;}
body .gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1){clear:right;}
body .gallery-caption{right:0;text-align:right;}
body .gallery-caption:before{right:0;}
body .format-audio .entry-content:before{float:right;}
body .format-audio .audio-content{padding-right:35px;}
body .image-navigation .nav-previous{right:0;}
body .image-navigation .nav-next{left:0;}
body .theseo_digital_icons .vc_column_container>.vc_column-inner{padding-right:0;padding-left:0;}
body .smile_icon_list_wrap h3{text-align:right;margin:20px 0 20px 0 !important;}
body .comingsooncounter .ult_countdown-section .ult_countdown-period{text-align:right;}
body .comingsooncounter .ult_countdown-section .ult_countdown-amount:after{margin:auto 30px 0 0;}
body .comingsooncounter .ult_countdown-amount{text-align:right;}
body .vc_images_carousel .vc_carousel-inner .vc_carousel-slideline .vc_carousel-slideline-inner>.vc_item {float: right}
body .slick-track { right: 0; top: 0; position: relative;left: auto;}

body .col-xs-1, body .col-xs-2, body .col-xs-3, body .col-xs-4, body .col-xs-5, body .col-xs-6, body .col-xs-7, body .col-xs-8, body .col-xs-9, body .col-xs-10, body .col-xs-11, body .col-xs-12{float:right;}
 @media (min-width:768px) {
body .col-sm-1, body .col-sm-2, body .col-sm-3, body .col-sm-4, body .col-sm-5, body .col-sm-6, body .col-sm-7, body .col-sm-8, body .col-sm-9, body .col-sm-10, body .col-sm-11, body .col-sm-12{float:right;}
 }
@media (min-width:992px) {
body .col-md-1, body .col-md-2, body .col-md-3, body .col-md-4, body .col-md-5, body .col-md-6, body .col-md-7, body .col-md-8, body .col-md-9, body .col-md-10, body .col-md-11, body .col-md-12{float:right;}
}
@media (min-width:1200px) {
body .col-lg-1, body .col-lg-2, body .col-lg-3, body .col-lg-4, body .col-lg-5, body .col-lg-6, body .col-lg-7, body .col-lg-8, body .col-lg-9, body .col-lg-10, body .col-lg-11, body .col-lg-12{float:right;}
}
@media screen and (max-width:1200px) {

}
@media screen and (max-width:1100px) {
body .calltoactionblock2 .biglogobgr{right:-13%;}
}
@media screen and (max-width:1024px) {
}
@media only screen and (-webkit-device-pixel-ratio:2) and (min-resolution:169dpi) and (max-width:1024px) and (orientation :landscape) {
body .testimonials_box .item:nth-child(even) .mention{margin-right:0;}
body #testimonials-index .owl-item:nth-child(even) .mention{margin-right:0;}
body ul.related li{margin:0 0 20px 0;}
body ul.related li:nth-child(even){margin-left:0;}
body .blogsidebarspage ul.related li{margin-left:0;}
body .postfb .format-standard.has-post-thumbnail h3.entry-title{margin:0 25px 7px 25px;}
body .postfb .entry-meta, body .postfb .entry-content{margin:0 20px 20px 20px;}
body .postfb{padding-left:0;}
}
@media screen and (max-width:768px) {
body .socialbottom a{margin:0 0 20px 20px;}
body .socialbottom{padding:60px 0 60px 0;}
body #sbtn{left:55%;}
body #team-index .item{padding:0 0 0 0;}
body #team-index .item span:after{margin:15px 2px 15px 0;}
body #team-index .item strong, body #team-index .item span, body #team-index .item span:after, body #team-index .item p, body #team-index .socialprofiles, body #teammate .socialprofiles{margin-right:40px;margin-left:40px;}
body #team-index .item .overmember i{margin:48% auto auto auto;}
body .format-standard .entry-header .entry-meta:after{margin:31px auto 29px auto;}
body .pricetable2 li, body .pricetable2caption li{margin:0 0 0 0;}
body .clientlogos ul li{border-right-color:#e0e0e0;margin:0 -3px 0 0;}
body .post img, body .entry-thumbnail{margin:0 0 30px 0;}
body .pagination ul li{margin:20px 0 0 0;}
body .blog2columnpage .post{margin:0 0 60px 0;}
body .woocommerce .seoshop ul.products li.product, body .woocommerce-page ul.products li.product{float:right;}
}
@media screen and (max-width:600px) {
body ul.related li{margin:0 0 20px 0;}
}
@media screen and (max-width:520px) {
body .calltoactionblock2 .ovgreencta2{padding:20px 0 40px 0;}
}
