/*
Theme Name: The SEO
body Description: Adds support for languages written in a Right To Left (RTL) direction.
body It's easy, body just a matter of overwriting all the horizontal positioning attributes
body of your CSS stylesheet in a separate stylesheet file named rtl.css.
body 
body See http://codex.wordpress.org/Right_to_Left_Language_Support
body */
body  { direction: rtl; unicode-bidi: embed;  }
body #page-preloader{right:0;left:0;}
body #page-preloader .bo{right:calc(50% - 24px);}
body #page-preloader .l1, body #page-preloader .l2, body #page-preloader .l3{margin:auto 2px 0 2px;float:right;}
body #page-preloader .l1{right:0;}
body #page-preloader .l2{right:15px;}
body #page-preloader .l3{right:30px;}
body h3.widget-title{text-align:right;}
body section{padding:60px 0 60px 0;}
body blockquote{padding:20px 20px 10px 20px;border-right-width:5px; border-left-width: 0}
body blockquote:before{right:15px;}
body .center-block{margin-left:auto;margin-right:auto;}
body legend{padding:40px 0 0 0;}
body #scroller{left:calc(50% - 18px);}
body ol.squaredstyle, body .squaredstyle ol, body .widget-area ol{margin:0 0 40px 0;}
body ol.squaredstyle li,.squaredstyle ol li, body .widget-area ol li{margin:0 2em 10px 0;padding:4px 15px 4px 8px;}
body ol.squaredstyle li:before,.squaredstyle ol li:before, body .widget-area ol li:before{right:-40px;margin-left:8px;}
body ol.squaredstyle li ol,.squaredstyle ol li ol, body .widget-area ol li ol{margin:20px -10px 10px 0;padding-right:0;}
body ul.roundedstyle, body .roundedstyle ul, body .widget-area ul{margin:0 0 40px 0;}
body ul.roundedstyle li, body .roundedstyle ul li, body .widget-area ul li{margin:0 2em 5px 0;}
body ul.roundedstyle li:before, body .roundedstyle ul li:before, body .widget-area ul li:before{right:-20px;margin-left:8px;}
body ul.roundedstyle li ul, body .roundedstyle ul li ul, body .widget-area ul li ul{margin:0 -20px 0 0;padding-right:0;}
body ul.roundedstyle li ul li:before, body .roundedstyle ul li ul li:before, body .widget-area ul li ul li:before{right:-20px;margin-left:8px;}
body .embed-container iframe, body .embed-container object, body .embed-container embed{right:0;}
body .marginleft{margin-right:20px;}
body .ml40{margin-right:40px;}
body .mr40{margin-left:40px;}
body .marginright{margin-left:20px;}
body .paddingleft{padding-right:40px;}
body .paddingright{padding-left:40px;}
body .pl0{padding-right:0 !important;}
body .pr0{padding-left:0 !important;}
body .bgrshadow{right:0;}
body .bgrshadow2{right:0;}
body .blog-bgrshadow{right:0;}
body .blog-bgrshadow2{right:0;}
body .bgrshadow100{right:0;}
body .bgrshadowwhite{right:0;}
body .bgrshadowwhite0560{right:0;}
body .bgrshadowviolet{right:0;}
body #network, body #networksecond{right:0;}
body #networkr{left:0;}
body #networkl50{right:0;}
body #networkr0{left:0;}
body .tal{text-align:right;}
body .tar{text-align:left;}
body input[type=text], body input[type=tel], body input[type=email], body input[type=password], body input[type=url], body textarea, body textarea.form-control{padding:0 20px 0 20px;}
body input[type=checkbox], body input[type=radio], body .woocommerce .seoshop form .form-row .input-checkbox{margin:0 0 0 14px;}
body input[type=checkbox]:before, body input[type=radio]:before{right:-1px;}
body .form-inline input, body .custom-checkbox{margin-left:10px;}
body select.form-control, body select{border-right:0;border-left:0;}
body label{margin-left:20px;}
body table td{border-left:1px #9c9fa2 solid !important;border-right:0 #9c9fa2 solid !important;}
body table td:last-child{border-left:0 !important;}
body .header-transparent .container-fluid{padding-right:0;padding-left:0;}
body .topbartransparent{right:0;left:0;}
body .socialbartransparent li{margin:0 0 0 7px;}
body .socialbartransparent li:last-child{margin-left:0;}
body .contacttb{text-align:left;float:right;}
body .contacttb i, body .contacttb span{margin-left:5px;margin-right:35px;}
body .head3 .contacttb, body .head4 .contacttb{padding-left:15px;}
body .head3{right:0;}
body .head4{right:0;}
body .cfform{padding:0 0 0 0;margin:220px 0 0 0;}
body .cfform h4{padding:40px 0 10px 0 !important;}
body .transparentmenu.default{right:0;}
body .transparentmenu .header1and5 .suppa_submenu_modern_search,#navbarwhitebox .header2 .suppa_submenu_modern_search,.head3 .header3 .suppa_submenu_modern_search{right:0;}
body .transparentmenu .header1and5 .suppa_submenu_modern_search form,#navbarwhitebox .header2 .suppa_submenu_modern_search form,.head3 .header3 .suppa_submenu_modern_search form{right:15%;}
body .transparentmenu .header1and5 .suppa_submenu_modern_search .suppa_search_modern_close,#navbarwhitebox .header2 .suppa_submenu_modern_search .suppa_search_modern_close,.head3 .header3 .suppa_submenu_modern_search .suppa_search_modern_close{padding-right:0;padding-left:0;left:16px;}
body .transparentmenu .header1and5 .suppa_menu_woocommerce_cart a.cart-contents span.ctf_suppa_fa_box{padding:10px 9px 0 9px !important;margin-left:15px;}
body .menu ul, body ul.menu{margin:0 0 40px 0;text-align:left;}
body .menu li > a{padding:10px 5px 10px 30px;}
body .menu > .menu-item-has-children:after,.menu > .page_item_has_children:after{left:10px;}
body .menu .menu-item-has-children .sub-menu,.menu .page_item_has_children .children{right:0;margin:0 0 0 0;text-align:right;}
body .menu .menu-item-has-children .sub-menu li,.menu .page_item_has_children .children li{padding:0 0 0 0;margin:0 0 0 0;}
body a.btn, body span.btn, body button.btn, body div.btn a, body div.rev-btn.btn, body div.btn button, body main input[type=submit], body input[type=submit].btn{padding:11px 25px 10px 25px !important;}
body .btn .fa, body .btn .icon, body .btn .iconic{margin-left:6px !important;}
body a.btn-lg, body button.btn-lg, body span.btn-lg, body div.btn-lg a, body div.btn-lg button, body div.rev-btn.btn.btn-lg{padding:18px 40px 18px 40px !important;}
body a.btn-sm, body button.btn-sm, body div.btn-sm a, body div.btn-sm button, body div.rev-btn.btn.btn-sm{padding:8px 20px 7px 20px !important;}
body a.btn.btn-info, body button.btn.btn-info, body div.btn.btn-info a, body div.rev-btn.btn-lg.btn-info, body div.btn.btn-info button{padding:12px 25px 14px 25px !important;}
body a.btn-sm.btn-info, body button.btn-sm.btn-info, body div.btn-sm.btn-info a, body div.rev-btn.btn-sm.btn-info, body div.btn-sm.btn-info button{padding:9px 22px 10px 22px !important;}
body .vc_btn3.vc_btn3-size-md.vc_btn3-icon-right:not(.vc_btn3-o-empty){padding-left:55px !important;}
body .vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty){padding-right:55px !important;}
body .slick-track{right:0;}
body .slick-slide{float:right;}
body [dir="rtl"] .slick-slide{float:left;}
body .slick-prev{right:-15px;}
body [dir="rtl"] .slick-prev{right:auto;left:-15px;}
body .slick-next{left:-15px;}
body [dir="rtl"] .slick-next{right:-15px;left:auto;}
body .slick-dots li button:before{right:0;}
body .fact .vc_column-inner{padding:40px 40px 20px 40px;}
body .slist{padding:20px 25px 20px 25px;}
body .slist h3{text-align:right;}
body .slist a.more, body .slist .aio-icon-read{text-align:left;}
body .slist .aio-icon-default{float:right;margin-left:30px;}
body .benefits{padding:60px 0 0 0;}
body .benefits .why{right:calc(50% - 205px);}
body .beniconsize1{right:260px;}
body .beniconsize2{left:20px;}
body .beniconsize3{right:20px;}
body .beniconsize4{right:340px;}
body .beniconsize5{left:20px;}
body .imgbgr{right:-50px;}
body .no-csstransforms .benefits{padding:80px 0 0 0;}
body .no-csstransforms .benefits .why{right:auto;left:auto;}
body .no-csstransforms .beniconsize1{right:auto;left:auto;}
body .no-csstransforms .beniconsize2{right:auto;left:auto;}
body .no-csstransforms .beniconsize3{right:auto;left:auto;}
body .no-csstransforms .beniconsize4{right:auto;left:auto;}
body .no-csstransforms .beniconsize5{right:auto;left:auto;}
body .no-csstransforms .imgbgr{right:-50px;}
body .team{padding:60px 0 40px 0;}
body .team .bgrshadow{right:0;}
body #team-index .item{padding:0 0 0 27px;margin:0 1px 0 10px;text-align:right;}
body #team-index .item img{float:right;margin-left:40px;}
body #team-index .item span:after{margin:11px 302px 15px 0;}
body #team-index .item .overmember{right:0;}
body #team-index .item .overmember i{margin:0 auto auto auto;}
body .catteam #team-index .item{margin:0 0 40px 0;padding:0 0 0 20px;}
body #team-index .socialprofiles a, body #teammate .socialprofiles a{margin:0 0 0 5px;}
body #teammate h1{text-align:right;}
body #teammate h1, body #teammate .headinginfo, body #teammate h3{text-align:right;}
body #teammate h3{margin:35px 0 15px 0;}
body #teammate .socialprofiles a{margin:0 0 0 10px;}
body  #team-index .slick-prev {right: calc(50% - 60px); left:auto}
body  #team-index .slick-next {left: calc(50% - 50px); right:auto}
body .testimonials_box .item{float:right;}
body #testimonials-index .owl-item .bubbles .mention, body .testimonialsingle .item .bubbles .mention, body .testimonials_box .item .mention{margin-left:1px;}
body #testimonials-index .owl-item:nth-child(odd) .mention:after, body .testimonialsingle .bubbles .mention:after, body .testimonials_box .item:nth-child(odd) .mention:after{right:25%;border-right-width:30px;border-left-width: 0}
body #testimonials-index .owl-item:nth-child(even) .mention:after, body .testimonials_box .item:nth-child(even) .mention:after{left:25%;border-left-width:25px; border-right-width: 0}
body #testimonials-index .owl-item:nth-child(odd) .face, body .testimonialsingle .face, body .testimonials_box .item:nth-child(odd) .face{margin:60px 60px auto auto;text-align:right;}
body #testimonials-index .owl-item:nth-child(odd) .face img, body .testimonialsingle .face img, body .testimonials_box .item:nth-child(odd) .face img{float:right;margin-left:20px;}
body #testimonials-index .owl-item:nth-child(even) .face, body .testimonials_box .item:nth-child(even) .face{margin:60px auto auto 60px;text-align:left;}
body #testimonials-index .owl-item:nth-child(even) .face img, body .testimonials_box .item:nth-child(even) .face img{float:left;margin-right:20px;}
body .testimonialsingle .entry-meta{text-align:right;}
body .clientlogos{padding:40px 0 40px 0;}
body .clientlogos2{padding:50px 0 40px 0;}
body #digitalti{padding-right:50px;}
body #digitalti .face img{margin:0 auto 20px auto;}
body #digitalti .slick-prev:before{left:-100px;}
body #digitalti .slick-next:before{right:-100px;}
body .plist h3{right:0;left:0;margin:0 15px 30px 15px;}
body .sticky .entry-meta .featured-post > .icon,.format-audio > .iconic, body .format-audio > .fa , body .format-audio > .icon,.format-gallery > .iconic, body .format-gallery > .fa , body .format-gallery > .icon,.format-video > .iconic, body .format-video > .fa, body .format-video > .icon,.format-link > .iconic, body .format-link > .fa, body .format-link > .icon,.format-quote > .iconic, body .format-quote > .fa, body .format-quote > .icon,.format-image > .iconic, body .format-image > .fa, body .format-image > .icon,.format-quote > [class^="icon-"], body .format-quote > [class*=" icon-"],.format-link > [class^="icon-"], body .format-link > [class*=" icon-"],.format-audio > [class^="icon-"], body .format-audio > [class*=" icon-"]{right:15px;}
body .onecolumn .format-standard .entry-header .entry-meta:after, body .onecolumn .sticky .entry-meta:after, body .onecolumn .format-chat .entry-meta:after, body .onecolumn .format-aside .entry-meta:after, body .onecolumn .format-status .entry-meta:after{margin-right:450px;}
body .entry-meta .fa.stickyicon{left:15px;}
body .format-standard.has-post-thumbnail .entry-title{text-align:right;}
body .format-standard .entry-meta, body .format-standard.post-password-required .entry-meta{text-align:right;}
body .format-standard.has-post-thumbnail .entry-meta:after, body .format-standard.has-post-thumbnail.post-password-required .entry-meta:after{margin:31px 450px 29px auto;}
body .entry-meta .iconic, body .entry-meta .fa, body .entry-meta .icon{margin-left:10px;}
body .entry-meta .icon-pencil-square-o{margin-left:10px !important;margin-right:20px !important;}
body .blogpage .format-standard.has-post-thumbnail .entry-meta{text-align:right;}
body .categories-links, body .date, body .author, body .comments-link{margin-left:20px;}
body .entry-thumbnail{float:right;margin-left:50px;}
body .format-standard.has-post-thumbnail h3.entry-title, body .post.post-password-required h3.entry-title, body .format-standard h3.entry-title{text-align:right;}
body .gallery-columns-4 .gallery-item:nth-of-type(4n){margin-left:0;}
body .gallery-item{float:right;margin:0 0 4px 4px;}
body .gallery{margin-right:-4px;}
body .sticky{padding:20px 20px 20px 20px;}
body .format-gallery, body .format-image, body .format-video, body .format-audio, body .format-link, body .format-quote{padding:40px 20px 20px 20px;}
body .format-quote{padding:60px 20px 60px 20px;}
body .meta-nav{margin-left:6px;}
body .blogpagination{margin:40px auto 60px auto;}
body .nav-previous a, body .nav-next a{padding:11px 25px 11px 25px;}
body .comment-navigation .nav-previous{float:right;}
body .comment-navigation .nav-next{float:left;}
body .onecolumnnsb .format-standard h3.entry-title, body .onecolumnnsb .format-standard .entry-meta{text-align:right;}
body .onecolumnnsb .format-aside h3.entry-title, body .onecolumnnsb .format-aside .entry-meta{text-align:right;}
body .onecolumnnsb .format-status h3.entry-title, body .onecolumnnsb .format-status .entry-meta{text-align:right;}
body .onecolumnnsb .format-chat h3.entry-title, body .onecolumnnsb .format-chat .entry-meta{text-align:right;}
body .blog2columnpage .post{float:right;margin:0 0 60px 60px;padding:0 20px 20px 20px;}
body .blog2columnpage .post:nth-of-type(2n){margin-left:0;}
body .blog2columnpage .format-audio .audio-content{padding-right:0;}
body .blog2columnpage .format-standard:hover .entry-content, body .blog2columnpage .format-chat:hover .entry-content, body .blog2columnpage .format-aside:hover .entry-content, body .blog2columnpage .format-status:hover .entry-content{right:0;}
body .blogsidebarspage .onecolumnnsb .format-standard .entry-header .entry-meta:after,.blogsidebarspage .onecolumnnsb .sticky .entry-meta:after,.blogsidebarspage .onecolumnnsb .format-audio .entry-meta:after,.blogsidebarspage .onecolumnnsb .format-chat .entry-meta:after,.blogsidebarspage .onecolumnnsb .format-aside .entry-meta:after,.blogsidebarspage .onecolumnnsb .format-status .entry-meta:after{margin-right:auto;}
body ul.related li{margin:0 0 20px 1.5%;}
body .blogsidebarspage ul.related li{margin-left:0;}
body ul.related li:last-child{margin-left:0;}
body ul.related li h3{right:0;left:0;}
body ul.related li .icon, body .related li .iconic{margin-left:6px;}
body ul.related li .iconic{margin-right:25px;}
body ul.related li .vanish{padding:40px 10px 0 10px;right:0;}
body h3.widget-title:after{margin:10px 0 15px auto;}
body [id*="rss-"] h3.widget-title:before{margin-left:3px;}
body .search-form, body .woocommerce-product-search{padding:0 0 1px 0;}
body .search-form label:before{right:15px;}
body .search-form .search-submit{padding:7px 20px 7px 20px !important;left:1px !important;}
body .search-form input[type=search]{padding:3px 44px 4px 10px;}
body .woocommerce-product-search input[type=search]{padding:4px 14px 4px 10px;}
body .search-form .btn, body .woocommerce-product-search .btn{float:left;}
body .search-form i{right:15px;}
body .wp-caption.alignnone{margin:5px 0 20px 20px;}
body .wp-caption.alignleft{margin:5px 0 5px 10px;}
body .wp-caption.alignright{margin:5px 10px 5px 0;}
body .avatar{margin-left:30px;float:right;}
body .comment-metadata{text-align:right;}
body .comment-list li{margin:0 0 50px 0;}
body .comment-list li:nth-child(odd) .comment-content:before{right:10%;border-right-width:30px; border-left-width: 0}
body .comment-list li:nth-child(even) .comment-content:before{right:10%;border-right-width:30px;border-left-width: 0}
body .comment-list .children li:nth-child(odd) .comment-content:before{right:10%;border-right-width:30px;border-left-width: 0}
body .comment-list .children li:nth-child(even) .comment-content:before{right:10%;border-right-width:30px;border-left-width: 0}
body .comment-notes{margin-right:10%;}
body .searchresult > article h3.entry-title{text-align:right;}
body .searchresult > article h3.entry-title:after{margin:31px 450px 29px auto;}
body .searchresult .entry-meta{text-align:right;}
body .contactpage{padding:60px 0 80px 0;}
body .contactpage i, body .contactpage .icon, body .contactpage .iconic, body .contactpage .iconic.iconic-md:before{margin-left:12px;float:right;}
body .seochecklist i, body .seochecklist .icon, body .seochecklist .iconic{margin-left:25px;}
body .iconbox1 div{right:0;left:0;}
body .iconbox2{padding:35px 20px 15px 20px;}
body .pricetable1{margin:0 0 20px 0;}
body .pricetable1 li:last-child{border-bottom-right-radius:50px;border-bottom-left-radius:50px;}
body .pricetable2, body .pricetable2caption{margin:0 0 40px 0;}
body .pricetable2caption li{text-align:right;padding:20px 40px 10px 10px;}
body .pricetable2caption li:last-child{border-bottom-right-radius:50px;}
body .pricetable2{margin-right:1px;}
body .pricetable2.recommended{margin-right:1px;}
body .pricetable2 li, body .pricetable2caption li{margin:0 0 0 0;}
body .pricetable2 li{padding:20px 0 0 0;}
body .pricetable2:hover li:last-child{border-bottom-right-radius:50px;border-bottom-left-radius:50px;}
body .comment-metadata .iconic, body .comment-metadata .fa, body .comment-metadata .icon{margin-left:10px;}
body .comment-metadata:before{margin-left:6px;}
body .nav-links{margin:20px 0 0 0;}
body .skills li{margin:0 0 10px 30px;}
body .skills li img{float:right;margin-left:20px;}
body .results{margin:0 auto 50px auto;}
body .results .fa, body .results .icon, body .results .iconic{margin-left:8px;}
body .searchpage{padding:50px 0 50px 0;}
body .searchbgr{padding:40px 0 60px 0;}
body #get_report_1 .wpb_single_image img{right:0;}
body #get_report_2 .wpb_single_image img{right:0;}
body #get_report_3 .wpb_single_image img{right:0;}
body .vc_row.comingsoon{margin-right:0;margin-left:0;}
body .postfb{padding-right:0;padding-left:30px;}
body .postfb article{padding-left:25px;}
body .postfb .entry-thumbnail{margin:0 0 0 30px;float:right;}
body .postfb .entry-meta{text-align:right;}
body .postfb .entry-meta .author{margin-left:30px;}
body .postfb .more-link{text-align:left;}
body .postfb .entry-content{text-align:right;}
body .messagesect{padding:140px 0 60px 0;}
body .messagesect h2{text-align:right;}
body .mainform textarea{border-bottom-right-radius:4px !important;border-bottom-left-radius:4px !important;}
body .mainform input[type=text].nameline{border-left-width:0 !important;}
body .rev_slider .cfform{padding:0 0 0 0;margin:150px 0 0 0;}
body .ctaction1{padding:80px 0 100px 0;text-align:right;}
body .ctaction1 h2{text-align:right;}
body .ctaction1 h2:after{margin-right:0;}
body .requestform{left:2000px;}
body .requestform.bounceInLeft{left:0;}
body .ctaction1 input[type=text], body .ctaction1 input[type=email], body .ctaction1 input[type=tel], body .ctaction1textarea{border-right:0;border-left:0;}
body .alert-box{padding:14px 25px 15px 25px;}
body .wpcf7-response-output{margin:20px 0 0 0 !important;}
body .calltoactionblock2{text-align:right;}
body .calltoactionblock2 .ovgreencta2{padding:60px 0 40px 0;}
body .calltoactionblock2 .biglogobgr{right:-60px;}
body .calltoactionblock2 h3{text-align:right;}
body .calltoactionblock3 h3{text-align:right;}
body .dcontact .map-info .cusinfopos{padding-right:50px;text-align:right;}
body .dcontact .map-info{float:left;left:0;}
body .dcontact .map-info h2{text-align:right;}
body .dcontact .map-info i, body .dcontact .map-info .line{margin-left:15px;float:right;}
body #sbtn{left:500px;}
body .socialbottom{text-align:right;padding:60px 60px 0 0;}
body .socialbottom a{margin:0 0 20px 40px;}
body .footerline{padding:80px 0 30px 0;}
body [id*="form-wysija-"]{padding:0 0 7px 0;}
body [id*="form-wysija-"] input[type=text]{float:right !important;border-bottom-left-radius:0;}
body [id*="form-wysija-"] input[type=submit].wysija-submit{padding:11px 25px 11px 25px !important;float:right;}
body .woocommerce div.product div.images .woocommerce-product-gallery__trigger{left:30px;}
body .woocommerce div.product div.images .woocommerce-product-gallery__trigger:before{right:9px;}
body .woocommerce div.product div.images .woocommerce-product-gallery__trigger:after{right:22px;}
body .woocommerce div.product div.images .flex-control-thumbs li{float:right;}
body .woocommerce div.product .woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1){clear:right;}
body .woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1){clear:right;}
body .woocommerce div.product .woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1){clear:right;}
body .woocommerce-cart h2:after{margin:0 auto 30px auto;}
body .woocommerce table.my_account_orders tr td.order-actions,.woocommerce-page table.my_account_orders tr td.order-actions{text-align:right;}
body .woocommerce table.my_account_orders tr td.order-actions .button,.woocommerce-page table.my_account_orders tr td.order-actions .button{margin:.125em 0 .125em .25em;}
body .woocommerce ul.products li.product,.woocommerce-page ul.products li.product{float:right;margin:0 0 2.992em 3.8%;}
body .woocommerce ul.products li.product:nth-child(2n),.woocommerce-page ul.products li.product:nth-child(2n){float:left;}
body .woocommerce #content table.cart td.actions,.woocommerce table.cart td.actions,.woocommerce-page #content table.cart td.actions,.woocommerce-page table.cart td.actions{text-align:left;}
body .woocommerce #content table.cart td.actions .coupon,.woocommerce table.cart td.actions .coupon,.woocommerce-page #content table.cart td.actions .coupon,.woocommerce-page table.cart td.actions .coupon{float:right;}
body .woocommerce #content table.cart td.actions .button.alt,.woocommerce #content table.cart td.actions .input-text+.button,.woocommerce table.cart td.actions .button.alt,.woocommerce table.cart td.actions .input-text+.button,.woocommerce-page #content table.cart td.actions .button.alt,.woocommerce-page #content table.cart td.actions .input-text+.button,.woocommerce-page table.cart td.actions .button.alt,.woocommerce-page table.cart td.actions .input-text+.button{float:left;}
body .woocommerce .cart-collaterals .cart_totals,.woocommerce .cart-collaterals .cross-sells,.woocommerce .cart-collaterals .shipping_calculator,.woocommerce-page .cart-collaterals .cart_totals,.woocommerce-page .cart-collaterals .cross-sells,.woocommerce-page .cart-collaterals .shipping_calculator{text-align:right;}
body .woocommerce #payment .terms,.woocommerce-page #payment .terms{text-align:left;}
body .woocommerce .lost_reset_password .form-row-first,.woocommerce .lost_reset_password .form-row-last,.woocommerce-page .lost_reset_password .form-row-first,.woocommerce-page .lost_reset_password .form-row-last{margin-left:0;}
body .single-product .twentythirteen .panel{padding-right:20px!important;padding-left:20px!important;}
body .woocommerce .col2-set .col-1,.woocommerce-page .col2-set .col-1{float:right;}
body .woocommerce .col2-set .col-2,.woocommerce-page .col2-set .col-2{float:left;}
body .woocommerce #content div.product div.images,.woocommerce div.product div.images,.woocommerce-page #content div.product div.images,.woocommerce-page div.product div.images{float:right;}
body .woocommerce #content div.product div.thumbnails a,.woocommerce div.product div.thumbnails a,.woocommerce-page #content div.product div.thumbnails a,.woocommerce-page div.product div.thumbnails a{float:right;margin-left:3.8%;}
body .woocommerce #content div.product div.thumbnails a.last,.woocommerce div.product div.thumbnails a.last,.woocommerce-page #content div.product div.thumbnails a.last,.woocommerce-page div.product div.thumbnails a.last{margin-left:0;}
body .woocommerce #content div.product div.thumbnails.columns-1 a,.woocommerce div.product div.thumbnails.columns-1 a,.woocommerce-page #content div.product div.thumbnails.columns-1 a,.woocommerce-page div.product div.thumbnails.columns-1 a{margin-left:0;}
body .woocommerce #content div.product div.summary,.woocommerce div.product div.summary,.woocommerce-page #content div.product div.summary,.woocommerce-page div.product div.summary{float:left;}
body .woocommerce #content div.product #reviews .comment img,.woocommerce div.product #reviews .comment img,.woocommerce-page #content div.product #reviews .comment img,.woocommerce-page div.product #reviews .comment img{float:left;}
body .woocommerce ul.products li.last,.woocommerce-page ul.products li.last{margin-left:0;}
body .woocommerce-page.columns-1 ul.products li.product,.woocommerce.columns-1 ul.products li.product{margin-left:0;}
body .woocommerce .woocommerce-result-count,.woocommerce-page .woocommerce-result-count{float:right;}
body .woocommerce .woocommerce-ordering,.woocommerce-page .woocommerce-ordering{float:left;}
body .woocommerce .cart-collaterals .related,.woocommerce-page .cart-collaterals .related{float:right;}
body .woocommerce .cart-collaterals .cross-sells,.woocommerce-page .cart-collaterals .cross-sells{float:right;}
body .woocommerce .cart-collaterals .shipping_calculator,.woocommerce-page .cart-collaterals .shipping_calculator{clear:left;float:left;}
body .woocommerce .cart-collaterals .cart_totals,.woocommerce-page .cart-collaterals .cart_totals{float:left;}
body .woocommerce ul.cart_list li img,.woocommerce ul.product_list_widget li img,.woocommerce-page ul.cart_list li img,.woocommerce-page ul.product_list_widget li img{float:left;}
body .woocommerce form .form-row-first,.woocommerce form .form-row-last,.woocommerce-page form .form-row-first,.woocommerce-page form .form-row-last{float:right;}
body .woocommerce #payment #place_order,.woocommerce form .form-row-last,.woocommerce-page #payment #place_order,.woocommerce-page form .form-row-last{float:left;}
body .twentyfifteen .t15wc{padding-right:7.6923%;padding-left:7.6923%;}
body .twentyfifteen .t15wc .page-title{margin-right:0;}
body p.demo_store{right:0;left:0;}
body .woocommerce .blockUI.blockOverlay:before,.woocommerce .loader:before{right:50%;margin-right:-.5em;}
body .woocommerce .woocommerce-error,.woocommerce .woocommerce-info,.woocommerce .woocommerce-message{padding:1em 3.5em 1em 2em !important;}
body .woocommerce .woocommerce-error:before,.woocommerce .woocommerce-info:before,.woocommerce .woocommerce-message:before{right:1.5em;}
body .woocommerce .woocommerce-error .button,.woocommerce .woocommerce-info .button,.woocommerce .woocommerce-message .button{float:left;}
body .woocommerce .woocommerce-error li,.woocommerce .woocommerce-info li,.woocommerce .woocommerce-message li{padding-right:0!important;margin-right:0!important;}
body .woocommerce div.product div.social{text-align:left;}
body .woocommerce div.product div.social span{margin:0 2px 0 0;}
body .woocommerce div.product div.social span .stButton .chicklets{padding-right:16px;}
body .woocommerce div.product div.social iframe{float:right;}
body .woocommerce div.product .woocommerce-tabs ul.tabs{padding:0 1em 0 0;}
body .woocommerce div.product .woocommerce-tabs ul.tabs li{border-radius:4px 4px 0 0;}
body .woocommerce div.product .woocommerce-tabs ul.tabs li:before{right:-6px;border-bottom-left-radius:4px;border-width:0 0 1px 1px;}
body .woocommerce div.product .woocommerce-tabs ul.tabs li:after{left:-6px;border-bottom-right-radius:4px;border-width:0 1px 1px 0;}
body .woocommerce div.product .woocommerce-tabs ul.tabs:before{right:0;}
body .woocommerce div.product form.cart div.quantity{float:right;margin:0 0 0 4px;}
body .woocommerce div.product form.cart table td{padding-right:0;}
body .woocommerce div.product form.cart .variations select{float:right;}
body .woocommerce div.product form.cart .variations td.label{padding-left:1em;}
body .woocommerce div.product form.cart .button{float:right;}
body .woocommerce div.product form.cart .group_table td.label{padding-left:1em;padding-right:1em;}
body .woocommerce span.onsale{right:-.5em;}
body .woocommerce ul.products li.product .onsale{left:0;right:auto;margin:-.5em 0 0 -.5em;}
body .woocommerce nav.woocommerce-pagination ul{border-left:0;}
body .woocommerce nav.woocommerce-pagination ul li{border-left:1px solid #d3ced2;float:right;}
body .woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button{right:auto;}
body .woocommerce #respond input#submit.loading,.woocommerce a.button.loading,.woocommerce button.button.loading,.woocommerce input.button.loading{padding-left:2.618em;}
body .woocommerce #respond input#submit.loading:after,.woocommerce a.button.loading:after,.woocommerce button.button.loading:after,.woocommerce input.button.loading:after{left:1em;}
body .woocommerce #reviews h2 small{float:left;}
body .woocommerce #reviews #comments ol.commentlist li img.avatar{float:right;right:0;}
body .woocommerce #reviews #comments ol.commentlist li .comment-text{margin:0 50px 0 0;}
body .woocommerce #reviews #comments ol.commentlist ul.children{margin:20px 50px 0 0;}
body .woocommerce #reviews #comments ol.commentlist #respond{margin:20px 50px 0 0;}
body .woocommerce .star-rating{float:left;}
body .woocommerce .star-rating:before{float:right;right:0;}
body .woocommerce .star-rating span{float:right;right:0;}
body .woocommerce .star-rating span:before{right:0;}
body .woocommerce .woocommerce-product-rating .star-rating{margin:.5em 0 0 4px;float:right;}
body .woocommerce .products .star-rating{margin:0 auto 5px auto;}
body .woocommerce #review_form #respond .form-submit input{right:auto;}
body .woocommerce p.stars a{margin-left:1em;}
body .woocommerce p.stars a:last-child{border-left:0;}
body .woocommerce p.stars a.star-1,.woocommerce p.stars a.star-2,.woocommerce p.stars a.star-3,.woocommerce p.stars a.star-4,.woocommerce p.stars a.star-5{border-left:1px solid #ccc;}
body .woocommerce p.stars a.star-1:after,.woocommerce p.stars a.star-2:after,.woocommerce p.stars a.star-3:after,.woocommerce p.stars a.star-4:after,.woocommerce p.stars a.star-5:after{right:0;}
body .woocommerce table.shop_table{margin:0 0 24px -1px;text-align:right;}
body .woocommerce table.my_account_orders .order-actions{text-align:left;}
body .woocommerce table.my_account_orders .order-actions .button{margin:.125em .25em .125em 0;}
body .woocommerce td.product-name dl.variation dd,.woocommerce td.product-name dl.variation dt{float:right;}
body .woocommerce td.product-name dl.variation dt{margin:0 0 0 4px;clear:right;}
body .woocommerce ul.cart_list li img,.woocommerce ul.product_list_widget li img{float:left;margin-right:4px;}
body .woocommerce ul.cart_list li dl,.woocommerce ul.product_list_widget li dl{padding-right:1em;border-right:2px solid rgba(0,0,0,.1);}
body .woocommerce ul.cart_list li dl dd,.woocommerce ul.cart_list li dl dt,.woocommerce ul.product_list_widget li dl dd,.woocommerce ul.product_list_widget li dl dt{float:right;}
body .woocommerce ul.cart_list li dl dt,.woocommerce ul.product_list_widget li dl dt{margin:0 0 0 4px;clear:right;}
body .woocommerce .widget_shopping_cart .cart_list li,.woocommerce.widget_shopping_cart .cart_list li{padding-right:2em;}
body .woocommerce .widget_shopping_cart .cart_list li a.remove,.woocommerce.widget_shopping_cart .cart_list li a.remove{right:0;}
body .woocommerce form .form-row .input-checkbox{margin:-2px 0 0 8px;}
body .woocommerce form.checkout_coupon,.woocommerce form.login,.woocommerce form.register{text-align:right;}
body .woocommerce ul#shipping_method li{padding:.25em 22px .25em 0;}
body .woocommerce .order_details li{float:right;margin-left:2em;border-left:1px dashed #d3ced2;padding-left:2em;margin-right:0;padding-right:0;}
body .woocommerce .widget_layered_nav ul li.chosen a:before{margin-left:.618em;}
body .woocommerce .widget_layered_nav_filters ul li{float:right;padding:0 0 1px 1px;}
body .woocommerce .widget_layered_nav_filters ul li a:before{margin-left:.618em;}
body .woocommerce .widget_price_filter .price_slider_amount{text-align:left;}
body .woocommerce .widget_price_filter .price_slider_amount .button{float:right;}
body .woocommerce .widget_price_filter .ui-slider{text-align:right;margin-right:.5em;margin-left:.5em;}
body .woocommerce .widget_price_filter .ui-slider .ui-slider-handle{margin-right:-.5em;}
body .woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min{right:-1px;}
body .woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max{left:-1px;}
body .woocommerce-account .addresses .title h3{float:right;}
body .woocommerce-account .addresses .title .edit,.woocommerce-account ul.digital-downloads li .count{float:left;}
body .woocommerce-account ul.digital-downloads{margin-right:0;padding-right:0;}
body .woocommerce-account ul.digital-downloads li{margin-right:0;padding-right:0;}
body .woocommerce-account ul.digital-downloads li:before{margin-left:.618em;}
body .woocommerce-cart table.cart td.actions .coupon .input-text{float:right;margin:0 0 0 4px;}
body .woocommerce-cart .wc-proceed-to-checkout{text-align:left;}
body .woocommerce-cart .cart-collaterals .shipping_calculator .shipping-calculator-button:after{margin-right:.618em;}
body .woocommerce-cart .cart-collaterals .cart_totals table{border-right:0;}
body .woocommerce-cart .cart-collaterals .cart_totals table td,.woocommerce-cart .cart-collaterals .cart_totals table th{border-right:0;border-left:0;}
body .woocommerce-checkout .checkout .col-2 h3#ship-to-different-address{float:right;}
body .woocommerce-checkout .checkout .col-2 .form-row-first,.woocommerce-checkout .checkout .col-2 .notes{clear:right;}
body .woocommerce-checkout .checkout div.shipping-address{clear:right;}
body .woocommerce-checkout #payment ul.payment_methods{text-align:right;}
body .woocommerce-checkout #payment ul.payment_methods li{text-align:right;}
body .woocommerce-checkout #payment ul.payment_methods li input{margin:0 0 0 1em;}
body .woocommerce-checkout #payment ul.payment_methods li img{margin:-2px .5em 0 0;}
body .woocommerce-checkout #payment ul.payment_methods li img+img{margin-right:2px;}
body .woocommerce-checkout #payment div.payment_box:after{border-left-color:transparent;border-right-color:transparent;right:0;margin:-1em 2em 0 0;}
body .woocommerce-checkout #payment .payment_method_paypal .about_paypal{float:left;}
body .woocommerce .seoshop div.product p.price del, body .woocommerce .seoshop div.product span.price del{margin-left:20px;}
body .woocommerce .seoshop ul.products li.product, body .woocommerce-page ul.products li.product{float:right;margin:0 0 2.992em 3.8%;}
body .woocommerce .seoshop ul.products li.last, body .woocommerce-page ul.products li.last{margin-left:0;}
body .woocommerce table td{border-left:0 !important;}
body .woocommerce .seoshop #respond input#submit, body .woocommerce .seoshop a.button, body .woocommerce .seoshop button.button, body .woocommerce .seoshop input.button, body .woocommerce .seoshop.woocommerce-product-search input[type=submit], body .woocommerce a.button.alt, body .woocommerce-cart a.button{padding:8px 20px 7px 20px !important;}
body .woocommerce .seoshop a.button.add_to_cart_button{padding:5px 10px 4px 10px !important;}
body .woocommerce-product-search input[type=submit]{float:left;}
body .woocommerce .seoshop .woocommerce-product-search input[type=submit]{margin-left:1px;}
body .woocommerce .cart-collaterals .cart_totals, body .woocommerce-page .cart-collaterals .cart_totals{padding-right:20px;padding-left:20px;}
body .woocommerce .seoshop table.cart td.actions .input-text, body .woocommerce-page #content table.cart td.actions .input-text, body .woocommerce-page table.cart td.actions .input-text{margin-left:30px;padding:14px 20px 16px 20px;}
body .woocommerce .seoshop nav.woocommerce-pagination ul{border-left:0;}
body .woocommerce .seoshop nav.woocommerce-pagination ul li{float:right;}
body .woocommerce .seoshop nav.woocommerce-pagination ul li a,.woocommerce .seoshop nav.woocommerce-pagination ul li span{padding:18px 13px 13px 13px;}
body .woocommerce .seoshop span.onsale{right:-.5em;}
body .woocommerce .seoshop .widget_shopping_cart .cart_list li, body .woocommerce.widget_shopping_cart .cart_list li{padding-right:2em;}
body .woocommerce .seoshop a.checkout{float:left;}
body .woocommerce .seoshop .widget_shopping_cart .total, body .woocommerce.widget_shopping_cart .total{text-align:left;}
body .woocommerce .seoshop a.button.wc-forward{float:right;}
body .woocommerce .seoshop a.wc-forward.checkout{float:left;}
body .widget_shopping_cart h3.widget-title:before{margin-left:10px;}
body .woocommerce .seoshop table.cart td.actions .input-text{float:right;padding:18px 20px 16px 20px;margin-left:30px;}
body .woocommerce .seoshop .cart_totals{text-align:left;float:left;}
body .woocommerce .seoshop ul.products li.product3, body .woocommerce-page ul.products li.product3{float:right;margin:0 0 2.992em 3.8%;}
body .woocommerce .seoshop .woocommerce-error:before, body .woocommerce .seoshop .woocommerce-info:before, body .woocommerce .seoshop .woocommerce-message:before{right:1.5em;}
body .added_to_cart{padding:5px 12px 4px 12px !important;margin:5px 0 0 0;}
body .added_to_cart:before{margin-left:5px;}
body .add_to_cart_button:before{margin-left:5px;}
body .woocommerce .seoshop form .form-row label.inline{margin-right:50px;}
body .woocommerce .seoshop .quantity .qty{margin-left:15px;}
body .product_meta span{margin-left:20px;}
body .woocommerce .seoshop div.product .woocommerce-tabs ul.tabs:before{right:0;}
body .woocommerce .seoshop #reviews #comments ol.commentlist li img.avatar{float:right;right:0;}
body .woocommerce .seoshop #reviews #comments ol.commentlist li .comment-text{margin:0 80px 0 0;}
body .woocommerce .seoshop div.product .woocommerce-tabs ul.tabs li:after{left:-6px;border-bottom-right-radius:4px;}
body .woocommerce .seoshop div.product .woocommerce-tabs ul.tabs{padding:0 1em 0 0;margin:0 0 0 0;}
body .woocommerce .seoshop #reviews #comments ol.commentlist li .comment-text:before{border-right-color:transparent;right:-28px;}
body .woocommerce .seoshop .widget_price_filter .price_slider_amount{text-align:left;}
body .woocommerce .seoshop .widget_price_filter .price_slider_amount .button{float:right;}
body .woocommerce .seoshop .widget_price_filter .ui-slider{text-align:right;margin-right:.5em;margin-left:.5em;}
body .woocommerce .seoshop .widget_price_filter .ui-slider .ui-slider-handle{margin-right:-.5em;}
body .woocommerce .seoshop .widget_price_filter .ui-slider-horizontal .ui-slider-range-min{right:-1px;}
body .woocommerce .seoshop .widget_price_filter .ui-slider-horizontal .ui-slider-range-max{left:-1px;}
body .woocommerce .seoshop ul.product_list_widget li img{float:left;margin-right:4px;}
body .alignleft{float:right;}
body .alignright{float:left;}
body .aligncenter{margin-right:auto;margin-left:auto;}
body figure.wp-caption.alignleft,img.alignleft{margin:5px 0 5px 30px;}
body figure.wp-caption.alignright, body img.alignright{margin:5px 30px 5px 0;}
body div.wp-caption.alignright img[class*="wp-image-"]{float:left;}
body div.wp-caption.alignright .wp-caption-text{padding-right:10px;}
body .entry-meta > span:last-child{margin-left:0;}
body .gallery-columns-1.gallery-size-medium,.gallery-columns-1.gallery-size-thumbnail,.gallery-columns-2.gallery-size-thumbnail,.gallery-columns-3.gallery-size-thumbnail{margin:0 0 20px 0;}
body .gallery-columns-1 .gallery-item:nth-of-type(1n),.gallery-columns-2 .gallery-item:nth-of-type(2n),.gallery-columns-3 .gallery-item:nth-of-type(3n),.gallery-columns-4 .gallery-item:nth-of-type(4n),.gallery-columns-5 .gallery-item:nth-of-type(5n),.gallery-columns-6 .gallery-item:nth-of-type(6n),.gallery-columns-7 .gallery-item:nth-of-type(7n),.gallery-columns-8 .gallery-item:nth-of-type(8n),.gallery-columns-9 .gallery-item:nth-of-type(9n){margin-left:0;}
body .gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1){clear:right;}
body .gallery-caption{right:0;text-align:right;}
body .gallery-caption:before{right:0;}
body .format-audio .entry-content:before{float:right;}
body .format-audio .audio-content{padding-right:35px;}
body .image-navigation .nav-previous{right:0;}
body .image-navigation .nav-next{left:0;}
body .theseo_digital_icons .vc_column_container>.vc_column-inner{padding-right:0;padding-left:0;}
body .smile_icon_list_wrap h3{text-align:right;margin:20px 0 20px 0 !important;}
body .comingsooncounter .ult_countdown-section .ult_countdown-period{text-align:right;}
body .comingsooncounter .ult_countdown-section .ult_countdown-amount:after{margin:auto 30px 0 0;}
body .comingsooncounter .ult_countdown-amount{text-align:right;}
body .vc_toggle_content{padding-right:20px !important;padding-left:20px !important;}
body .digitalicon1{padding-right:30px;padding-left:30px;}
body .suppa_menu_woocommerce_cart a.cart-contents span.ctf_suppa_fa_box{margin-left:0 !important;}
body .suppa_menu_woocommerce_cart a.cart-contents{padding-left:0 !important;}
body .wpcf7-list-item span{text-align:right;}
body .wpcf7-list-item input[type="checkbox"]{margin:7px 0 0 10px;}
body .wpcf7-list-item input[type="checkbox"] + span:after{right:-2px;}
body .text-left{text-align:right !important;}
body .text-right{text-align:left !important;}
body .background-box .vc_column-inner:before{right:100%;}
body .background-box_r .vc_column-inner:before{left:100%;}
body .mainform{padding:20px 30px 30px 30px;}
body .testi_box_four .item{padding:80px 80px 0 80px;}
body .testi_box_four .item:before{right:calc(50% - 25px);}
body .testi_box_four .face img{margin:0 auto 20px auto;}
body .testi_box_four .slick-dots{margin:0 auto 10px auto;right:calc(50% - 54px);}
body .testi_box_four .slick-dots li button{border-width:3px 0 0 0;}
body .testimonialarch .testimonial .bubbles .mention{margin-left:1px;}
body .testimonialarch .testimonial:nth-child(odd){margin-left:80px;}
body .testimonialarch .testimonial:nth-child(even){margin-right:80px;}
body .testimonialarch .testimonial:nth-child(odd) .bubbles .mention:after{right:25%;border-right-width:30px;border-left-width: 0}
body .testimonialarch .testimonial:nth-child(even) .bubbles .mention:after{left:25%;border-left-width:25px;  border-right-width:0;}
body .testimonialarch .testimonial:nth-child(odd) .face{margin:60px 60px auto auto;text-align:right;}
body .testimonialarch .testimonial:nth-child(odd) .face img{float:right;margin-left:20px;}
body .testimonialarch .testimonial:nth-child(even) .face{margin:60px auto auto 60px;text-align:left;}
body .testimonialarch .testimonial:nth-child(even) .face img{float:left;margin-right:20px;}
body .testimonialarch .testimonial .entry-meta{text-align:right;}
body .sell_socials li{margin:0 5px 10px 5px;}
body .pricetable3{margin:0 0 20px 0;}
body .pricetable3 li h3{margin:30px 0 20px 0;}
body .pricetable3 li:last-child{padding:20px 0 50px 0;}
body .postfb .ccount{right:0;}
body .last_4_posts .entry-thumbnail{float:right;margin-left:27px;}
body .last_4_posts .entry-thumbnail .over a i{right:calc(50% - 21px);}
body .last_4_posts .entry-meta{margin-left:0;}
body .last_4_posts .entry-meta > span{margin-left:0;}
body .last_4_posts .comments-link > span{margin-left:6px;}
body .last_4_posts.one{padding-left:50px;}
body .last_4_posts.one .entry-thumbnail{margin-left:0;}
body .image_left_margin .last_4_posts.one .entry-thumbnail{margin-right:-150px;}
body .slist_sc_2 .slist_item{padding:30px 25px 20px 25px;float:right;margin:0 0 40px 40px;}
body .slist_sc_2 .slist_item:nth-child(4n){margin-left:0;}
body .slist_sc_2.cols3 .slist_item:nth-child(4n){margin-left:40px;}
body .slist_sc_2.cols3 .slist_item:nth-child(3n){margin-left:0;}
body .sell_plist_1 .item:nth-child(even) .block{margin:25px -15px 0 0;}
body .sell_plist_1 .item .block a{right:-100%;}
body .sell_plist_1 .item:hover .blocka{right:0;}
body .sell_plist_1 .item .block a i{right:calc(50% - 20px);}
body .sell_plist_1 .slick-dots{padding:25px 0 0 0;}
body .sell_plist_2{margin-left:1px;}
body .sell_plist_2 .item .block{float:right;margin:0 0 0 40px;}
body .sell_plist_2 .item .block a{right:-100%;}
body .sell_plist_2 .item:hover .blocka{right:0;}
body .sell_plist_2 .item .block a i{right:calc(50% - 20px);}
body .sell_plist_2 .item .plist_data{float:right;}
body .sell_plist_2 .slick-dots{right:0;}
body #sell_tetim_tabs .tab-content p{padding:40px 40px 20px 40px;}
body .theseo_h_form{padding:20px 30px 0px 30px !important;}
body .theseo_h_form strong{margin:15px 0 30px 0 !important;}
body .footer_section .uavc-list .uavc-list-icon{float:right;}
body .sell_seo_result_1 .item .graph{text-align:right;}
body .sell_seo_result_1 .item .graph .under{left:11.7338%;right:11.7338%;}
body .sell_seo_result_1 .item .graph .under > img{right:0;}
body .sell_seo_result_1 .item h3{text-align:right;}
body .sell_seo_result_1 .item i{margin-left:8px;}
body .sell_seo_result_1 .item ul{margin:0 0 40px 0;}
body .sell_seo_result_1 .item .top10, body .sell_seo_result_1 .item .traffic{text-align:right;}
body .sell_seo_result_1 .slick-prev{left:60px;right:auto !important;}
body .sell_seo_result_1 .slick-next{left:0;right:auto !important;}
body #teamsecond .photo > a{margin:0 auto 25px auto;}
body #teamsecond .photo > a:before{right:calc(50% - 25px);}
body #teamsecond .sl_t2_soc a{margin-left:10px;}
body #teamsecond .sl_t2_soc a:last-child{margin-left:0;}
body .seo_progress.vc_progress_bar .vc_single_bar .vc_label{padding-right:20px;}
body .teammate_box_three .personal-info{margin:-150px 13px 11px 13px;}
body .teammate_box_three .team-overlay-link a{margin-right:6px;}
body .teammate_box_three .team-item .overmember{right:0;}
body .teammate_box_three .team-item .overmember a{right:calc(50% - 50px);}
body .teammate_box_four .slick-slide > div .wrapper:nth-child(odd){padding-left:12px;}
body .teammate_box_four .slick-slide > div .wrapper:nth-child(even){padding-right:12px;}
body .teammate_box_four .wrapper .personal-info{right:0;left:0;}
body .teammate_box_four .slick-slide > div .wrapper:nth-child(odd) .personal-info{left:12px;}
body .teammate_box_four .slick-slide > div .wrapper:nth-child(even) .personal-info{right:12px;}
body .price-table-4 .hw{padding-right:45px;}
body .price-table-4 .hw h2{padding-left:20px;text-align:right;}
body .price-table-4 .hw h2:after{right:0;}
body .price-table-4 .hw .pict{left:-10px;}
body .price-table-4 .hw .money-currency-4{margin-right:5px;}
body .price-table-4 .hw .price-time-4{margin-right:20px;}
body .price-table-4 .body-price-wrapper-4 .price-table{margin-right:9px;}
body .price-table-4 .body-price-wrapper-4{padding:30px 30px 30px 30px;border-width:0 5px 5px 5px;}
body .price-table-4 .body-price-4 ul li{text-align:right;}
body .price-table-4 .body-price-4 ul li i{margin-left:10px;padding-left:10px;}
body .seo_progress2.vc_progress_bar .vc_single_bar .vc_label .vc_label_units{float:left;}
body .wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title{text-align:right;}
body .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading{border-width:0 0 2px 0;}
body .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading{border-width:0 0 2px 0;}
body .ws_check span.url, body .ws_check span.mail{margin-left:15px;float:right;}
body .ws_check span.wsb{float:right;}
body .sell_title.over_columns{right:50%;}
@media screen and (max-width:1200px) {
body .beniconsize1{right:155px;}
}
@media screen and (max-width:1100px) {
body #navbar-transparent .container-fluid{padding-left:0;padding-right:0;}
body .beniconsize2{left:50px;}
body .calltoactionblock2 .biglogobgr{right:-13%;}
}
@media screen and (max-width:1024px) {
body .beniconsize1{right:55px;}
body .beniconsize2{left:40px;}
body .beniconsize4{right:180px;}
body .beniconsize5{left:40px;}
}
@media screen and (min-width:1280px) {
body .rev_slider .mainform input[type=text],.rev_slider .mainform input[type=tel],.rev_slider .mainform input[type=email],.rev_slider .mainform textarea{padding:21px 20px 20px 20px !important;}
}
@media screen and (max-width:1280px) {
body .rev_slider .mainform input[type=text],.rev_slider .mainform input[type=tel],.rev_slider .mainform input[type=email]{padding:15px 14px 14px 14px !important;}
body .rev_slider .mainform textarea{padding:15px 14px 14px 14px !important;}
}
@media screen and (min-width:673px){
body .twentyfourteen .tfwc{padding-left:30px;padding-right:30px;}
}
@media screen and (min-width:1040px){
body .twentyfourteen .tfwc{padding-left:15px;padding-right:15px;}
}
@media screen and (min-width:1110px){
body .twentyfourteen .tfwc{padding-left:30px;padding-right:30px;}
}
@media screen and (min-width:1218px){
body .twentyfourteen .tfwc{margin-left:54px;}
body .full-width .twentyfourteen .tfwc{margin-left:auto;}
}
@media screen and (min-width:38.75em){
body .twentyfifteen .t15wc{margin-left:7.6923%;margin-right:7.6923%;}
}
@media screen and (min-width:59.6875em){
body .twentyfifteen .t15wc{margin-right:8.3333%;margin-left:8.3333%;}
}
@media screen and (max-width:960px) {
body .suppaMenu_rwd_wrap .suppa_rwd_menu > .suppa_rwd_submenu{margin-right:0 !important;}
body .testimonials_box .item:nth-child(even) .mention{margin-right:0;}
body #testimonials-index .owl-item:nth-child(even) .mention{margin-right:0;}
body ul.related li{margin:0 0 20px 0;}
body ul.related li:nth-child(even){margin-left:0;}
body .blogsidebarspage ul.related li{margin-left:0;}
body .postfb article{padding-left:0;}
body .postfb .format-standard.has-post-thumbnail h3.entry-title{margin:0 25px 7px 25px;}
body .postfb .entry-meta, body .postfb .entry-content{margin:0 20px 20px 20px;}
body .postfb{padding-left:0;}
body .socialbottom{padding:60px 60px 40px 0;}
body .map-info .cusinfopos{left:auto;right:0;}
body .clientlogos2 .vc_item > .vc_inner{padding:20px 0px 20px 0px;}
}
@media screen and (max-width:768px) {
body .contacttb i, body .contacttb span{margin-right:0;}
body span.btn.hiddesc{margin-right:0;}
body .socialbottom a{margin:0 0 20px 20px;}
body .socialbottom{padding:60px 0 60px 0;}
body #sbtn{left:55%;}
body .benefits div{margin:0 auto 20px auto;}
body .benefits .why{right:auto;left:auto;}
body .beniconsize1{right:auto;left:auto;}
body .beniconsize2{right:auto;left:auto;}
body .beniconsize3{right:auto;left:auto;}
body .beniconsize4{right:auto;left:auto;}
body .beniconsize5{right:auto;left:auto;}
body .imgbgr{right:-50px;}
body .benefits .imgbgr{right:0;}
body #team-index .item{padding:0 0 0 0;}
body #team-index .item span:after{margin:15px 2px 15px 0;}
body #team-index .item strong, body #team-index .item span, body #team-index .item span:after, body #team-index .item p, body #team-index .socialprofiles, body #teammate .socialprofiles{margin-right:40px;margin-left:40px;}
body #team-index .item .overmember i{margin:48% auto auto auto;}
body .pricetable2 li, body .pricetable2caption li{margin:0 0 0 0;}
body .clientlogos ul li{border-right-color:#e0e0e0;margin:0 -3px 0 0;}
body .post img, body .entry-thumbnail{margin:0 0 30px 0;}
body .pagination ul li{margin:20px 0 0 0;}
body .blog2columnpage .post{margin:0 0 60px 0;}
body .woocommerce .seoshop ul.products li.product, body .woocommerce-page ul.products li.product{float:right;}
body .cta1desc a{float:left;}
body .calltoactionblock3 .text-right{text-align:right;}
body .dcontact .map-info .cusinfopos{padding-right:10px;}
body .digital-format.post img, body .digital-format .entry-thumbnail{float:right;margin:0 0 0 15px;}
body #digitalti{padding-right:0;}
}
@media screen and (max-width:640px) {
body .image_left_margin .last_4_posts.one .entry-thumbnail{margin-right:0;}
body .onecolumn .format-standard .entry-header .entry-meta:after, body .onecolumn .sticky .entry-meta:after, body .onecolumn .format-chat .entry-meta:after, body .onecolumn .format-aside .entry-meta:after, body .onecolumn .format-status .entry-meta:after{margin-right:0;}
body .format-standard.has-post-thumbnail .entry-meta:after, body .format-standard.has-post-thumbnail.post-password-required .entry-meta:after{margin:31px 0 29px auto;}
body .mainform{padding:20px 15px 30px 15px;}
body footer .vc_custom_1476787925857{margin-right:0 !important;}
body footer .vc_custom_1476787925857, body .vc_custom_1476787925857 .vc_custom_heading{text-align:right !important;}
}
@media screen and (max-width:600px) {
body ul.related li{margin:0 0 20px 0;}
body .cta1desc a{float:right;margin-right:0;margin-left:50px;}
body .mainform input[type=text].nameline{border-left-width:2px;border-left-style:solid;}
body div.wpcf7 .ajax-loader{float:right;}
}
@media screen and (max-width:520px) {
body .digital-format.post img, body .digital-format .entry-thumbnail{margin:0 0 0 0;}
body .calltoactionblock2 .ovgreencta2{padding:20px 0 40px 0;}
body .map-info .cusinfopos{padding:10px 30px 5px 30px;}
body .map-info strong{margin:20px 0 20px 0;}
body #team-index .item img{margin:0 auto 0 auto;}
body .catteam #team-index .item{padding:0 0 20px 0;}
body #team-index .item{padding:0 0 35px 0;}
body .slist{padding-right:0;padding-left:0;}
body a.btn-lg, body button.btn-lg, body span.btn-lg, body div.btn-lg a, body div.btn-lg button, body div.rev-btn.btn.btn-lg{padding:18px 25px 18px 25px !important;}
body #testimonials-index .owl-item .bubbles .mention, body .testimonialsingle .item .bubbles .mention, body .testimonials_box .item .mention{padding:20px 25px 20px 25px;}
body .suppa_rwd_menu_links .suppa_rwd_submenu_columns_wrap{margin-right:0 !important;right:0 !important;}
body .map-info .icon-skype{margin-right:0;}
body .cta1desc a{margin-right:0;}
body .slist_sc_2 .slist_item, body .slist_sc_2.cols3 .slist_item{margin-left:0;}
body .price-table-4 .hw .price-time-4{margin-right:0;}
}
@media screen and (max-width:980px) {
body .ws_check span.wsb{margin-right:-24px;}
body .sell_title.over_columns{right:auto;}
body .contacttb i, body .contacttb span{margin-right:0;}
body .socialbartransparent{margin-right:0;}
body .socialbartransparent li:last-child{margin-left:0;}
body .testi_box_four .slick-dots{right:calc(50% - 54px*2);}
body .slist_sc_2 .slist_item:nth-child(4n), body .slist_sc_2.cols3 .slist_item:nth-child(3n){margin-left:40px;}
body .slist_sc_2 .slist_item:nth-child(2n), body .slist_sc_2.cols3 .slist_item:nth-child(2n){margin-left:0;}
body .clientlogos2 .vc_item > .vc_inner{padding:20px 0px 20px 0px;}
body .postfb .format-standard.has-post-thumbnail h3.entry-title{margin:0 25px 7px 25px;}
body .postfb .entry-meta, body .postfb .entry-content{margin:0 20px 20px 20px;}
body .postfb{padding-left:0;}
}