@font-face {
    font-family: 'HurmeGeometricSans';
    src: url('https://www.somosstart.com.co/wp-content/uploads/2019/fonts/HurmeGeometricSans4Black.otf'); /* IE9 Compat Modes */
}

.responsive {
    padding-top: 40px;
    display:block;
    margin:auto;
    height: auto;
    width: 40%;
}

.construction{
    text-align: center;
    font-family: 'HurmeGeometricSans';
    font-size:20px;
}

#slide-6-layer-12{
    font-family: 'HurmeGeometricSans' !important;
}

.tp-mask-wrap > #slide-6-layer-13{
    font-size: 18px !important;
}

#ultimate-heading-18065c40f1350abaa > .uvc-main-heading > h1{
    color: blue !important;
}


h1, h2, h3, h4 {
    font-family: 'HurmeGeometricSans' !important;
    color: #002e42 !important;
}

body {
    font-family: 'HurmeGeometricSans' !important;
    color: #002e42 !important;
}

.slist p, .slist .aio-icon-description {
    color: #002e42 !important;
}

.headinginfo, body .uvc-sub-heading, .uvc-sub-heading {
    font-family: 'HurmeGeometricSans' !important;
    color: #002e42;
}

.footerline {
    background-color: #002e42 !important;
    color: #45c6e9 !important;
}

form {
    font-family: 'HurmeGeometricSans' !important;
}

.menu ul, ul.menu {
    text-align: -webkit-center !important;
}

.ctaction1{
    background-color: #45c6e9 !important;
}

.ctaction1 input[type=text], .ctaction1 input[type=email], .ctaction1 input[type=tel], .ctaction1 textarea {
    background-color:#002e42!important;
}

.hiderform {
    color: #edf7f7 !important;
}

input[type=text], input[type=tel], input[type=email], input[type=password], input[type=url], textarea, textarea.form-control{
    color: #fff!important;
    font-family: 'HurmeGeometricSans' !important;
}

.menu li a {
    color:#002e42 !important;
}

.mainbox {
    max-width: -webkit-fill-available !important;
}

.transparentmenu{
    background-color: #45c6e9 !important;
}
