    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Gestion de planes</h4> 
                            <p class="card-category">Información de sus planes</p>
                        </div>
                        <div class="card-body">
                            <div class="content mat-elevation-z8">
                                
                                <div class="form">
                                  <mat-form-field floatPlaceholder="never" color="accent">
                                    <input matInput #filter placeholder="Filtrar plan">
                                  </mat-form-field>
                                </div>
                              
                                <table mat-table [dataSource]="dataSource" matSort class="mat-cell">
                                  <!-- Checkbox Column -->
                                  <ng-container matColumnDef="select">
                                      <mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                                      [checked]="selection.hasValue() && isAllSelected()"
                                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                                        </mat-checkbox>
                                      </mat-header-cell>
                                      <mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                                      (change)="$event ? selection.toggle(row) : null"
                                                      [checked]="selection.isSelected(row)">
                                        </mat-checkbox>
                                      </mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="maxRise">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Max. Subida</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.maxRise}}</mat-cell>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="uploadUnit">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Unidad subida</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.uploadUnit}}</mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="maxDesc">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>Max. Bajada</mat-header-cell>
                                      <mat-cell *matCellDef="let row"> {{row.maxDesc}}</mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="descentUnit">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>Unidad bajada</mat-header-cell>
                                      <mat-cell *matCellDef="let row"> {{row.descentUnit}}</mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="frequency">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Frecuencia</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.frequency}}</mat-cell>
                                  </ng-container>

                              
                                  <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>
                                      <button mat-icon-button color="primary" (click)="addNew()">
                                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                                      </button>
                                    </mat-header-cell>
                              
                                    <mat-cell *matCellDef="let row; let i=index;">
                                      <button mat-icon-button color="accent" (click)="startEdit(i, row._id, row.name, row.maxRise, row.uploadUnit, row.maxDesc, row.descentUnit, row.frequency)">
                                        <mat-icon aria-label="Edit">edit</mat-icon>
                                      </button>
                              
                                      <button mat-icon-button color="accent" (click)="deleteItem(i, row._id, row.name, row.maxRise, row.uploadUnit, row.maxDesc, row.descentUnit, row.frequency)">
                                        <mat-icon aria-label="Delete">delete</mat-icon>
                                      </button>
                                    </mat-cell>
                                  </ng-container>
                              
                                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                </table>
                              
                              
                                <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                                  No hay resultados
                                </div>
                              
                                <mat-paginator #paginator
                                                [length]="dataSource.filteredData.length"
                                                [pageIndex]="0"
                                                [pageSize]="5"
                                                [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>


                                <div class="actionAll">
                                  <div class="delete">
                                    <button mat-mini-fab (click)="deleteSelectedMikrotik()"><mat-icon>delete_forever</mat-icon></button>
                                  </div>
                                </div>

                                
                                <div *ngIf="showView">
                                    <mat-spinner></mat-spinner>
                                </div>


                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>