<div class="container" *ngIf="!spinner">
    <h3 mat-dialog-title>
      Estas seguro de enviar la campaña via sms a sus contactos? 
      <mat-icon aria-label="Sms">sms</mat-icon>
    </h3>
    
    <div mat-dialog-content>
      <p></p>
      Nombre de la Campaña: {{data.name}}
      <p></p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="sendSms()">Enviar campaña</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
</div>

<div class="spinner-content" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
