<div class="container" *ngIf="!spinner">
  <h3 mat-dialog-title>Estas seguro?</h3>
  <div mat-dialog-content>
    <p></p>
    Dirección ip del contrato: {{data.addressIp}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Borrar</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
  </div>
</div>
<div *ngIf="spinner">
  <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
</div>