<div class="example-container" *ngIf="!spinner">
       
  <mat-form-field>
    <input matInput 
           placeholder="Ingrese el nombre de su empresa"
           [(ngModel)]="data.companyName" name="companyName"
           [type]="text">
    <mat-icon matSuffix >work</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese el nit de su empresa" 
           [(ngModel)]="data.companyNit" name="companyNit"
           [type]="number">
    <mat-icon matSuffix >copyright</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input matInput 
           placeholder="Ingresa una breve descripción de tu empresa" 
           [(ngModel)]="data.companyDescription" name="companyDescription"
           [type]="text">
    <mat-icon matSuffix >reorder</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input matInput 
           placeholder="Ingresa tu nombre completo" 
           [(ngModel)]="data.userName" name="userName"
           [type]="text">
    <mat-icon matSuffix >account_circle</mat-icon>
  </mat-form-field>

  <mat-form-field>
      <input matInput 
             placeholder="Ingresa tu numero de identificación" 
             [(ngModel)]="data.userIdentification" name="userIdentification"
             [type]="text">
      <mat-icon matSuffix >assignment_ind</mat-icon>
  </mat-form-field>

  <mat-form-field>
      <input matInput 
             placeholder="Ingresa tu email" 
             [(ngModel)]="data.userEmail" name="userEmail"
             [type]="text">
      <mat-icon matSuffix >assignment_ind</mat-icon>
  </mat-form-field>


  <mat-form-field>
      <input matInput 
             placeholder="Ingresa tu ciudad" 
             [(ngModel)]="data.userCity" name="userCity"
             [type]="text">
      <mat-icon matSuffix >location_city</mat-icon>
  </mat-form-field>

  <mat-form-field>
      <input matInput 
             placeholder="Ingresa tu dirección" 
             [(ngModel)]="data.userAddress" name="userAddress"
             [type]="text">
      <mat-icon matSuffix >open_with</mat-icon>
  </mat-form-field>

  <mat-form-field>
      <input matInput 
             placeholder="Ingresa tu numero de celular" 
             [(ngModel)]="data.userPhone" name="userPhone"
             [type]="text">
      <mat-icon matSuffix >contact_phone</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input matInput 
           placeholder="Ingrese su password"
           [(ngModel)]="data.userPassword" name="userPassword"
           [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input matInput 
           placeholder="Ingrese su password nuevamente" 
           [(ngModel)]="data.userAfterPassword" name="userAfterPassword"
           [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <button 
       mat-raised-button 
       class="btn btn-success btn-block" 
       [type]="submit" 
       (click)="validCompany()">Crear cuenta</button>
  <!-- <button mat-button [type]="submit" (click)="validCompany()">Guardar</button> -->
</div>

<div class="spinner-content" *ngIf="spinner">
   <mat-spinner></mat-spinner>
</div>
