.card-title{
    text-align: center;
}

.shop{
    background-color: rgb(84, 194, 225);
    color: #fff !important;
}

.form-actions {
    margin: 0;
    text-align: center;
}

.note-pay{
    font-size: 12px;
    margin: 16px 16px 16px 16px;
}

.spinner-content{
    position: relative;
    left: 40%;
}