    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <!-- <div class="card-header card-header-danger">
                            <h4 class="card-title">Gestion de Bancos</h4>
                            <p class="card-category">Información de los bancos</p>
                        </div> -->
                        <div class="card-body">
                          <div class="row" *ngIf="!spinner">
                              <div _ngcontent-c8="" class="col-md-4">
                                  <div _ngcontent-c8="" class="card card-profile">
                                    <div _ngcontent-c8="" class="card-avatar">
                                      <a _ngcontent-c8="" href="#pablo">
                                        <img _ngcontent-c8="" class="img" src="./assets/img/faces/user-icon.png">
                                      </a>
                                    </div>
                                      <div _ngcontent-c8="" class="card-body">
                                        <h6 _ngcontent-c8="" class="card-category text-gray">{{company.nit}}</h6>
                                        <h4 _ngcontent-c8="" class="card-title">{{company.name}}</h4>
                                        <p _ngcontent-c8="" class="card-description">{{company.description}}</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-md-8">
                                  <div class="example-container">
                                      <mat-form-field>
                                        <input matInput [(ngModel)]="user.name" placeholder="Nombre">
                                      </mat-form-field>

                                      <mat-form-field>
                                        <input matInput [(ngModel)]="user.identification" placeholder="Identificación">
                                      </mat-form-field>

                                      <mat-form-field>
                                        <input matInput [(ngModel)]="user.email" placeholder="email">
                                      </mat-form-field>

                                      <mat-form-field>
                                        <input matInput [(ngModel)]="user.city" placeholder="ciudad">
                                      </mat-form-field>

                                      <mat-form-field>
                                          <input matInput [(ngModel)]="user.address" placeholder="dirección">
                                      </mat-form-field>

                                      <mat-form-field>
                                        <input matInput [(ngModel)]="user.phone" placeholder="numero celular">
                                      </mat-form-field>
                                      
                                  </div>

                                  <div class="form-actions">
                                      <a (click)="confirmEdit()" class="btn btn-danger btn-round update-btn">
                                          Editar <mat-icon>save</mat-icon>
                                      </a>
                                  </div>

                              </div>
                          </div>




                          <div class="spinner-content" *ngIf="spinner">
                            <mat-spinner></mat-spinner>
                          </div>
                          


                          


                        </div>
                    </div>   
                </div>      
            </div> 
        </div>   
    </div>