<div class="container mat-elevation-z8">
    <div class="form">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter placeholder="Filtrar campañas">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE CAMPAÑA</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
      </ng-container>
  
      <!-- <ng-container matColumnDef="date_start">
        <mat-header-cell *matHeaderCellDef mat-sort-header>FECHA EJECUCIÓN</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.date_start | date: 'short'}}</mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="message">
          <mat-header-cell *matHeaderCellDef mat-sort-header>MENSAJE</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.message}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef mat-sort-header>PAIS</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.country}}</mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</mat-header-cell>
          <mat-cell *matCellDef="let row"> 
              <i class="baseline-check_circle icon-image-preview"></i>
            {{row.status}}</mat-cell>
      </ng-container> -->
  

  
                                
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addNew()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i=index;">

            <button mat-icon-button color="primary" (click)="startSms(i, row._id, row.name, row.date_start, row.message, row.country, row.company)">
                <mat-icon aria-label="Sms">sms</mat-icon>
            </button>

            <button mat-icon-button color="primary" (click)="startVoice(i, row._id, row.name, row.date_start, row.message, row.country, row.company)">
                <mat-icon aria-label="Voice">perm_phone_msg</mat-icon>
            </button>

          <button mat-icon-button color="accent" (click)="startEdit(i, row._id, row.name, row.date_start, row.message, row.country, row.company)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
  
          <button mat-icon-button color="accent" (click)="deleteItem(i, row._id, row.name, row.date_start, row.message, row.country, row.company)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  
    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
      No hay resultados
    </div>
  
    <mat-paginator #paginator
                    [length]="dataSource.filteredData.length"
                    [pageIndex]="0"
                    [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
