
<div class="main-content" *ngIf="!spinner">
    <div class="container-fluid">
        <div class="row">
   
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">perm_identity</i> Login
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">account_box</i> Registrarse
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                
                                <div class="mdl-grid center-items">
                                    <div class="mdl-cell mdl-cell--4-col">
                                        <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <mat-form-field color="accent">
                                                            <input matInput #input class="form-control" placeholder="email" [(ngModel)]="data.email" name="email" required >
                                                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <mat-form-field color="accent">
                                                            <input matInput #input class="form-control" type="password" placeholder="password" [(ngModel)]="data.password" name="password" required >
                                                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div mat-dialog-actions>
                                                        <button mat-raised-button class="btn btn-success btn-block" [type]="submit" [disabled]="!formControl.valid" (click)="onLogin()">Entrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="messages">
                                <app-register></app-register>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="spinner-content" *ngIf="spinner">
    <mat-spinner></mat-spinner>
 </div>


