    
    <div class="main-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header card-header-danger">
                          <h4 class="card-title">Planes de marketing </h4> 
                      </div>
                      <div class="card-body">
                        <mat-grid-list cols="2" rowHeight="4:1">
                            <mat-grid-tile>
                                <div class="logo-img">
                                    <img width="90" src="/assets/img/Mobile-Marketing-icon.png"/>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <h3>Actualmente tu saldo es de $0</h3>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-card class="plan-pyme">
                                    <h4 class="title-shop">PLAN PYME</h4>
                                    <h4 class="title-shop">$20 USD</h4>
                                    <ul>
                                        <li>Creación de Campañas</li>
                                        <li>Envio Masivo</li>
                                        <li>Envio via SMS</li>
                                        <li>Envio via VOZ</li>
                                        <li>Hasta 400 mensajes sms</li>
                                    </ul>
                                    <div class="form-actions">
                                        <a (click)="openDialog('plan pyme', '20')" class="btn btn-danger btn-round shop">
                                            ELEGIR <mat-icon>add_shopping_cart</mat-icon>
                                        </a>
                                    </div>
                                </mat-card>
                            </div>

                            <div class="col-md-4">
                                <mat-card class="plan-pro">
                                    <h4 class="title-shop">PLAN PRO</h4>
                                    <h4 class="title-shop">$30</h4>
                                    <ul>
                                        <li>Creación de Campañas</li>
                                        <li>Envio Masivo</li>
                                        <li>Envio via SMS</li>
                                        <li>Envio via VOZ</li>
                                        <li>Hasta 600 mensajes sms</li>
                                    </ul>
                                    <div class="form-actions">
                                        <a (click)="openDialog('plan pro', '30')" class="btn btn-danger btn-round shop">
                                            ELEGIR <mat-icon>add_shopping_cart</mat-icon>
                                        </a>
                                    </div>
                                </mat-card>
                            </div>

                            <div class="col-md-4">
                                <mat-card class="plan-plus">
                                    <h4 class="title-shop">PLAN PLUS</h4>
                                    <h4 class="title-shop">$50 USD</h4>
                                    <ul>
                                        <li>Creación de Campañas</li>
                                        <li>Envio Masivo</li>
                                        <li>Envio via SMS</li>
                                        <li>Envio via VOZ</li>
                                        <li>Hasta 1000 mensajes sms</li>
                                    </ul>
                                    <div class="form-actions">
                                        <a (click)="openDialog('plan plus', '50')" class="btn btn-danger btn-round shop">
                                            ELEGIR <mat-icon>add_shopping_cart</mat-icon>
                                        </a>
                                    </div>
                                </mat-card>
                            </div>
                           
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
    </div>
