.shop{
    background-color: rgb(84, 194, 225);
    color: #fff !important;
}

.form-actions {
    margin: 0;
    text-align: center;
}

.title-shop{
    text-align: center;
}

.plan-pyme{
    background-color: rgb(181, 118, 173);
}

.plan-pro{
    background-color: rgb(253, 228, 127);
}

.plan-plus{
    background-color: rgb(183, 217, 104);
}

.card-title{
    text-align: center;
}