    <div class="container" *ngIf="!spinner">
        <h3 mat-dialog-title>Agregar Contrato</h3>
      
        <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

         
              

          <mat-grid-list class="two" cols="3" rowHeight="4:1">
            
            <mat-grid-tile>
              <div class="form">
                <mat-form-field>
                  <mat-label>Cliente</mat-label>
                  <mat-select [(ngModel)]="data.customer" name="customer">
                    <mat-option *ngFor="let customer of dataCustomers" [value]="customer._id">
                      {{customer.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            
            <mat-grid-tile>
              <div class="form">
                <mat-form-field>
                  <mat-label>Plan</mat-label>
                  <mat-select [(ngModel)]="data.plan" name="plan">
                    <mat-option *ngFor="let plan of dataPlans" [value]="plan._id">
                      {{plan.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-grid-tile>
      
            <mat-grid-tile>
              <div class="form">
                  <!-- <mat-form-field color="accent">
                    <input matInput #input class="form-control" placeholder="Estado" [(ngModel)]="data.state" name="state" required >
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field> -->
                  <mat-form-field>
                    <mat-label>Estado</mat-label>
                    <select matNativeControl required [(ngModel)]="data.state" name="state">
                      <option value="">seleccione...</option>
                      <option value="habilitado">habilitado</option>
                    </select>
                  </mat-form-field>
              </div>
            </mat-grid-tile>
            
            <mat-grid-tile>
              <div class="form">
                <mat-form-field>
                  <mat-label>Servidor (mikrotik)</mat-label>
                  <mat-select [(ngModel)]="data.mikrotik" name="mikrotik">
                    <mat-option *ngFor="let mkt of dataMkt" [value]="mkt._id">
                      {{mkt.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <!-- <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="mikrotik" [(ngModel)]="data.mikrotik" name="mikrotik" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile> -->
      
      
            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="interface" [(ngModel)]="data.interface" name="interface" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="dirección ip" [(ngModel)]="data.addressIp" name="addressIp" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>


            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="Macara de red" [(ngModel)]="data.networkMask" name="networkMask" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>


            <!-- <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="Dirección mac" [(ngModel)]="data.addressMac" name="addressMac" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile> -->

            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="Observaciones" [(ngModel)]="data.observations" name="observations" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>


            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="fecha inicio" [(ngModel)]="data.dateStart" name="dateStart" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="Precio" [(ngModel)]="data.price" name="price" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
          
          </mat-grid-list>
      
              
          <div mat-dialog-actions>
            <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="saveContract()">Guardar</button>
            <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </form>
    </div>
    <div *ngIf="spinner">
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </div>
  