<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">CAMPAÑAS</h4>
                        <!-- <p class="card-category">menu</p> -->
                        <br/>
                        <br/>

                        <button mat-button class="menu_first" [matMenuTriggerFor]="menu">Gestión</button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="activeBells();">Campañas</button>
                        </mat-menu>

                    </div>
                    <div class="card-body">
                            
                        <app-bells-admin *ngIf="step==1" #appBellsAdmin></app-bells-admin>

                        <button mat-button class="btn_close" *ngIf="step >= 1" (click)="closeChild();">Cerrar!</button>

                    </div>
                </div>
            </div>
           
        </div>
  
  
  
    </div>
  </div>
  