<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Gestion de categorias</h4>
                      <p class="card-category">Información de las categorias</p>
                  </div>
                  <div class="card-body">
                        <div class="container mat-elevation-z8">
                            <div class="form">
                              <mat-form-field floatPlaceholder="never" color="accent">
                                <input matInput #filter placeholder="Filtrar Categorias">
                              </mat-form-field>
                            </div>
                          
                            <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                          
                              <ng-container matColumnDef="title">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.title}}</mat-cell>
                              </ng-container>
                          
                      
                              <ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCIÓN</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
                              </ng-container>

                                                        
                              <!-- actions -->
                              <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>
                                  <button mat-icon-button color="primary" (click)="addNew()">
                                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                                  </button>
                                </mat-header-cell>
                          
                                <mat-cell *matCellDef="let row; let i=index;">
                                  <button mat-icon-button color="accent" (click)="startEdit(i, row._id, row.title, row.description, row.company)">
                                    <mat-icon aria-label="Edit">edit</mat-icon>
                                  </button>
                          
                                  <button mat-icon-button color="accent" (click)="deleteItem(i, row._id, row.title, row.description, row.company)">
                                    <mat-icon aria-label="Delete">delete</mat-icon>
                                  </button>
                                </mat-cell>
                              </ng-container>
                          
                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                          
                          
                            <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                              No hay resultados
                            </div>
                          
                            <mat-paginator #paginator
                                            [length]="dataSource.filteredData.length"
                                            [pageIndex]="0"
                                            [pageSize]="5"
                                            [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                              

                  </div>
              </div>
          </div>
         
      </div>



  </div>
</div>
