/*

Theme Name: The SEO
Theme URI: https://seo.secretlab.pw
Author: SecretLab
Author URI: https://secretlab.pw
Description: SEO & Digital Marketing Agency WordPress Theme
Text Domain: the-seo
Domain Path: /languages
Version: 2.9.9.6
License: Commercial
License URI: https://themeforest.net/licenses/terms/regular

*/

.sticky {border:0}

.resized {
width : 40%;
height : 200px;
float : left;
}


/* Don't PUT YOUR OWN CSS HERE.  *** Better use Theme Options -> Custom*/

