<div class="container">
  <h3 mat-dialog-title>Banco</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <mat-grid-list cols="3" rowHeight="4:1">
      <mat-grid-tile>
        <div class="form">
          <mat-form-field>
            <select matNativeControl placeholder="Tipo de cuenta" [(ngModel)]="data.typeAccount" name="typeAccount" required>
              <option value="BANCO">BANCO</option>
              <option value="TARJETA DE CRÉDITO">TARJETA DE CRÉDITO</option>
              <option value="EFECTIVO">EFECTIVO</option>
            </select>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      
      <mat-grid-tile>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Nombre de la cuenta" [(ngModel)]="data.nameAccount" name="nameAccount" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Numero de la cuenta" [(ngModel)]="data.numberAccount" name="numberAccount" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Saldo deuda inicial" [(ngModel)]="data.beginningBalance" name="beginningBalance" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>


      <mat-grid-tile>
        <div class="form">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="data.date" name="date" required>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Descripción" [(ngModel)]="data.description" name="description" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>


    </mat-grid-list>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Editar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>
