    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Gestion de contratos</h4> 
                            <p class="card-category">Información de sus contratos</p>
                        </div>
                        <div class="card-body">
                            <div class="content mat-elevation-z8">
                                
                                <div class="form">
                                  <mat-form-field floatPlaceholder="never" color="accent">
                                    <input matInput #filter placeholder="Filtrar contrato">
                                  </mat-form-field>
                                </div>
                              
                                <table mat-table [dataSource]="dataSource" matSort class="mat-cell">
                                  <!-- Checkbox Column -->
                                  <ng-container matColumnDef="select">
                                      <mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                                      [checked]="selection.hasValue() && isAllSelected()"
                                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                                        </mat-checkbox>
                                      </mat-header-cell>
                                      <mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                                      (change)="$event ? selection.toggle(row) : null"
                                                      [checked]="selection.isSelected(row)">
                                        </mat-checkbox>
                                      </mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="customer">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.customer[0].name}}</mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="plan">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Plan</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.plan[0].name}}</mat-cell>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="state">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.state}}</mat-cell>
                                  </ng-container>

                                  <!-- <ng-container matColumnDef="mikrotik">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>Mikrotik</mat-header-cell>
                                      <mat-cell *matCellDef="let row"> {{row.mikrotik}}</mat-cell>
                                  </ng-container> -->

                                  <!-- <ng-container matColumnDef="interface">
                                      <mat-header-cell *matHeaderCellDef mat-sort-header>Interface</mat-header-cell>
                                      <mat-cell *matCellDef="let row"> {{row.interface}}</mat-cell>
                                  </ng-container> -->

                                  <ng-container matColumnDef="addressIp">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Dirección ip</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.addressIp}}</mat-cell>
                                  </ng-container>


                                  <!-- <ng-container matColumnDef="networkMask">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Máscara de red</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.networkMask}}</mat-cell>
                                  </ng-container> -->


                                  <!-- <ng-container matColumnDef="addressMac">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Dirección mac</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.addressMac}}</mat-cell>
                                  </ng-container> -->

                                  <ng-container matColumnDef="observations">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.observations}}</mat-cell>
                                  </ng-container>


                                  <ng-container matColumnDef="dateStart">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha inicial</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.dateStart}}</mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="price">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.price}}</mat-cell>
                                  </ng-container>

                              
                                  <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>
                                      <button mat-icon-button color="primary" (click)="addContract()">
                                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                                      </button>
                                    </mat-header-cell>
                              
                                    <mat-cell *matCellDef="let row; let i=index;">
                                      <button mat-icon-button color="accent" (click)="startEdit(i, row._id, row.customer, row.plan, row.state, row.mikrotik, row.interface, row.addressIp, row.networkMask, row.addressMac, row.observations, row.dateStart, row.price)">
                                        <mat-icon aria-label="Edit">edit</mat-icon>
                                      </button>
                              
                                      <button mat-icon-button color="accent" (click)="deleteItem(i, row._id, row.customer, row.plan, row.state, row.mikrotik, row.interface, row.addressIp, row.networkMask, row.addressMac, row.observations, row.dateStart, row.price)">
                                        <mat-icon aria-label="Delete">delete</mat-icon>
                                      </button>
                                    </mat-cell>
                                  </ng-container>
                              
                                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                </table>
                              
                              
                                <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                                  No hay resultados
                                </div>
                              
                                <mat-paginator #paginator
                                                [length]="dataSource.filteredData.length"
                                                [pageIndex]="0"
                                                [pageSize]="5"
                                                [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>


                                <div class="actionAll">
                                  <div class="delete">
                                    <button mat-mini-fab (click)="deleteSelectedContract()"><mat-icon>delete_forever</mat-icon></button>
                                  </div>
                                </div>

                                
                                <div *ngIf="showView">
                                    <mat-spinner></mat-spinner>
                                </div>


                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>