table {
    width: 100%;
}

.content{
    margin: 20px 20px 20px 20px;
}

th.mat-sort-header-sorted {
    color: black;
  }


  .actionAll {
    display: flex;
    justify-content: center;
  }
  .delete {
    padding: 10px;
    margin: 10px;
    // background-color: #002e42;
  }