


    <div class="content mat-elevation-z8">
     
          <div class="form">
            <mat-form-field floatPlaceholder="never" color="accent">
              <input matInput #filter placeholder="Filtrar clientes">
            </mat-form-field>
          </div>
        
          <table mat-table [dataSource]="dataSource" matSort class="mat-cell">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE COMPLETO</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="identification">
              <mat-header-cell *matHeaderCellDef mat-sort-header>IDENTIFICACIÓN</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.identification}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="country">
              <mat-header-cell *matHeaderCellDef mat-sort-header>PAÍS</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.country}}</mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="state">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.state}}</mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef mat-sort-header>CIUDAD</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.city}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="address">
              <mat-header-cell *matHeaderCellDef mat-sort-header>DIRECCIÓN</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.address}}</mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header>CELULAR</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.phone}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>CORREO</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="addNew()">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
              </mat-header-cell>
        
              <mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent" (click)="startEdit(i, row._id, row.name, row.identification, row.country, row.state, row.city, row.address, row.phone, row.email)">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
        
                <button mat-icon-button color="accent" (click)="deleteItem(i, row._id, row.name, row.identification, row.country, row.state, row.city, row.address, row.phone, row.email)">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
        
        
          <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
            No hay resultados
          </div>
        
          <mat-paginator #paginator
                          [length]="dataSource.filteredData.length"
                          [pageIndex]="0"
                          [pageSize]="5"
                          [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
    
    
          <div class="actionAll">
            <div class="delete">
              <button mat-mini-fab (click)="deleteSelectedCustomer()"><mat-icon>delete_forever</mat-icon></button>
            </div>
          </div>
 
          
          <div *ngIf="showView">
              <mat-spinner></mat-spinner>
          </div>

      
       
  </div>
    
