.spinner-content{
    position: relative;
    left: 40%;
}

.content{
    text-align: center;
    margin: 40px 0 40px 0;
}

.mat-elevation-z8{
    box-shadow: none !important;
    margin: 50px 0 50px 20px !important;
}

.style_icon{
    width: 30px;
}

.okImport, .textOkImport{
    color:green;
}


.faildImport, .textFaildImport{
    color:red;
}