
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Gestion de clientes </h4> 
                      <p class="card-category">Información de los clientes</p>
                  </div>
                  <div class="card-body">
                      <mat-tab-group (selectedTabChange)="loadDataSet($event)">
                          <mat-tab label="listar clientes" >
                            <app-list #appItemList></app-list>
                          </mat-tab>
                          <mat-tab label="Importar citas"> 
                             <app-quote></app-quote>
                          </mat-tab>
                          <mat-tab label="Importar pagos"> 
                              <app-billing></app-billing> 
                          </mat-tab>
                      </mat-tab-group>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>




