
            /** ----------------------------------------------------------------
             ******** General Style
             ---------------------------------------------------------------- **/

            .header2 .suppa_holder{
                height:110px !important;
            }

            .header2.suppaMenu_wrap {
                height:110px !important;
                z-index:99999;
            }

            .header2.suppaMenu_wrap_wide_layout {
                background-color:#FFFFFF;

                /* Borders */
                border-top: 0px solid #111111;
                border-left: 0px solid #111111;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                
            }

            .header2 .suppaMenu {

                width:1170px;
                z-index:99999;
                height:110px !important;

                background-color:#FFFFFF;

                /* Borders */
                border-top: 0px solid #111111;
                border-right: 0px solid #111111;
                border-bottom: 0px solid #111111;
                border-left: 0px solid #111111;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* CSS3 Box Shadow */
                -moz-box-shadow   : 0px 0px 0px 0px rgba(0,0,0,0.2);
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
                box-shadow        : 0px 0px 0px 0px rgba(0,0,0,0.2);

                /* CSS3 Border Radius */
                -webkit-border-radius: 0px 0px 0px 0px;
                -moz-border-radius: 0px 0px 0px 0px;
                border-radius: 0px 0px 0px 0px;

            }


            /** ----------------------------------------------------------------
             ******** Logo Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu_logo.logo_left_menu_right{
                height:110px !important;
                border-right:1px solid #FFFFFF !important;
            }
            .header2 .suppa_menu_logo.logo_right_menu_left{
                height:110px !important;
                border-left:1px solid #FFFFFF !important;
            }

            .header2 .suppa_menu_logo.logo_top_center,
            .header2 .suppa_menu_logo.logo_top_left,
            .header2 .suppa_menu_logo.logo_top_right{
                width:1170px;
            }

            .header2 .logo_top_center,
            .header2 .logo_top_left,
            .header2 .logo_top_right {

                background-color:transparent;

                /* Borders */
                border-top: 0px solid #111111;
                border-right: 0px solid #111111;
                border-bottom: 0px solid #111111;
                border-left: 0px solid #111111;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* CSS3 Box Shadow */
                -moz-box-shadow   : 0px 0px 0px 0px rgba(0,0,0,0.2);
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
                box-shadow        : 0px 0px 0px 0px rgba(0,0,0,0.2);

                /* CSS3 Border Radius */
                -webkit-border-radius: 0px 0px 0px 0px;
                -moz-border-radius: 0px 0px 0px 0px;
                border-radius: 0px 0px 0px 0px;
            }

            .header2 .suppa_menu_logo img{
                padding-top:27px !important;
                padding-bottom:0px !important;
                padding-right:0 !important;
                padding-left:30px !important;
            }

            .header2 .suppa_rwd_logo img{
                padding-top:27px !important;
                padding-bottom:0px !important;
                padding-right:0px !important;
                padding-left:30px !important;
            }


            /** ----------------------------------------------------------------
             ******** Top Level Links Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_top_level_link {
                height:110px !important;
                color:#34303b;
            }

            .header2 .suppa_top_level_link .suppa_item_title{
                font-size:14px !important;
                font-family:Montserrat !important;
                font-weight:bold;
                color:#34303b;
                padding-top:40px;
            }

            .header2 .suppa_menu {
                height:110px !important;
            }

            .header2 .suppa_menu_mega_posts .suppa_top_level_link ,
            .header2 .suppa_menu_dropdown .suppa_top_level_link ,
            .header2 .suppa_menu_posts .suppa_top_level_link ,
            .header2 .suppa_menu_html .suppa_top_level_link ,
            .header2 .suppa_menu_links .suppa_top_level_link,
            .header2 .suppa_menu_linksTwo .suppa_top_level_link{
                padding-left:18px;
                padding-right:18px;
                border-color:#FFFFFF;
            }

            .header2 .suppa_menu .suppa_top_level_link.suppa_top_links_has_arrow{
                padding-right:18px;
            }

            /** ----------------------------------------------------------------
             ******** Description Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_top_level_link .suppa_item_desc{
                font-size:12px !important;
                font-family:Arial , sans-serif !important;
                font-style:normal;
                color:#c9c9c9;
                padding-top:5px !important;
            }
            .header2 .suppa_menu:hover .suppa_top_level_link .suppa_item_desc{
                color:#8358dc;
            }

            /** ----------------------------------------------------------------
             ******** Top Level Links on [HOVER] Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu:hover .suppa_top_level_link{
                background-color:transparent;
                color:#8358dc;
            }
            .header2 .suppa_menu:hover .suppa_top_level_link .suppa_item_title{
                color:#8358dc;
            }

            /** Needed for suppa_frontend.js **/
            .header2 .suppa_menu.suppa_menu_class_hover .suppa_top_level_link{
                background-color:transparent;
                color:#8358dc;
            }
            .header2 .suppa_menu.suppa_menu_class_hover .suppa_top_level_link .suppa_item_title{
                color:#8358dc;
            }
            .header2 .suppa_menu.suppa_menu_class_hover .suppa_top_level_link .suppa_item_desc{
                color:#8358dc;
            }

            /* boder right or left */
            .header2 .suppa_menu .suppa_top_level_link.suppa_menu_position_left,
            .header2 .suppa_menu .suppa_menu_position_left{
                border-right:1px solid #FFFFFF;
            }
            .header2 .suppa_menu .suppa_top_level_link.suppa_menu_position_right,
            .header2 .suppa_menu .suppa_menu_position_right{
                border-left:1px solid #FFFFFF;
            }

            /** ----------------------------------------------------------------
             ******** Top Level Arrow Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_top_level_link .ctf_suppa_fa_box_top_arrow{
                    font-size:14px !important;
                    top:49px !important;
                    right:0px !important;

                    /* color/bg/border */
                    color:#34303b;
            }
            .header2 .suppa_menu:hover .suppa_top_level_link .ctf_suppa_fa_box_top_arrow{
                color:#8358dc;
            }
            /** Needed for suppa_frontend.js **/
            .header2 .suppa_menu.suppa_menu_class_hover .suppa_top_level_link .ctf_suppa_fa_box_top_arrow,
            .header2 .suppa_menu.suppa_menu_class_hover .suppa_top_level_link .ctf_suppa_fa_box{
                color:#8358dc !important;
            }

            /** ----------------------------------------------------------------
             ******** Current Top Level Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu .suppa_top_level_link.current-menu-item,
            .header2 .suppa_menu .suppa_top_level_link.current-menu-item .ctf_suppa_fa_box,
            .header2 .suppa_menu .suppa_top_level_link.current-menu-item .suppa_item_title,
            .header2 .suppa_menu .suppa_top_level_link.current-menu-ancestor,
            .header2 .suppa_menu .suppa_top_level_link.current-menu-ancestor .ctf_suppa_fa_box,
            .header2 .suppa_menu .suppa_top_level_link.current-menu-ancestor .suppa_item_title{
                color:#8358dc ;
            }

            .header2 .suppa_menu .suppa_top_level_link.current-menu-item,
            .header2 .suppa_menu .suppa_top_level_link.current-menu-ancestor {
                background-color:transparent;
            }

            .header2 .suppa_menu .suppa_top_level_link.current-menu-ancestor .era_suppa_arrow_box span,
            .header2 .suppa_menu .suppa_top_level_link.current-menu-item .era_suppa_arrow_box span{
                color:#8358dc;
            }


            /** ----------------------------------------------------------------
             ******** Top Level Icons
             ---------------------------------------------------------------- **/
            /** F.Awesome Icons **/
            .header2 .suppa_menu .suppa_top_level_link .ctf_suppa_fa_box{
                color:#34303b;
            }
            .header2 .suppa_menu:hover .suppa_top_level_link .ctf_suppa_fa_box{
                color:#8358dc;
            }
            .header2 .suppa_menu .suppa_top_level_link .ctf_suppa_fa_box{
                font-size:18px !important;
                margin-top: 7px !important;
                padding-right: 15px !important;
            }

            /** Uploaded Icons **/
            .header2 .suppa_menu .suppa_top_level_link .suppa_upload_img{
                width : 18px !important;
                height : 18px !important;
                margin-top: 7px !important;
                padding-right: 15px !important;
            }



            /** ----------------------------------------------------------------
             ******** General Submenu
             ---------------------------------------------------------------- **/
            .header2 .suppa_submenu {

                top:110px !important;

                /* color/bg/border */
                background-color:#8358dc;

                border-top: 0px solid #ececec;
                border-right: 0px solid #ececec;
                border-bottom: 0px solid #ececec;
                border-left: 0px solid #ececec;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* CSS3 Box Shadow */
                -moz-box-shadow   : 0px 0px 13px 2px rgba( 100,100,100,0.67);
                -webkit-box-shadow: 0px 0px 13px 2px rgba( 100,100,100,0.67);
                box-shadow        : 0px 0px 13px 2px rgba( 100,100,100,0.67);

                /* CSS3 Border Radius */
                -webkit-border-radius: 0px 0px 0px 0px;
                -moz-border-radius: 0px 0px 0px 0px;
                border-radius: 0px 0px 0px 0px;
            }



            /** ----------------------------------------------------------------
             ******** SubMenu Posts
             ---------------------------------------------------------------- **/
            .header2 .suppa_post {
                width: 209px;
            }
            .header2 .suppa_post a{
                width: 209px;
            }
            .header2 .suppa_post img{
                width: 209px;
                height: 160px;
            }
            .header2 .suppa_post div.suppa_post_link_container {
                width: 209px !important;
            }

            .header2 .suppa_post {
                margin: 15px 0px 15px 15px !important;
            }
            .header2 .suppa_post div.suppa_post_link_container {
                background-color: transparent;
            }
            .header2 .suppa_post span {
                font-size:14px !important;
                font-family:Arial , sans-serif !important;
                font-style:normal;

                padding: 10px 10px 10px 10px !important;

                /* color/bg/border */
                color:#f6f4f4;
            }

            .header2 .suppa_post span:hover ,
            .header2 .suppa_post span:hover {
                /* color/bg/border */
                color:#ffffff;
            }

            .header2 .suppa_latest_posts_view_all{
                font-size:14px !important;
                font-family:Arial , sans-serif !important;
                font-style:normal;
                padding: 15px 15px ;
                margin: 15px 15px;

                /* color/bg/border */
                color:#f6f4f4;
                background-color: transparent;
            }

            .header2 .suppa_latest_posts_view_all:hover{
                /* color/bg/border */
                color:#ffffff;
                background-color: transparent;
            }


            /** ----------------------------------------------------------------
             ******** SubMenu Mega Links Two
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a {
                font-size:14px !important;
                font-family:Raleway !important;
                font-style:normal;

                padding-top:    10px;
                padding-bottom: 10px;
                padding-left:   15px;
                padding-right:  15px;

                /* color/bg/border */
                color:#ffffff;
                border-bottom:1px solid #9e7ee1;
            }
            .header2 .suppa_menu_linksTwo .suppa_linksTwo_categoriesContainer a:hover,
            .header2 .suppa_menu_linksTwo .suppa_linksTwo_categoriesContainer a.suppa_linksTwo_categoriesContainer_current {
                color:#ffffff;
                background-color:#fba446;
            }

            .header2 .suppa_menu_linksTwo .suppa_linksTwo_cat a {
                font-size:14px !important;
                font-family:Arial , sans-serif !important;
                font-style:normal;

                padding-top:    10px;
                padding-bottom: 10px;
                padding-left:   10px;
                padding-right:  10px;

                /* color/bg/border */
                color:#f6f4f4;
            }
            .header2 .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_cat a:hover {
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** SubMenu Mega Links Two Arrow Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a .suppa_megaLinksTwo_mainLinkArrow{
                top:10px !important;
                right:15px !important;
            }
            .header2 .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a .suppa_megaLinksTwo_mainLinkArrow span {
                font-size:14px !important;
                /* color/bg/border */
                color:#ffffff;
            }
            .header2 .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a:hover .suppa_megaLinksTwo_mainLinkArrow span,
            .suppa_linksTwo_categoriesContainer_current .suppa_megaLinksTwo_mainLinkArrow span{
                color:#ffffff !important;
            }


            /** ----------------------------------------------------------------
             ******** SubMenu Mega Posts
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu_mega_posts .suppa_mega_posts_categories{
                margin-top:15px;
            }
            .header2 .suppa_menu_mega_posts .suppa_mega_posts_categories a {
                font-family : Montserrat !important;
                font-size:14px !important;
                font-style:normal;
                color :#f6f4f4;
                padding-top:15px;
                padding-left:15px;
                padding-bottom:15px;
                padding-right:0px;

                background-color:transparent;
            }
            .header2 .suppa_menu_mega_posts .suppa_mega_posts_categories a .suppa_item_title{
                font-family : Montserrat !important;
                font-size:14px !important;
                font-style:normal;
                color :#f6f4f4;
            }
            .header2 .suppa_menu_mega_posts .suppa_mega_posts_categories a:hover,
            .header2 .suppa_menu_mega_posts .suppa_mega_posts_categories a.suppa_mega_posts_cat_selected {
                background-color:transparent;
                color :#ffffff;
            }

            .header2 .suppa_menu_mega_posts .suppa_mega_posts_categories a:hover .suppa_item_title,
            .header2 .suppa_menu_mega_posts .suppa_mega_posts_categories a.suppa_mega_posts_cat_selected .suppa_item_title{
                color :#ffffff;
            }
            .header2 .suppa_mega_posts_post_article {
                margin-top:15px;
                margin-left:15px;
                margin-bottom:15px;
                margin-right:0px;
            }

            .header2 .suppa_mega_posts_post_article span{
                font-family : Arial , sans-serif !important;
                font-size:14px !important;
                font-style:normal;
                color :#ffffff;

                padding-top:10px;
                padding-left:10px;
                padding-bottom:10px;
                padding-right:10px;

            }

            .header2 .suppa_mega_posts_post_article div.suppa_post_link_container {
                background-color: transparent !important ;
            }

            .header2 .suppa_mega_posts_post_article:hover span{
                color :#ffffff;
            }

            .header2 .suppa_mega_posts_post_article {
                width : 200px !important;
            }
                .header2 .suppa_mega_posts_post_article img{
                    width : 200px !important;
                    height : 160px !important;
                }

            /** ----------------------------------------------------------------
             ******** Submenu Mega Posts Arrow Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu_mega_posts .suppa_mega_posts_categories a .suppa_mega_posts_arrow {
                top:13px !important;
                right:5px !important;
            }
            .header2 .suppa_menu_mega_posts .suppa_mega_posts_categories a .suppa_mega_posts_arrow span {
                font-size:14px !important;
                /* color/bg/border */
                color:#f6f4f4;
            }
            .header2 .suppa_menu_mega_posts .suppa_mega_posts_categories a:hover .suppa_mega_posts_arrow span {
                color:#ffffff;
            }

            /** Needed for suppa_frontend.js **/
            .header2 .suppa_menu_mega_posts .suppa_mega_posts_cat_selected .suppa_mega_posts_arrow span{
                color:#ffffff !important;
            }



            /** ----------------------------------------------------------------
             ******** Submenu Mega Links Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_column {
                margin-left:3% !important;
                margin-bottom:3% !important;
            }

            /* Column Title */
            .header2 .suppa_column_title {
                font-size:18px !important;
                font-family:Montserrat !important;
                font-style:normal;
                color:#f6f4f4;
                border-bottom-color:transparent;
                padding: 10px 0px 10px 0px;
            }
                .header2 .suppa_column_title .suppa_item_title {
                    font-size:18px !important;
                    font-family:Montserrat !important;
                    font-style:normal;
                    color:#f6f4f4;
                }

            .header2 .suppa_column_title:hover {
                padding-left : 10px !important;
                color:#ffffff;
            }
                .header2 .suppa_column_title:hover .suppa_item_title {
                    color:#ffffff;
                }

            /* Column Links */
            .header2 .suppa_column_link{
                font-size:14px !important;
                font-family:Raleway !important;
                font-style:normal;
                color:#ffffff;
                padding-right:15px;
                padding-left: 15px ;
                padding-top: 15px ;
                padding-bottom: 15px ;
            }
                .header2 .suppa_column_link .suppa_item_title {
                    font-size:14px !important;
                    font-family:Raleway !important;
                    font-style:normal;
                    color:#ffffff;
                }

            .header2 .suppa_column_link:nth-child(2) {
                margin-top:15px !important;
            }

            .header2 .suppa_column_link:hover {
                color:#ffffff;
                padding-left : 25px !important;
            }
                .header2 .suppa_column_link:hover .suppa_item_title {
                    color:#ffffff;
                }

            /** ----------------------------------------------------------------
             ******** Description Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_submenu_columns_wrap .suppa_item_desc{
                font-size:12px !important;
                font-family:Arial , sans-serif !important;
                font-style:normal;
                color:#c9c9c9;

                padding-top:5px !important;
            }
            .header2 .suppa_column_title:hover .suppa_item_desc,
            .header2 .suppa_column_link:hover .suppa_item_desc {
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** Submenu Mega Links Title Icons Style
             ---------------------------------------------------------------- **/
            /* Title Icon */
            .header2 .suppa_column_title .ctf_suppa_fa_box {
                color:#f6f4f4;
            }
            .header2 .suppa_column_title:hover .ctf_suppa_fa_box {
                color:#ffffff;
            }

            /* Link Icon */
            .header2 .suppa_column_link .ctf_suppa_fa_box {
                color:#ffffff;
            }
            .header2 .suppa_column_link:hover .ctf_suppa_fa_box {
                color:#ffffff;
            }

            /** F.Awesome Icons **/
            .header2 .suppa_column_title .suppa_FA_icon {
                font-size:18px !important;
                margin-top: 0px !important;
                padding-right: 15px !important;
            }

            /** Uploaded Icons **/
            .header2 .suppa_column_title .suppa_UP_icon {
                width : 18px !important;
                height : 18px !important;
                margin-top: 0px !important;
                padding-right: 15px !important;
            }

            /** ----------------------------------------------------------------
             ******** Submenu Mega Links Links Icons Style
             ---------------------------------------------------------------- **/
            /** F.Awesome Icons **/
            .header2 .suppa_column_link .suppa_FA_icon {
                font-size:18px !important;
                padding-top: 0px !important;
                padding-right: 18px !important;
            }

            /** Uploaded Icons **/
            .header2 .suppa_column_link .suppa_UP_icon {
                width : 18px !important;
                height : 18px !important;
                padding-top: 0px !important;
                padding-right: 18px !important;
            }

            /** ----------------------------------------------------------------
             ********  Submenu Mega Links Current Link Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu .suppa_submenu_columns_wrap .current-menu-item,
            .header2 .suppa_menu .suppa_submenu_columns_wrap .current-menu-item .ctf_suppa_fa_box,
            .header2 .suppa_menu .suppa_submenu_columns_wrap .current-menu-item .suppa_item_title{
                color:#ffffff !important;
            }

            .header2 .suppa_menu .suppa_submenu_columns_wrap .current-menu-item {
                background-color:transparent;
            }

            .header2 .suppa_menu .suppa_submenu_columns_wrap .current-menu-item .era_suppa_arrow_box span{
                color:#ffffff;
            }



            /** ----------------------------------------------------------------
             ******** Submenu DropDown Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu_dropdown > .suppa_submenu a {
                font-size:14px !important;
                font-family:Raleway !important;
                font-style:normal;
                border-bottom:1px solid #9e7ee1;
                padding: 10px 15px 10px 15px;
            }

            .header2 .suppa_menu_dropdown > .suppa_submenu a .suppa_item_title{
                font-size:14px !important;
                font-family:Raleway !important;
                font-style:normal;
                color:#ffffff;
            }

            .header2 .suppa_menu_dropdown > .suppa_submenu div:hover > a ,
            .header2 .suppa_menu_dropdown > .suppa_submenu a:hover {
                color:#ffffff;
                background-color:#fba446;
                padding-left : 20px;
            }
            .suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_item_title,
            .suppa_menu_dropdown > .suppa_submenu a:hover .suppa_item_title{
                color:#ffffff;
            }

            /** Needed for suppa_frontend.js **/
            .header2 .suppa_submenu .suppa_menu_class_dropdown_levels_hover > a {
                color:#ffffff;
                background-color:#fba446;
            }
            .header2 .suppa_submenu .suppa_menu_class_dropdown_levels_hover > a .suppa_item_title{
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** Description Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu_dropdown > .suppa_submenu .suppa_item_desc{
                font-size:12px !important;
                font-family:Arial , sans-serif !important;
                font-style:normal;
                color:#c9c9c9;

                padding-top:0px !important;
            }
            .header2 .suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_item_desc{
                color:#c9c9c9;
            }
            .header2 .suppa_submenu .suppa_menu_class_dropdown_levels_hover > a .suppa_item_desc{
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** Submenu DropDown Icons Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu_dropdown > .suppa_submenu a .suppa_FA_icon{
                color:#ffffff;
            }

            .header2 .suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_FA_icon,
            .header2 .suppa_menu_dropdown > .suppa_submenu a:hover .suppa_FA_icon{
                color:#ffffff;
            }

            /** Needed for suppa_frontend.js **/
            .header2 .suppa_menu_class_dropdown_levels_hover > a .ctf_suppa_fa_box{
                color:#ffffff;
            }

            /** F.Awesome Icons **/
            .header2 .suppa_menu_dropdown .suppa_submenu .suppa_FA_icon {
                font-size:18px !important;
                margin-top: 5px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Icons **/
            .header2 .suppa_menu_dropdown .suppa_submenu .suppa_UP_icon {
                width : 18px !important;
                height : 18px !important;
                margin-top: 5px !important;
                padding-right: 10px;
            }

            /** Open Sub Right **/
            .header2 .suppa_submenu.suppa_submenu_pos_right .suppa_FA_icon{
                padding-right: 0 !important;
                padding-left: 10px !important;
            }
            .header2 .suppa_submenu.suppa_submenu_pos_right .suppa_UP_icon{
                padding-right: 0 !important;
                padding-left: 10px !important;
            }


            /** ----------------------------------------------------------------
             ******** Submenu DropDown Arrow Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu_dropdown .suppa_submenu a .era_suppa_arrow_box {
                top:10px !important;
                right:15px;
            }
            .header2 .suppa_menu_dropdown .suppa_submenu a .era_suppa_arrow_box span {
                font-size:14px !important;
                /* color/bg/border */
                color:#ffffff;
            }
            .header2 .suppa_menu_dropdown div:hover > a .era_suppa_arrow_box span {
                color:#ffffff !important;
            }

            /** Needed for suppa_frontend.js **/
            .header2 .suppa_menu_class_dropdown_levels_hover > a .era_suppa_arrow_box span{
                color:#ffffff !important;
            }

            /** Open Sub Right **/
            .header2 .suppa_submenu.suppa_submenu_pos_right .suppa_fa_carret_left{
                right: auto !important;
                left: 15px;
            }
            .header2 .suppa_submenu.suppa_submenu_pos_right .suppa_fa_carret_right {
                display:none !important;
            }

            /** Open Sub Left **/
            .header2 .suppa_submenu.suppa_submenu_pos_left .suppa_fa_carret_left{
                display: none !important;
            }

            /** ----------------------------------------------------------------
             ******** Current Top Level Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu_dropdown > .suppa_submenu a.current-menu-item .suppa_item_title ,
            .header2 .suppa_menu_dropdown > .suppa_submenu a.current-menu-item .ctf_suppa_fa_box,
            .header2 .suppa_menu_dropdown > .suppa_submenu a.current-menu-item .suppa_item_title{
                color:#ffffff ;
            }

            .header2 .suppa_menu_dropdown .current-menu-item {
                background-color:transparent;
            }

            .header2 .suppa_menu_dropdown > .suppa_submenu a.current-menu-item .era_suppa_arrow_box span{
                color:#ffffff;
            }




            /** ----------------------------------------------------------------
             ******** Search Form Style
             ---------------------------------------------------------------- **/

             /** Form **/
            .header2 .suppa_menu_search form {
                margin-top:0px;
                margin-right:10px;
                margin-left:10px;
                width:;

            }

            /* Input */
            .header2 input{
                background-color:#ffffff;
                width:;
                height:;
                color:#34303b !important;

                padding-left:5px;
                padding-right:5px;

                font-size:12;
                font-family:Arial , sans-serif;
                font-style:normal;

                -webkit-border-radius:0px !important;
                -moz-border-radius:0px !important;
                border-radius:0px !important;

                border:1px solid #FFFFFF;
            }
            .header2 .suppa_menu_search ::-webkit-input-placeholder { /* WebKit browsers */
                color:#34303b !important;
            }
            .header2 .suppa_menu_search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:#34303b !important;
                opacity:  1;
            }
            .header2 .suppa_menu_search ::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:#34303b !important;
                opacity:  1;
            }
            .header2 .suppa_menu_search :-ms-input-placeholder { /* Internet Explorer 10+ */
                color:#34303b !important;
            }


            /* Normal: Form */
            .header2 .suppa_search_normal form {
                height:;
                width:;
            }

            /* Normal : Search Icon */
            .header2 .suppa_search_normal .suppa_search_icon{
                font-size:14px !important;
                height:;
                line-height:;
                background-color:transparent;

                border-radius: 0 0px 0px 0 !important;

            }
            .header2 .suppa_search_normal .suppa_search_icon span{
                color:#34303b;
                padding-left:9px;
                padding-right:0px;
            }


            /** Boxed **/
            .header2 .suppa_search_boxed form {
                margin-bottom:0px;
            }

            /** Boxed : Top Icon **/
            .header2 .suppa_top_level_link.suppa_search_icon{
                color:#34303b;
                padding-top:44px;
                padding-left:9px;
                padding-right:0px;
                height:66px !important;
            }
            .header2 .suppa_menu:hover .suppa_top_level_link.suppa_search_icon{
                color:#34303b;
            }
            .header2 .suppa_menu .suppa_top_level_link .ctf_suppa_fa_box{
                font-size:18px !important;
                margin-top: 7px !important;
                padding-right: 15px !important;
            }

            /* Modern */
            .header2 .suppa_submenu_modern_search{
                z-index:119998;
                height:110px !important;
            }
            .header2 .suppa_submenu_modern_search form,
            .header2 .suppa_submenu_modern_search input{
                height:110px !important;
            }

            /* Modern : Close Icon */
            .header2 .suppa_submenu_modern_search .suppa_search_modern_close{
                z-index:120000;
                padding-top:44px;
                padding-left:9px;
                padding-right:0px;
                height:66px !important;
                font-size:18px !important;
                color:#34303b !important;
            }


            /** ----------------------------------------------------------------
             ******** Social Links Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu_social a.suppa_top_level_link{
                padding-left:4px !important;
                padding-right:4px !important;
            }

            /** ----------------------------------------------------------------
             ******** Social Links Icons Style
             ---------------------------------------------------------------- **/
            /** F.Awesome Icons **/
            .header2 .suppa_menu_social .suppa_top_level_link .suppa_FA_icon_only {
                font-size:16px !important;
                padding-top: 0px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Only Icons **/
            .header2 .suppa_menu_social .suppa_top_level_link .suppa_UP_icon_only {
                width : 16px !important;
                height : 16px !important;
                padding-top: 16px !important;
                padding-right: 10px !important;
            }


            /** ----------------------------------------------------------------
             ******** WooCommerce
             ---------------------------------------------------------------- **/
            .header2 .suppa_menu_woocommerce_cart a {
                height:110px !important;
                padding-left:18px;
                padding-right:18px;
            }

            .header2 .suppa_menu_woocommerce_cart > a,
            .header2 .suppa_menu_woocommerce_cart > a span.suppa_item_title {
                font-size:14px !important;
                font-family:Montserrat !important;
                font-weight:bold;
                color:#34303b;
            }

            .header2 .suppa_menu_woocommerce_cart > a > span.suppa_item_title{
                padding-top:40px !important;
            }

            /* boder right or left */
            .header2 .suppa_menu_woocommerce_cart a.suppa_menu_position_left,
            .header2 .suppa_menu .suppa_menu_position_left{
                border-right:1px solid #FFFFFF;
            }
            .header2 .suppa_menu_woocommerce_cart a.suppa_menu_position_right,
            .header2 .suppa_menu .suppa_menu_position_right{
                border-left:1px solid #FFFFFF;
            }

            /* Hover */
            .header2 .suppa_menu_woocommerce_cart:hover > a{
                background-color:transparent;
                color:#8358dc;
            }
            .header2 .suppa_menu_woocommerce_cart:hover > a > span.suppa_item_title{
                color:#8358dc;
            }

            /* Current Link */
            .header2 .suppa_menu_woocommerce_cart > a.current-menu-item,
            .header2 .suppa_menu_woocommerce_cart > a.current-menu-ancestor {
                color:#8358dc ;
                background-color:transparent;
            }
            .header2 .suppa_menu_woocommerce_cart > a.current-menu-item .ctf_suppa_fa_box,
            .header2 .suppa_menu_woocommerce_cart > a.current-menu-ancestor .ctf_suppa_fa_box{
                color:#8358dc;
            }

            /* Fix for canvas theme */
            .header2 .suppa_menu_woocommerce_cart a.cart-contents {
                padding-left:18px;
                padding-right:18px;
            }
            .header2 .suppa_menu_woocommerce_cart a.cart-contents .suppa_item_title{
                font-size:14px !important;
                font-family:Montserrat !important;
                font-weight:bold;
                color:#34303b;
                padding-top:40px !important;
            }
            /* Hover */
            .header2 .suppa_menu_woocommerce_cart:hover > a.cart-contents{
                background-color:transparent;
                color:#8358dc;
            }
            .header2 .suppa_menu_woocommerce_cart:hover > a.cart-contents span{
                color:#8358dc;
            }

            /** ----------------------------------------------------------------
             ******** Responsive Web Design Style
             ---------------------------------------------------------------- **/

            .header2 .suppa_rwd_top_button_container{
                height:110px !important;
                background-color:#FFFFFF;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* Borders */
                border-top: 0px solid #111111;
                border-right: 0px solid #111111;
                border-bottom: 0px solid #111111;
                border-left: 0px solid #111111;
            }

            .header2 .suppa_rwd_menus_container {
                /* color/bg/border */
                background-color:#8358dc;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;
            }


            /* Top Button & Text */
            .header2 .suppa_rwd_button,
            .header2 .suppa_rwd_text {
                line-height:110px !important;
            }
            .header2 .suppa_rwd_button {
                padding-right:20px !important;
                padding-left:20px !important;
                line-height:110px !important;
            }
            .header2 .suppa_rwd_button,
            .header2 .suppa_rwd_button span{
                font-size:20px !important;
                color:#8358dc;
            }
            .header2 .suppa_rwd_text{
                font-size:14px !important;
                font-family:Arial , sans-serif !important;
                font-style:normal;
                color :#8358dc !important;

                padding: 0px 20px !important;
                line-height:110px !important;
            }


            /* Submenu for latest posts, mega links, mega posts, html */
            .header2 .suppa_mega_posts_allposts_posts,
            .header2 .suppa_rwd_submenu_posts,
            .header2 .suppa_rwd_submenu_html,
            .header2 .suppa_rwd_submenu_columns_wrap {
                background-color:#8358dc;
                border-bottom: 0px solid #ececec;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* Padding */
                padding-top:10px !important;
                padding-bottom:10px !important;
                padding-right:0px !important;
                padding-left:10px !important;

                /* CSS3 Box Shadow */
                -moz-box-shadow   : 0px 0px 13px 2px rgba( 100,100,100,0.67);
                -webkit-box-shadow: 0px 0px 13px 2px rgba( 100,100,100,0.67);
                box-shadow        : 0px 0px 13px 2px rgba( 100,100,100,0.67);
            }


            /* Main Links */
            .header2 .suppa_rwd_menu > a,
            .header2 .suppa_rwd_submenu_mega_posts > a,
            .header2 .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
                font-size:15px !important;
                font-family:Montserrat !important;
                font-weight:bold;
                color :#252a2c;

                height:35px !important;
                line-height:35px !important;
                border-bottom:1px solid #f8f8f8 !important;
                background-color:#FFFFFF;
            }
            .header2 .suppa_rwd_menu > a .suppa_item_title,
            .header2 .suppa_rwd_submenu_mega_posts > a .suppa_item_title,
            .header2 .suppa_rwd_submenu > .suppa_dropdown_item_container > a .suppa_item_title{
                font-size:15px !important;
                font-family:Montserrat !important;
                font-weight:bold;
                color :#252a2c;
            }

            .header2 .era_rwd_suppa_link_both_open,
            .header2 .suppa_rwd_menu:hover > a,
            .header2 .suppa_rwd_submenu_mega_posts > a:hover,
            .header2 .suppa_rwd_menu .suppa_dropdown_item_container a:hover {
                color :#fba446 !important;
                background-color :#FFFFFF !important;
            }
            .header2 .era_rwd_suppa_link_both_open .suppa_item_title,
            .header2 .suppa_rwd_menu:hover > a .suppa_item_title,
            .header2 .suppa_rwd_submenu_mega_posts > a:hover .suppa_item_title,
            .header2 .suppa_rwd_menu .suppa_dropdown_item_container a:hover .suppa_item_title{
                color :#fba446 !important;
            }
            .header2 .suppa_rwd_menus_container{
                border-top:1px solid #f8f8f8 !important;
            }

            .header2 .suppa_rwd_menu > a{
                padding-left:20px !important;
            }
            .header2 .suppa_rwd_menu_dropdown > .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
                padding-left:36px !important;
            }
            .header2 .suppa_rwd_menu_dropdown > .suppa_rwd_submenu > .suppa_dropdown_item_container > .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
                padding-left:56px !important;
            }
            .header2 .suppa_rwd_menu_dropdown > .suppa_rwd_submenu > .suppa_dropdown_item_container > .suppa_rwd_submenu > .suppa_dropdown_item_container > .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
                padding-left:76px !important;
            }

            /* Main Links Arrows */
            .header2 .suppa_rwd_menu > a .era_rwd_suppa_arrow_box {
                font-size:14px !important;

                /* color/bg/border */
                color:#252a2c;
            }
            .header2 .suppa_rwd_menu:hover > a .era_rwd_suppa_arrow_box {
                color:#fba446 !important;
            }
            .header2 .era_rwd_suppa_arrow_both_open{
                color :#252a2c !important;
                background-color:#FFFFFF !important;
            }
            .header2 .era_rwd_suppa_link_both_open{
                color :#fba446 !important;
                background-color :#FFFFFF !important;
            }

            /* Search Form */
            .header2 .suppa_rwd_search{
                border-bottom:1px solid #f8f8f8 !important;
            }
            .header2 .suppa_rwd_search{
                padding-top:10px !important;
                padding-bottom:10px !important;
                padding-right:0px !important;
                padding-left:10px !important;

            }
            .header2 .suppa_rwd_search input[type="text"]{
                background-color:#ffffff;
                height:;
                line-height:;
                color:#34303b !important;

                padding-left:5px;
                padding-right:5px;

                font-size:12;
                font-family:Arial , sans-serif;
                font-style:normal;

                -webkit-border-radius:0px;
                -moz-border-radius:0px;
                border-radius:0px;

                border:1px solid #FFFFFF;
            }


            /* Mega Posts */
            .header2 .suppa_rwd_submenu_mega_posts > a {
                padding-left:40px !important;
            }


            /** ----------------------------------------------------------------
             ******** RWD Icons Style
             ---------------------------------------------------------------- **/
            .header2 .suppa_rwd_menu > a .ctf_suppa_fa_box,
            .header2 .suppa_rwd_menu .suppa_dropdown_item_container .ctf_suppa_fa_box{
                color :#252a2c;

            }
            .header2 .era_rwd_suppa_link_both_open .ctf_suppa_fa_box,
            .header2 .suppa_rwd_menu:hover > a .ctf_suppa_fa_box,
            .header2 .suppa_rwd_menu .suppa_dropdown_item_container a:hover .ctf_suppa_fa_box {
                color :#fba446 !important;
            }


            /** F.Awesome Icons **/
            .header2 .suppa_rwd_menu > a .suppa_FA_icon,
            .header2 .suppa_rwd_menu .suppa_dropdown_item_container .suppa_FA_icon
             {
                font-size:18px !important;
                padding-top: 8px !important;
                padding-right: 16px !important;
            }

            /** Uploaded Icons **/
            .header2 .suppa_rwd_menu > a .suppa_UP_icon,
            .header2 .suppa_rwd_menu .suppa_dropdown_item_container a .suppa_UP_icon
             {
                width : 18px !important;
                height : 18px !important;
                padding-top: 10px !important;
                padding-right: 16px !important;
            }

        /* SKIN -- Menu Transparent - for Header 1 */
.header1and5 .suppa_column_link {}
.header1and5 .suppa_menu {float: none !important;}

/* SKIN --Menu Boxed - for Header 2 */
#navbarwhitebox .header2 .suppa_menu .suppa_top_level_link .ctf_suppa_fa_box  {display:none !important}
#navbarwhitebox .header2 .suppa_menu .suppa_top_level_link.cart-contents .ctf_suppa_fa_box, #navbarwhitebox .header2 .suppa_menu .suppa_top_level_link.cart-contents .ctf_suppa_fa_box {display:block !important}
.header2 .suppa_top_level_link .suppa_item_title {text-transform: uppercase}
.header2 .suppa_menu {float: none !important;}
.header2 .suppa_menu .suppa_top_level_link.suppa_menu_position_left, .header2 .suppa_menu .suppa_menu_position_left, .header2 .suppa_menu_logo.logo_left_menu_right {border-right-width: 0 !important}
#navbarwhitebox .header2 .suppa_top_level_link.suppa_search_icon {}
#navbarwhitebox .header2 .suppa_menu_woocommerce_cart a.cart-contents span { padding-top: 0px !important;}
#navbarwhitebox .header2 .suppa_menu_woocommerce_cart a.cart-contents > span { padding-top: 40px !important;}
#navbarwhitebox .header2 .suppa_menu_woocommerce_cart a.cart-contents > span > span {}
#navbarwhitebox .header2 .suppa_menu .suppa_top_level_link.suppa_menu_position_left, .header2 .suppa_menu .suppa_menu_position_left { padding-left: 30px;}
#navbarwhitebox .header2 .suppa_submenu_modern_search form, #navbarwhitebox .header2 .suppa_submenu_modern_search input {   height: 70px !important;}
.header2.suppa-stick {height: 110px;}

/* SKIN -- Menu Line - for Header 3 */
.head3 [id*="menu-mainmenu"], .head3 [id*="menu-headermenu"] { background-color: transparent !important;}
.head3m .header3.suppaMenu_wrap_wide_layout { padding-top: 20px;  padding-bottom: 20px;}
.head3 .suppa_top_level_link {text-transform: uppercase}
.header3 .suppa_menu {float: none !important;}
.head3 .header3 .suppa_menu_woocommerce_cart a.cart-contents span { padding-top: 3px !important;}
.head3 .header3 .suppa_menu_woocommerce_cart a.cart-contents > span { padding-top: 8px !important;}
.header3 .suppa_menu_woocommerce_cart .suppa_top_level_link .ctf_suppa_fa_box {margin-top: 5px !important;}
.header3 .suppa_column_link {}
.header3 .suppa_column_link:hover {}
.header3 .suppa_top_level_link, .header3 .suppa_menu_woocommerce_cart, .header3 .suppa_menu_woocommerce_cart a {height: 48px !important;  border-radius: 4px;}
.head3 .header3 span.suppa_top_level_link.suppa_search_icon { background-color:#9c79e3 !important; padding: 13px 15px !important; border-radius:4px !important;border:0 !important; margin:0px 7px 0 10px !important; cursor:pointer;}
.header3 .suppa_top_level_link.suppa_search_icon { height: 47px !important;}
.head3 .header3 span:hover.suppa_top_level_link.suppa_search_icon:hover { border:0 !important;color: #8358dc !important; background-color:#FFF !important; text-decoration:none}
.header3 .suppa_submenu {top: 68px !important;}
.header3 .suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_item_title, 
.header3 .suppa_menu .suppa_top_level_link .ctf_suppa_fa_box {margin-top: 3px !important;}

/* SKIN -- Digital Menu 1 */
.head4 #menu-mainmenu, .head4 [id*="menu-headermenu"] { background-color: transparent !important;}
.header4 .suppa_top_level_link .suppa_item_title {text-transform: uppercase}
.header4 .suppa_menu {float: none !important;}
.header4 .suppa_column_link {}
.header4 .suppa_column_link:hover {}

.header4 .suppa_menu_woocommerce_cart a.cart-contents span {padding-top: 3px !important;}
.header4 .suppa_menu_woocommerce_cart a.cart-contents > span {padding-top: 28px !important;}
.header4 .suppa_menu .suppa_top_level_link .ctf_suppa_fa_box {margin-top: 3px !important;}