<div class="container">
  <h3 mat-dialog-title>Agregar Campaña <mat-icon matSuffix >volume_up</mat-icon></h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <mat-grid-list cols="2" rowHeight="4:1">
      <mat-grid-tile>
        <div class="form">
          <mat-form-field class="company" color="accent">
            <input matInput #input class="form-control" placeholder="Nombre de la campaña" [(ngModel)]="data.name" name="name" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="form">
          <mat-form-field>
            <select matNativeControl placeholder="País" [(ngModel)]="data.country" name="country" required>
              <option value="COLOMBIA">COLOMBIA</option>
              <option value="ESTADOS UNIDOS">ESTADOS UNIDOS</option>
            </select>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

      
      <!-- <mat-grid-tile>
        <div class="form">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Fecha inicial" [(ngModel)]="data.date_start" name="date_start"  required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Hora" [(ngModel)]="hour" name="hour" type="time" atp-time-picker value="20:55" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

        </div>
      </mat-grid-tile> -->
      <mat-grid-list cols="1" rowHeight="8:1">
        <mat-grid-tile>
              <textarea class="form-control" placeholder="Mensaje" [(ngModel)]="data.message" name="message" required ></textarea>
        </mat-grid-tile>
      </mat-grid-list>

        
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>
