.container {
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    min-height: 400px;
  }
  
  #cdk-overlay-1{
    height: 90% !important;
  }
  .mat-dialog-content{
    overflow: unset !important;
  }
  
  .container > * {
    width: 100%;
  }
  
  .form {
    display: flex;
    padding-top: 6px;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }

  .mat-dialog-title{
    text-align: center;
  }

  .company{
    width: 318px;
  }