    <div class="content">

      <h3>importar clientes-facturación</h3>

      <div *ngIf="!spinner">
          <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
          <button type="button" class="btn btn-info" (click)="Upload()" >Ejecutar importación </button>
      </div>

      <div>
          <h2>Archivo ejemplo</h2>
          <img src="./assets/img/Excel-icon.png" width="20" class="md-card-image style_icon" alt="image caption"/>
          <a href="../assets/docs/ejemplo2.xlsx" download="ejemploexcel">
              Descargar Archivo
          </a>
      </div>

      <div *ngIf="importExe">
          <mat-card>
              <h2 class="okImport">Se importaron</h2>
              <h4 class="textOkImport">{{ importSuccess }} registro(s)</h4>
          </mat-card>
          <mat-card>
              <h2 class="faildImport">No se importaron</h2>
              <h4 class="textFaildImport">{{ importFaild }} registro(s)</h4>
          </mat-card>
      </div>

      <div class="spinner-content" *ngIf="spinner">
          <mat-spinner></mat-spinner>
      </div>
    </div>
