<div class="container">
  <h3 mat-dialog-title>Estas seguro?</h3>
  <div mat-dialog-content>
    <p></p>
    Nombre de la categoria: {{data.title}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Borrar</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
  </div>
</div>