<div class="container">
  <h3 mat-dialog-title>Agregar Cliente</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <mat-grid-list cols="3" rowHeight="4:1">
      <mat-grid-tile>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Nombre completo" [(ngModel)]="data.name" name="name" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      
      <mat-grid-tile>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Identificación" [(ngModel)]="data.identification" name="name" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="form">
          <mat-form-field>
            <select matNativeControl placeholder="País" [(ngModel)]="data.country" name="country" required>
              <option value="COLOMBIA">COLOMBIA</option>
              <option value="ESTADOS UNIDOS">ESTADOS UNIDOS</option>
            </select>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Estado" [(ngModel)]="data.state" name="state" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>


      <mat-grid-tile>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Ciudad" [(ngModel)]="data.city" name="city" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Dirección" [(ngModel)]="data.address" name="address" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>


      <mat-grid-tile>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Celular" [(ngModel)]="data.phone" name="phone" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Email" [(ngModel)]="data.email" name="email" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>


    </mat-grid-list>

        
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Guardar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>
