    <div class="container" *ngIf="!spinner">
        <h3 mat-dialog-title>Agregar Plan</h3>
      
        <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
      
          <mat-grid-list cols="3" rowHeight="4:1">
            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="Nombre" [(ngModel)]="data.name" name="name" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
      
            
            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="Max. Subida" [(ngModel)]="data.maxRise" name="maxRise" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
      
            <mat-grid-tile>
              <div class="form">
                  <mat-form-field color="accent">
                    <input matInput #input class="form-control" placeholder="Unidad subida" [(ngModel)]="data.uploadUnit" name="uploadUnit" required >
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
              </div>
            </mat-grid-tile>
      
            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="Max. Bajada" [(ngModel)]="data.maxDesc" name="maxDesc" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
      
      
            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="Unidad bajada" [(ngModel)]="data.descentUnit" name="descentUnit" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                
                  <mat-label>Frecuencia</mat-label>
                  <mat-select [(ngModel)]="data.frequency" name="frequency" required >
                    <mat-option></mat-option>
                    <mat-option value="Mensual">Mensual</mat-option>
                    <mat-option value="Trimestral">Trimestral</mat-option>
                    <mat-option value="Semestral">Semestral</mat-option>
                  </mat-select>

                </mat-form-field>
              </div>
            </mat-grid-tile>
      
          
          </mat-grid-list>
      
              
          <div mat-dialog-actions>
            <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="savePlan()">Guardar</button>
            <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </form>
    </div>
    <div *ngIf="spinner">
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </div>
  