    <div class="container" *ngIf="!spinner">
        <h3 mat-dialog-title>Agregar Mikrotik</h3>
      
        <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
      
          <mat-grid-list cols="3" rowHeight="4:1">
            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="Nombre" [(ngModel)]="data.name" name="name" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
      
            
            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="Host" [(ngModel)]="data.host" name="host" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
      
            <mat-grid-tile>
              <div class="form">
                  <mat-form-field color="accent">
                    <input matInput #input class="form-control" placeholder="Usuario" [(ngModel)]="data.user" name="user" required >
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
              </div>
            </mat-grid-tile>
      
            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="password" [(ngModel)]="data.password" name="password" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
      
      
            <mat-grid-tile>
              <div class="form">
                <mat-form-field color="accent">
                  <input matInput #input class="form-control" placeholder="Puerto" [(ngModel)]="data.port" name="port" required >
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </mat-grid-tile>
      
          
          </mat-grid-list>
      
              
          <div mat-dialog-actions>
            <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="saveMikrotik()">Guardar</button>
            <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
          </div>
        </form>
    </div>
    <div *ngIf="spinner">
      <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
    </div>
  